In [ ]:
# installing required SQL magic packages 
#!pip install sqlachemy
#!pip install ipython-sql
#!pip install pymysql

In [ ]:
##import necessary libraries
import sqlite3
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
# connect to the sqlite database (it will be created since it doesn't exit)
%load_ext sql

engine = create_engine("sqlite:///bonga_ecommerce.db")
%config SQL.conn_name = 'engine'

conn = sqlite3.connect("bonga_ecommerce.db")
cursor = conn.cursor()

%sql sqlite:///bonga_ecommerce.db

# Create table

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
# Data Definition Languages (DDL)
# Create tables
cursor.execute('''
CREATE TABLE IF NOT EXISTS products(
    product_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    price DECIMAL NOT NULL,
    category TEXT NOT NULL
)    
''')


cursor.execute('''
CREATE TABLE IF NOT EXISTS customers(
    customer_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL
)    
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS orders(
    order_id INTEGER PRIMARY KEY,
    customer_id INTEGER NOT NULL,
    order_date DATE NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
)    
''')


cursor.execute('''
CREATE TABLE IF NOT EXISTS orderitems(
    order_item_id INTEGER PRIMARY KEY,
    order_id INTEGER NOT NULL,
    product_id INTEGER NOT NULL,
    quantity product_id NOT NULL,
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
)    
''')

In [ ]:
%%sql
SELECT name FROM sqlite_master WHERE type in ('table','view') AND name NOT LIKE 'sqlite_%' ORDER BY 1

 * sqlite:///bonga_ecommerce.db
Done.

[('customers',), ('orderitems',), ('orders',), ('products',)]

In [ ]:
# Drop tables
cursor.execute('''
DROP TABLE IF EXISTS products;
''')

cursor.execute('''
DROP TABLE IF EXISTS customers;
''')

cursor.execute('''
DROP TABLE IF EXISTS orders;
''')

cursor.execute('''
DROP TABLE IF EXISTS ordersitems;
''')

In [ ]:
#function to load the data into the database table
def load_data_to_table(csv_path, table_name):
    df = pd.read_csv(csv_path)
    df.to_sql(table_name, conn, if_exists= 'append', index=False)

In [ ]:
# loading the dataset to our database table
load_data_to_table('Products.csv', 'products')
load_data_to_table('Customers.csv', 'customers')
load_data_to_table('Orders.csv', 'orders')
load_data_to_table('Order_items.csv', 'orderitems')

IntegrityError: UNIQUE constraint failed: orderitems.order_item_id

# DATA MANIPULATION LANGUAGE

 ## INSERT
 Example1

# Adding a new product

In [ ]:
%%sql

INSERT INTO products (name, price, category) VALUES ('New gadget', 299.99, 'Electronics')

 * sqlite:///bonga_ecommerce.db
1 rows affected.

[]

In [ ]:
%%sql

SELECT * FROM products;

 * sqlite:///bonga_ecommerce.db
Done.

[(1, 'Product 1', 193.52, 'Fashion'),
 (2, 'Product 2', 475.85, 'Home & Kitchen'),
 (3, 'Product 3', 368.68, 'Toys'),
 (4, 'Product 4', 303.34, 'Electronics'),
 (5, 'Product 5', 86.45, 'Toys'),
 (6, 'Product 6', 86.44, 'Electronics'),
 (7, 'Product 7', 38.46, 'Books'),
 (8, 'Product 8', 434.43, 'Electronics'),
 (9, 'Product 9', 304.55, 'Fashion'),
 (10, 'Product 10', 356.96, 'Home & Kitchen'),
 (11, 'Product 11', 20.09, 'Books'),
 (12, 'Product 12', 485.26, 'Electronics'),
 (13, 'Product 13', 417.9, 'Toys'),
 (14, 'Product 14', 114.05, 'Books'),
 (15, 'Product 15', 99.09, 'Books'),
 (16, 'Product 16', 99.87, 'Electronics'),
 (17, 'Product 17', 159.08, 'Books'),
 (18, 'Product 18', 267.13, 'Toys'),
 (19, 'Product 19', 221.65, 'Books'),
 (20, 'Product 20', 152.7, 'Toys'),
 (21, 'Product 21', 309.81, 'Electronics'),
 (22, 'Product 22', 78.35, 'Home & Kitchen'),
 (23, 'Product 23', 153.15, 'Books'),
 (24, 'Product 24', 189.52, 'Home & Kitchen'),
 (25, 'Product 25', 233.47, 'Toys'),
 (26, 'Product 26', 394.74, 'Books'),
 (27, 'Product 27', 107.84, 'Fashion'),
 (28, 'Product 28', 261.97, 'Home & Kitchen'),
 (29, 'Product 29', 300.28, 'Books'),
 (30, 'Product 30', 32.76, 'Home & Kitchen'),
 (31, 'Product 31', 307.7, 'Books'),
 (32, 'Product 32', 93.56, 'Electronics'),
 (33, 'Product 33', 41.88, 'Home & Kitchen'),
 (34, 'Product 34', 474.95, 'Fashion'),
 (35, 'Product 35', 483.16, 'Fashion'),
 (36, 'Product 36', 406.11, 'Toys'),
 (37, 'Product 37', 159.26, 'Books'),
 (38, 'Product 38', 57.86, 'Home & Kitchen'),
 (39, 'Product 39', 345.27, 'Toys'),
 (40, 'Product 40', 225.67, 'Home & Kitchen'),
 (41, 'Product 41', 69.8, 'Books'),
 (42, 'Product 42', 252.64, 'Fashion'),
 (43, 'Product 43', 26.85, 'Electronics'),
 (44, 'Product 44', 455.57, 'Fashion'),
 (45, 'Product 45', 136.8, 'Toys'),
 (46, 'Product 46', 334.64, 'Electronics'),
 (47, 'Product 47', 162.74, 'Toys'),
 (48, 'Product 48', 264.83, 'Books'),
 (49, 'Product 49', 277.89, 'Electronics'),
 (50, 'Product 50', 100.58, 'Toys'),
 (51, 'Product 51', 485.1, 'Books'),
 (52, 'Product 52', 389.82, 'Fashion'),
 (53, 'Product 53', 470.35, 'Books'),
 (54, 'Product 54', 448.47, 'Home & Kitchen'),
 (55, 'Product 55', 302.97, 'Books'),
 (56, 'Product 56', 461.72, 'Books'),
 (57, 'Product 57', 53.36, 'Home & Kitchen'),
 (58, 'Product 58', 106.03, 'Toys'),
 (59, 'Product 59', 32.16, 'Toys'),
 (60, 'Product 60', 169.41, 'Books'),
 (61, 'Product 61', 200.45, 'Home & Kitchen'),
 (62, 'Product 62', 142.96, 'Home & Kitchen'),
 (63, 'Product 63', 416.08, 'Fashion'),
 (64, 'Product 64', 184.81, 'Toys'),
 (65, 'Product 65', 147.66, 'Electronics'),
 (66, 'Product 66', 275.92, 'Toys'),
 (67, 'Product 67', 79.05, 'Toys'),
 (68, 'Product 68', 403.08, 'Fashion'),
 (69, 'Product 69', 46.53, 'Electronics'),
 (70, 'Product 70', 493.57, 'Fashion'),
 (71, 'Product 71', 388.4, 'Electronics'),
 (72, 'Product 72', 107.37, 'Books'),
 (73, 'Product 73', 12.71, 'Electronics'),
 (74, 'Product 74', 409.58, 'Fashion'),
 (75, 'Product 75', 356.36, 'Toys'),
 (76, 'Product 76', 367.21, 'Electronics'),
 (77, 'Product 77', 387.92, 'Electronics'),
 (78, 'Product 78', 46.28, 'Home & Kitchen'),
 (79, 'Product 79', 185.65, 'Toys'),
 (80, 'Product 80', 66.78, 'Books'),
 (81, 'Product 81', 432.92, 'Fashion'),
 (82, 'Product 82', 315.42, 'Books'),
 (83, 'Product 83', 172.14, 'Toys'),
 (84, 'Product 84', 41.14, 'Electronics'),
 (85, 'Product 85', 162.38, 'Electronics'),
 (86, 'Product 86', 169.34, 'Toys'),
 (87, 'Product 87', 367.51, 'Electronics'),
 (88, 'Product 88', 322.4, 'Electronics'),
 (89, 'Product 89', 444.73, 'Electronics'),
 (90, 'Product 90', 241.39, 'Fashion'),
 (91, 'Product 91', 68.6, 'Fashion'),
 (92, 'Product 92', 359.49, 'Home & Kitchen'),
 (93, 'Product 93', 382.78, 'Books'),
 (94, 'Product 94', 285.03, 'Toys'),
 (95, 'Product 95', 387.77, 'Toys'),
 (96, 'Product 96', 251.96, 'Toys'),
 (97, 'Product 97', 266.14, 'Home & Kitchen'),
 (98, 'Product 98', 219.5, 'Fashion'),
 (99, 'Product 99', 22.46, 'Home & Kitchen'),
 (100, 'Product 100', 62.87, 'Toys'),
 (101, 'Product 101', 25.4, 'Books'),
 (102, 'Product 102', 321.84, 'Electronics'),
 (103, 'Product 103', 164.03, 'Fashion'),
 (104, 'Product 104', 259.2, 'Fashion'),
 (105, 'Product 105', 454.71, 'Home & Kitchen'),
 (106, 'Product 106', 132.15, 'Fashion'),
 (107, 'Product 107', 211.09, 'Toys'),
 (108, 'Product 108', 380.22, 'Toys'),
 (109, 'Product 109', 122.11, 'Home & Kitchen'),
 (110, 'Product 110', 47.72, 'Toys'),
 (111, 'Product 111', 151.98, 'Books'),
 (112, 'Product 112', 89.0, 'Home & Kitchen'),
 (113, 'Product 113', 465.55, 'Books'),
 (114, 'Product 114', 405.98, 'Electronics'),
 (115, 'Product 115', 320.37, 'Books'),
 (116, 'Product 116', 437.02, 'Electronics'),
 (117, 'Product 117', 403.8, 'Electronics'),
 (118, 'Product 118', 101.42, 'Books'),
 (119, 'Product 119', 447.35, 'Home & Kitchen'),
 (120, 'Product 120', 274.28, 'Toys'),
 (121, 'Product 121', 405.65, 'Toys'),
 (122, 'Product 122', 449.08, 'Electronics'),
 (123, 'Product 123', 165.82, 'Electronics'),
 (124, 'Product 124', 63.93, 'Home & Kitchen'),
 (125, 'Product 125', 121.69, 'Fashion'),
 (126, 'Product 126', 219.28, 'Books'),
 (127, 'Product 127', 410.83, 'Electronics'),
 (128, 'Product 128', 431.76, 'Toys'),
 (129, 'Product 129', 13.41, 'Home & Kitchen'),
 (130, 'Product 130', 260.27, 'Books'),
 (131, 'Product 131', 214.53, 'Home & Kitchen'),
 (132, 'Product 132', 118.83, 'Books'),
 (133, 'Product 133', 68.73, 'Books'),
 (134, 'Product 134', 175.43, 'Electronics'),
 (135, 'Product 135', 472.03, 'Home & Kitchen'),
 (136, 'Product 136', 168.37, 'Home & Kitchen'),
 (137, 'Product 137', 264.21, 'Toys'),
 (138, 'Product 138', 354.48, 'Toys'),
 (139, 'Product 139', 188.18, 'Electronics'),
 (140, 'Product 140', 486.17, 'Electronics'),
 (141, 'Product 141', 481.6, 'Fashion'),
 (142, 'Product 142', 133.37, 'Toys'),
 (143, 'Product 143', 253.65, 'Books'),
 (144, 'Product 144', 157.43, 'Home & Kitchen'),
 (145, 'Product 145', 149.57, 'Electronics'),
 (146, 'Product 146', 28.07, 'Home & Kitchen'),
 (147, 'Product 147', 308.69, 'Home & Kitchen'),
 (148, 'Product 148', 256.31, 'Fashion'),
 (149, 'Product 149', 35.22, 'Toys'),
 (150, 'Product 150', 146.54, 'Electronics'),
 (151, 'Product 151', 455.05, 'Home & Kitchen'),
 (152, 'Product 152', 127.39, 'Electronics'),
 (153, 'Product 153', 81.0, 'Books'),
 (154, 'Product 154', 249.83, 'Fashion'),
 (155, 'Product 155', 492.97, 'Books'),
 (156, 'Product 156', 128.61, 'Electronics'),
 (157, 'Product 157', 339.35, 'Electronics'),
 (158, 'Product 158', 383.19, 'Toys'),
 (159, 'Product 159', 126.44, 'Home & Kitchen'),
 (160, 'Product 160', 366.83, 'Home & Kitchen'),
 (161, 'Product 161', 190.21, 'Books'),
 (162, 'Product 162', 319.83, 'Fashion'),
 (163, 'Product 163', 320.43, 'Home & Kitchen'),
 (164, 'Product 164', 272.53, 'Toys'),
 (165, 'Product 165', 54.24, 'Books'),
 (166, 'Product 166', 419.3, 'Books'),
 (167, 'Product 167', 167.18, 'Toys'),
 (168, 'Product 168', 101.39, 'Fashion'),
 (169, 'Product 169', 29.98, 'Toys'),
 (170, 'Product 170', 299.54, 'Fashion'),
 (171, 'Product 171', 342.01, 'Toys'),
 (172, 'Product 172', 18.13, 'Toys'),
 (173, 'Product 173', 260.93, 'Electronics'),
 (174, 'Product 174', 120.98, 'Books'),
 (175, 'Product 175', 326.13, 'Toys'),
 (176, 'Product 176', 95.44, 'Toys'),
 (177, 'Product 177', 348.56, 'Home & Kitchen'),
 (178, 'Product 178', 199.5, 'Books'),
 (179, 'Product 179', 469.0, 'Home & Kitchen'),
 (180, 'Product 180', 77.39, 'Books'),
 (181, 'Product 181', 177.12, 'Home & Kitchen'),
 (182, 'Product 182', 65.6, 'Toys'),
 (183, 'Product 183', 463.1, 'Toys'),
 (184, 'Product 184', 439.9, 'Electronics'),
 (185, 'Product 185', 136.39, 'Home & Kitchen'),
 (186, 'Product 186', 333.39, 'Fashion'),
 (187, 'Product 187', 410.44, 'Electronics'),
 (188, 'Product 188', 282.05, 'Home & Kitchen'),
 (189, 'Product 189', 269.53, 'Home & Kitchen'),
 (190, 'Product 190', 128.51, 'Electronics'),
 (191, 'Product 191', 55.62, 'Toys'),
 (192, 'Product 192', 449.64, 'Home & Kitchen'),
 (193, 'Product 193', 451.2, 'Toys'),
 (194, 'Product 194', 320.22, 'Electronics'),
 (195, 'Product 195', 176.12, 'Toys'),
 (196, 'Product 196', 181.11, 'Books'),
 (197, 'Product 197', 365.72, 'Fashion'),
 (198, 'Product 198', 449.58, 'Home & Kitchen'),
 (199, 'Product 199', 444.67, 'Fashion'),
 (200, 'Product 200', 392.14, 'Toys'),
 (201, 'Product 201', 324.6, 'Home & Kitchen'),
 (202, 'Product 202', 51.23, 'Toys'),
 (203, 'Product 203', 89.2, 'Books'),
 (204, 'Product 204', 450.29, 'Electronics'),
 (205, 'Product 205', 307.15, 'Home & Kitchen'),
 (206, 'Product 206', 14.51, 'Books'),
 (207, 'Product 207', 59.72, 'Books'),
 (208, 'Product 208', 335.12, 'Home & Kitchen'),
 (209, 'Product 209', 12.48, 'Toys'),
 (210, 'Product 210', 88.8, 'Books'),
 (211, 'Product 211', 278.88, 'Fashion'),
 (212, 'Product 212', 349.03, 'Books'),
 (213, 'Product 213', 329.46, 'Toys'),
 (214, 'Product 214', 119.89, 'Toys'),
 (215, 'Product 215', 358.97, 'Fashion'),
 (216, 'Product 216', 126.25, 'Books'),
 (217, 'Product 217', 169.45, 'Toys'),
 (218, 'Product 218', 375.78, 'Home & Kitchen'),
 (219, 'Product 219', 328.32, 'Electronics'),
 (220, 'Product 220', 426.12, 'Electronics'),
 (221, 'Product 221', 332.23, 'Electronics'),
 (222, 'Product 222', 288.47, 'Books'),
 (223, 'Product 223', 55.9, 'Fashion'),
 (224, 'Product 224', 190.18, 'Toys'),
 (225, 'Product 225', 139.95, 'Home & Kitchen'),
 (226, 'Product 226', 129.55, 'Home & Kitchen'),
 (227, 'Product 227', 486.78, 'Books'),
 (228, 'Product 228', 202.62, 'Electronics'),
 (229, 'Product 229', 447.1, 'Books'),
 (230, 'Product 230', 319.26, 'Fashion'),
 (231, 'Product 231', 399.46, 'Fashion'),
 (232, 'Product 232', 256.29, 'Toys'),
 (233, 'Product 233', 292.68, 'Toys'),
 (234, 'Product 234', 251.33, 'Fashion'),
 (235, 'Product 235', 105.67, 'Fashion'),
 (236, 'Product 236', 364.0, 'Fashion'),
 (237, 'Product 237', 147.58, 'Books'),
 (238, 'Product 238', 21.91, 'Fashion'),
 (239, 'Product 239', 326.28, 'Home & Kitchen'),
 (240, 'Product 240', 96.78, 'Electronics'),
 (241, 'Product 241', 470.82, 'Fashion'),
 (242, 'Product 242', 477.43, 'Electronics'),
 (243, 'Product 243', 458.28, 'Books'),
 (244, 'Product 244', 191.38, 'Electronics'),
 (245, 'Product 245', 17.57, 'Books'),
 (246, 'Product 246', 464.88, 'Home & Kitchen'),
 (247, 'Product 247', 219.81, 'Books'),
 (248, 'Product 248', 483.66, 'Books'),
 (249, 'Product 249', 482.17, 'Toys'),
 (250, 'Product 250', 427.97, 'Fashion'),
 (251, 'Product 251', 154.28, 'Fashion'),
 (252, 'Product 252', 198.7, 'Home & Kitchen'),
 (253, 'Product 253', 427.06, 'Home & Kitchen'),
 (254, 'Product 254', 165.29, 'Fashion'),
 (255, 'Product 255', 93.05, 'Toys'),
 (256, 'Product 256', 282.83, 'Fashion'),
 (257, 'Product 257', 468.72, 'Toys'),
 (258, 'Product 258', 351.05, 'Home & Kitchen'),
 (259, 'Product 259', 289.33, 'Electronics'),
 (260, 'Product 260', 57.62, 'Home & Kitchen'),
 (261, 'Product 261', 311.35, 'Home & Kitchen'),
 (262, 'Product 262', 495.13, 'Books'),
 (263, 'Product 263', 78.64, 'Books'),
 (264, 'Product 264', 263.98, 'Books'),
 (265, 'Product 265', 439.91, 'Books'),
 (266, 'Product 266', 372.98, 'Toys'),
 (267, 'Product 267', 351.54, 'Fashion'),
 (268, 'Product 268', 354.22, 'Electronics'),
 (269, 'Product 269', 186.15, 'Home & Kitchen'),
 (270, 'Product 270', 153.86, 'Toys'),
 (271, 'Product 271', 406.59, 'Electronics'),
 (272, 'Product 272', 406.96, 'Toys'),
 (273, 'Product 273', 434.87, 'Toys'),
 (274, 'Product 274', 457.49, 'Home & Kitchen'),
 (275, 'Product 275', 260.56, 'Fashion'),
 (276, 'Product 276', 255.74, 'Books'),
 (277, 'Product 277', 401.16, 'Fashion'),
 (278, 'Product 278', 328.48, 'Home & Kitchen'),
 (279, 'Product 279', 353.96, 'Home & Kitchen'),
 (280, 'Product 280', 399.94, 'Home & Kitchen'),
 (281, 'Product 281', 446.1, 'Electronics'),
 (282, 'Product 282', 175.62, 'Fashion'),
 (283, 'Product 283', 194.04, 'Fashion'),
 (284, 'Product 284', 56.05, 'Toys'),
 (285, 'Product 285', 293.36, 'Toys'),
 (286, 'Product 286', 27.61, 'Toys'),
 (287, 'Product 287', 238.14, 'Home & Kitchen'),
 (288, 'Product 288', 275.9, 'Fashion'),
 (289, 'Product 289', 150.41, 'Home & Kitchen'),
 (290, 'Product 290', 299.51, 'Electronics'),
 (291, 'Product 291', 24.95, 'Toys'),
 (292, 'Product 292', 28.3, 'Home & Kitchen'),
 (293, 'Product 293', 413.07, 'Home & Kitchen'),
 (294, 'Product 294', 186.49, 'Electronics'),
 (295, 'Product 295', 72.26, 'Books'),
 (296, 'Product 296', 265.9, 'Fashion'),
 (297, 'Product 297', 387.3, 'Books'),
 (298, 'Product 298', 115.75, 'Toys'),
 (299, 'Product 299', 315.22, 'Home & Kitchen'),
 (300, 'Product 300', 51.82, 'Electronics'),
 (301, 'Product 301', 35.32, 'Electronics'),
 (302, 'Product 302', 270.36, 'Fashion'),
 (303, 'Product 303', 274.91, 'Books'),
 (304, 'Product 304', 322.34, 'Fashion'),
 (305, 'Product 305', 365.78, 'Home & Kitchen'),
 (306, 'Product 306', 488.17, 'Fashion'),
 (307, 'Product 307', 262.99, 'Electronics'),
 (308, 'Product 308', 168.25, 'Electronics'),
 (309, 'Product 309', 399.64, 'Toys'),
 (310, 'Product 310', 142.71, 'Toys'),
 (311, 'Product 311', 225.1, 'Home & Kitchen'),
 (312, 'Product 312', 48.44, 'Books'),
 (313, 'Product 313', 22.42, 'Fashion'),
 (314, 'Product 314', 481.7, 'Home & Kitchen'),
 (315, 'Product 315', 419.63, 'Toys'),
 (316, 'Product 316', 351.03, 'Fashion'),
 (317, 'Product 317', 210.39, 'Toys'),
 (318, 'Product 318', 94.91, 'Fashion'),
 (319, 'Product 319', 86.65, 'Books'),
 (320, 'Product 320', 132.62, 'Home & Kitchen'),
 (321, 'Product 321', 279.12, 'Fashion'),
 (322, 'Product 322', 360.15, 'Electronics'),
 (323, 'Product 323', 333.5, 'Electronics'),
 (324, 'Product 324', 147.17, 'Fashion'),
 (325, 'Product 325', 477.88, 'Fashion'),
 (326, 'Product 326', 371.57, 'Fashion'),
 (327, 'Product 327', 281.63, 'Electronics'),
 (328, 'Product 328', 309.74, 'Electronics'),
 (329, 'Product 329', 215.6, 'Fashion'),
 (330, 'Product 330', 131.39, 'Toys'),
 (331, 'Product 331', 184.43, 'Toys'),
 (332, 'Product 332', 381.34, 'Books'),
 (333, 'Product 333', 17.05, 'Home & Kitchen'),
 (334, 'Product 334', 66.88, 'Toys'),
 (335, 'Product 335', 32.54, 'Electronics'),
 (336, 'Product 336', 29.96, 'Toys'),
 (337, 'Product 337', 429.18, 'Books'),
 (338, 'Product 338', 354.79, 'Books'),
 (339, 'Product 339', 242.35, 'Home & Kitchen'),
 (340, 'Product 340', 57.94, 'Toys'),
 (341, 'Product 341', 250.89, 'Electronics'),
 (342, 'Product 342', 242.0, 'Electronics'),
 (343, 'Product 343', 94.87, 'Fashion'),
 (344, 'Product 344', 222.59, 'Electronics'),
 (345, 'Product 345', 205.27, 'Home & Kitchen'),
 (346, 'Product 346', 311.77, 'Home & Kitchen'),
 (347, 'Product 347', 321.2, 'Electronics'),
 (348, 'Product 348', 32.2, 'Electronics'),
 (349, 'Product 349', 193.56, 'Fashion'),
 (350, 'Product 350', 316.67, 'Electronics'),
 (351, 'Product 351', 256.54, 'Fashion'),
 (352, 'Product 352', 429.68, 'Fashion'),
 (353, 'Product 353', 332.76, 'Electronics'),
 (354, 'Product 354', 89.84, 'Books'),
 (355, 'Product 355', 44.58, 'Books'),
 (356, 'Product 356', 324.79, 'Fashion'),
 (357, 'Product 357', 22.99, 'Electronics'),
 (358, 'Product 358', 297.03, 'Books'),
 (359, 'Product 359', 470.71, 'Electronics'),
 (360, 'Product 360', 291.98, 'Electronics'),
 (361, 'Product 361', 200.2, 'Electronics'),
 (362, 'Product 362', 325.21, 'Toys'),
 (363, 'Product 363', 234.54, 'Electronics'),
 (364, 'Product 364', 277.35, 'Toys'),
 (365, 'Product 365', 471.32, 'Fashion'),
 (366, 'Product 366', 199.19, 'Books'),
 (367, 'Product 367', 480.98, 'Books'),
 (368, 'Product 368', 453.62, 'Books'),
 (369, 'Product 369', 105.94, 'Books'),
 (370, 'Product 370', 43.99, 'Books'),
 (371, 'Product 371', 59.38, 'Books'),
 (372, 'Product 372', 18.93, 'Books'),
 (373, 'Product 373', 56.28, 'Fashion'),
 (374, 'Product 374', 344.67, 'Electronics'),
 (375, 'Product 375', 44.88, 'Home & Kitchen'),
 (376, 'Product 376', 166.3, 'Toys'),
 (377, 'Product 377', 423.99, 'Home & Kitchen'),
 (378, 'Product 378', 21.4, 'Home & Kitchen'),
 (379, 'Product 379', 409.09, 'Electronics'),
 (380, 'Product 380', 148.11, 'Electronics'),
 (381, 'Product 381', 67.9, 'Electronics'),
 (382, 'Product 382', 351.4, 'Books'),
 (383, 'Product 383', 318.18, 'Fashion'),
 (384, 'Product 384', 439.96, 'Books'),
 (385, 'Product 385', 370.18, 'Fashion'),
 (386, 'Product 386', 403.71, 'Fashion'),
 (387, 'Product 387', 148.2, 'Home & Kitchen'),
 (388, 'Product 388', 96.95, 'Home & Kitchen'),
 (389, 'Product 389', 377.8, 'Fashion'),
 (390, 'Product 390', 405.35, 'Fashion'),
 (391, 'Product 391', 495.35, 'Books'),
 (392, 'Product 392', 212.18, 'Books'),
 (393, 'Product 393', 192.29, 'Home & Kitchen'),
 (394, 'Product 394', 390.44, 'Electronics'),
 (395, 'Product 395', 176.99, 'Fashion'),
 (396, 'Product 396', 466.07, 'Books'),
 (397, 'Product 397', 430.62, 'Home & Kitchen'),
 (398, 'Product 398', 220.21, 'Books'),
 (399, 'Product 399', 377.93, 'Fashion'),
 (400, 'Product 400', 379.73, 'Fashion'),
 (401, 'Product 401', 60.53, 'Toys'),
 (402, 'Product 402', 452.25, 'Electronics'),
 (403, 'Product 403', 257.57, 'Toys'),
 (404, 'Product 404', 414.96, 'Home & Kitchen'),
 (405, 'Product 405', 166.82, 'Books'),
 (406, 'Product 406', 448.81, 'Home & Kitchen'),
 (407, 'Product 407', 200.71, 'Fashion'),
 (408, 'Product 408', 15.31, 'Toys'),
 (409, 'Product 409', 453.64, 'Toys'),
 (410, 'Product 410', 54.73, 'Toys'),
 (411, 'Product 411', 166.46, 'Home & Kitchen'),
 (412, 'Product 412', 475.53, 'Fashion'),
 (413, 'Product 413', 475.8, 'Books'),
 (414, 'Product 414', 290.98, 'Books'),
 (415, 'Product 415', 319.6, 'Home & Kitchen'),
 (416, 'Product 416', 229.74, 'Toys'),
 (417, 'Product 417', 153.67, 'Electronics'),
 (418, 'Product 418', 171.05, 'Home & Kitchen'),
 (419, 'Product 419', 339.53, 'Home & Kitchen'),
 (420, 'Product 420', 378.66, 'Fashion'),
 (421, 'Product 421', 397.87, 'Books'),
 (422, 'Product 422', 396.91, 'Home & Kitchen'),
 (423, 'Product 423', 54.69, 'Home & Kitchen'),
 (424, 'Product 424', 252.27, 'Toys'),
 (425, 'Product 425', 38.2, 'Toys'),
 (426, 'Product 426', 279.27, 'Electronics'),
 (427, 'Product 427', 226.35, 'Fashion'),
 (428, 'Product 428', 444.98, 'Electronics'),
 (429, 'Product 429', 181.95, 'Toys'),
 (430, 'Product 430', 67.36, 'Books'),
 (431, 'Product 431', 80.07, 'Toys'),
 (432, 'Product 432', 383.14, 'Fashion'),
 (433, 'Product 433', 312.93, 'Toys'),
 (434, 'Product 434', 59.55, 'Fashion'),
 (435, 'Product 435', 51.21, 'Fashion'),
 (436, 'Product 436', 353.47, 'Fashion'),
 (437, 'Product 437', 45.65, 'Fashion'),
 (438, 'Product 438', 412.71, 'Fashion'),
 (439, 'Product 439', 356.06, 'Books'),
 (440, 'Product 440', 49.86, 'Electronics'),
 (441, 'Product 441', 51.57, 'Home & Kitchen'),
 (442, 'Product 442', 493.45, 'Electronics'),
 (443, 'Product 443', 193.39, 'Fashion'),
 (444, 'Product 444', 191.61, 'Books'),
 (445, 'Product 445', 408.27, 'Toys'),
 (446, 'Product 446', 474.15, 'Books'),
 (447, 'Product 447', 493.14, 'Fashion'),
 (448, 'Product 448', 379.16, 'Books'),
 (449, 'Product 449', 194.37, 'Books'),
 (450, 'Product 450', 50.92, 'Fashion'),
 (451, 'Product 451', 390.8, 'Books'),
 (452, 'Product 452', 283.62, 'Home & Kitchen'),
 (453, 'Product 453', 217.87, 'Home & Kitchen'),
 (454, 'Product 454', 454.11, 'Books'),
 (455, 'Product 455', 64.49, 'Toys'),
 (456, 'Product 456', 251.39, 'Fashion'),
 (457, 'Product 457', 15.56, 'Home & Kitchen'),
 (458, 'Product 458', 239.64, 'Toys'),
 (459, 'Product 459', 37.59, 'Books'),
 (460, 'Product 460', 68.22, 'Toys'),
 (461, 'Product 461', 67.59, 'Electronics'),
 (462, 'Product 462', 328.11, 'Home & Kitchen'),
 (463, 'Product 463', 375.56, 'Books'),
 (464, 'Product 464', 295.85, 'Fashion'),
 (465, 'Product 465', 481.46, 'Books'),
 (466, 'Product 466', 193.69, 'Fashion'),
 (467, 'Product 467', 150.0, 'Books'),
 (468, 'Product 468', 435.61, 'Toys'),
 (469, 'Product 469', 119.56, 'Toys'),
 (470, 'Product 470', 481.98, 'Toys'),
 (471, 'Product 471', 15.96, 'Electronics'),
 (472, 'Product 472', 485.24, 'Fashion'),
 (473, 'Product 473', 31.15, 'Toys'),

In [ ]:
cursor.execute("INSERT INTO products (name, price, category) VALUES (?,?,?)", ('New laptop', 399.99, 'Electronics'))

conn.commit()

In [ ]:
%%sql

SELECT * FROM products;

 * sqlite:///bonga_ecommerce.db
Done.

[(1, 'Product 1', 193.52, 'Fashion'),
 (2, 'Product 2', 475.85, 'Home & Kitchen'),
 (3, 'Product 3', 368.68, 'Toys'),
 (4, 'Product 4', 303.34, 'Electronics'),
 (5, 'Product 5', 86.45, 'Toys'),
 (6, 'Product 6', 86.44, 'Electronics'),
 (7, 'Product 7', 38.46, 'Books'),
 (8, 'Product 8', 434.43, 'Electronics'),
 (9, 'Product 9', 304.55, 'Fashion'),
 (10, 'Product 10', 356.96, 'Home & Kitchen'),
 (11, 'Product 11', 20.09, 'Books'),
 (12, 'Product 12', 485.26, 'Electronics'),
 (13, 'Product 13', 417.9, 'Toys'),
 (14, 'Product 14', 114.05, 'Books'),
 (15, 'Product 15', 99.09, 'Books'),
 (16, 'Product 16', 99.87, 'Electronics'),
 (17, 'Product 17', 159.08, 'Books'),
 (18, 'Product 18', 267.13, 'Toys'),
 (19, 'Product 19', 221.65, 'Books'),
 (20, 'Product 20', 152.7, 'Toys'),
 (21, 'Product 21', 309.81, 'Electronics'),
 (22, 'Product 22', 78.35, 'Home & Kitchen'),
 (23, 'Product 23', 153.15, 'Books'),
 (24, 'Product 24', 189.52, 'Home & Kitchen'),
 (25, 'Product 25', 233.47, 'Toys'),
 (26, 'Product 26', 394.74, 'Books'),
 (27, 'Product 27', 107.84, 'Fashion'),
 (28, 'Product 28', 261.97, 'Home & Kitchen'),
 (29, 'Product 29', 300.28, 'Books'),
 (30, 'Product 30', 32.76, 'Home & Kitchen'),
 (31, 'Product 31', 307.7, 'Books'),
 (32, 'Product 32', 93.56, 'Electronics'),
 (33, 'Product 33', 41.88, 'Home & Kitchen'),
 (34, 'Product 34', 474.95, 'Fashion'),
 (35, 'Product 35', 483.16, 'Fashion'),
 (36, 'Product 36', 406.11, 'Toys'),
 (37, 'Product 37', 159.26, 'Books'),
 (38, 'Product 38', 57.86, 'Home & Kitchen'),
 (39, 'Product 39', 345.27, 'Toys'),
 (40, 'Product 40', 225.67, 'Home & Kitchen'),
 (41, 'Product 41', 69.8, 'Books'),
 (42, 'Product 42', 252.64, 'Fashion'),
 (43, 'Product 43', 26.85, 'Electronics'),
 (44, 'Product 44', 455.57, 'Fashion'),
 (45, 'Product 45', 136.8, 'Toys'),
 (46, 'Product 46', 334.64, 'Electronics'),
 (47, 'Product 47', 162.74, 'Toys'),
 (48, 'Product 48', 264.83, 'Books'),
 (49, 'Product 49', 277.89, 'Electronics'),
 (50, 'Product 50', 100.58, 'Toys'),
 (51, 'Product 51', 485.1, 'Books'),
 (52, 'Product 52', 389.82, 'Fashion'),
 (53, 'Product 53', 470.35, 'Books'),
 (54, 'Product 54', 448.47, 'Home & Kitchen'),
 (55, 'Product 55', 302.97, 'Books'),
 (56, 'Product 56', 461.72, 'Books'),
 (57, 'Product 57', 53.36, 'Home & Kitchen'),
 (58, 'Product 58', 106.03, 'Toys'),
 (59, 'Product 59', 32.16, 'Toys'),
 (60, 'Product 60', 169.41, 'Books'),
 (61, 'Product 61', 200.45, 'Home & Kitchen'),
 (62, 'Product 62', 142.96, 'Home & Kitchen'),
 (63, 'Product 63', 416.08, 'Fashion'),
 (64, 'Product 64', 184.81, 'Toys'),
 (65, 'Product 65', 147.66, 'Electronics'),
 (66, 'Product 66', 275.92, 'Toys'),
 (67, 'Product 67', 79.05, 'Toys'),
 (68, 'Product 68', 403.08, 'Fashion'),
 (69, 'Product 69', 46.53, 'Electronics'),
 (70, 'Product 70', 493.57, 'Fashion'),
 (71, 'Product 71', 388.4, 'Electronics'),
 (72, 'Product 72', 107.37, 'Books'),
 (73, 'Product 73', 12.71, 'Electronics'),
 (74, 'Product 74', 409.58, 'Fashion'),
 (75, 'Product 75', 356.36, 'Toys'),
 (76, 'Product 76', 367.21, 'Electronics'),
 (77, 'Product 77', 387.92, 'Electronics'),
 (78, 'Product 78', 46.28, 'Home & Kitchen'),
 (79, 'Product 79', 185.65, 'Toys'),
 (80, 'Product 80', 66.78, 'Books'),
 (81, 'Product 81', 432.92, 'Fashion'),
 (82, 'Product 82', 315.42, 'Books'),
 (83, 'Product 83', 172.14, 'Toys'),
 (84, 'Product 84', 41.14, 'Electronics'),
 (85, 'Product 85', 162.38, 'Electronics'),
 (86, 'Product 86', 169.34, 'Toys'),
 (87, 'Product 87', 367.51, 'Electronics'),
 (88, 'Product 88', 322.4, 'Electronics'),
 (89, 'Product 89', 444.73, 'Electronics'),
 (90, 'Product 90', 241.39, 'Fashion'),
 (91, 'Product 91', 68.6, 'Fashion'),
 (92, 'Product 92', 359.49, 'Home & Kitchen'),
 (93, 'Product 93', 382.78, 'Books'),
 (94, 'Product 94', 285.03, 'Toys'),
 (95, 'Product 95', 387.77, 'Toys'),
 (96, 'Product 96', 251.96, 'Toys'),
 (97, 'Product 97', 266.14, 'Home & Kitchen'),
 (98, 'Product 98', 219.5, 'Fashion'),
 (99, 'Product 99', 22.46, 'Home & Kitchen'),
 (100, 'Product 100', 62.87, 'Toys'),
 (101, 'Product 101', 25.4, 'Books'),
 (102, 'Product 102', 321.84, 'Electronics'),
 (103, 'Product 103', 164.03, 'Fashion'),
 (104, 'Product 104', 259.2, 'Fashion'),
 (105, 'Product 105', 454.71, 'Home & Kitchen'),
 (106, 'Product 106', 132.15, 'Fashion'),
 (107, 'Product 107', 211.09, 'Toys'),
 (108, 'Product 108', 380.22, 'Toys'),
 (109, 'Product 109', 122.11, 'Home & Kitchen'),
 (110, 'Product 110', 47.72, 'Toys'),
 (111, 'Product 111', 151.98, 'Books'),
 (112, 'Product 112', 89.0, 'Home & Kitchen'),
 (113, 'Product 113', 465.55, 'Books'),
 (114, 'Product 114', 405.98, 'Electronics'),
 (115, 'Product 115', 320.37, 'Books'),
 (116, 'Product 116', 437.02, 'Electronics'),
 (117, 'Product 117', 403.8, 'Electronics'),
 (118, 'Product 118', 101.42, 'Books'),
 (119, 'Product 119', 447.35, 'Home & Kitchen'),
 (120, 'Product 120', 274.28, 'Toys'),
 (121, 'Product 121', 405.65, 'Toys'),
 (122, 'Product 122', 449.08, 'Electronics'),
 (123, 'Product 123', 165.82, 'Electronics'),
 (124, 'Product 124', 63.93, 'Home & Kitchen'),
 (125, 'Product 125', 121.69, 'Fashion'),
 (126, 'Product 126', 219.28, 'Books'),
 (127, 'Product 127', 410.83, 'Electronics'),
 (128, 'Product 128', 431.76, 'Toys'),
 (129, 'Product 129', 13.41, 'Home & Kitchen'),
 (130, 'Product 130', 260.27, 'Books'),
 (131, 'Product 131', 214.53, 'Home & Kitchen'),
 (132, 'Product 132', 118.83, 'Books'),
 (133, 'Product 133', 68.73, 'Books'),
 (134, 'Product 134', 175.43, 'Electronics'),
 (135, 'Product 135', 472.03, 'Home & Kitchen'),
 (136, 'Product 136', 168.37, 'Home & Kitchen'),
 (137, 'Product 137', 264.21, 'Toys'),
 (138, 'Product 138', 354.48, 'Toys'),
 (139, 'Product 139', 188.18, 'Electronics'),
 (140, 'Product 140', 486.17, 'Electronics'),
 (141, 'Product 141', 481.6, 'Fashion'),
 (142, 'Product 142', 133.37, 'Toys'),
 (143, 'Product 143', 253.65, 'Books'),
 (144, 'Product 144', 157.43, 'Home & Kitchen'),
 (145, 'Product 145', 149.57, 'Electronics'),
 (146, 'Product 146', 28.07, 'Home & Kitchen'),
 (147, 'Product 147', 308.69, 'Home & Kitchen'),
 (148, 'Product 148', 256.31, 'Fashion'),
 (149, 'Product 149', 35.22, 'Toys'),
 (150, 'Product 150', 146.54, 'Electronics'),
 (151, 'Product 151', 455.05, 'Home & Kitchen'),
 (152, 'Product 152', 127.39, 'Electronics'),
 (153, 'Product 153', 81.0, 'Books'),
 (154, 'Product 154', 249.83, 'Fashion'),
 (155, 'Product 155', 492.97, 'Books'),
 (156, 'Product 156', 128.61, 'Electronics'),
 (157, 'Product 157', 339.35, 'Electronics'),
 (158, 'Product 158', 383.19, 'Toys'),
 (159, 'Product 159', 126.44, 'Home & Kitchen'),
 (160, 'Product 160', 366.83, 'Home & Kitchen'),
 (161, 'Product 161', 190.21, 'Books'),
 (162, 'Product 162', 319.83, 'Fashion'),
 (163, 'Product 163', 320.43, 'Home & Kitchen'),
 (164, 'Product 164', 272.53, 'Toys'),
 (165, 'Product 165', 54.24, 'Books'),
 (166, 'Product 166', 419.3, 'Books'),
 (167, 'Product 167', 167.18, 'Toys'),
 (168, 'Product 168', 101.39, 'Fashion'),
 (169, 'Product 169', 29.98, 'Toys'),
 (170, 'Product 170', 299.54, 'Fashion'),
 (171, 'Product 171', 342.01, 'Toys'),
 (172, 'Product 172', 18.13, 'Toys'),
 (173, 'Product 173', 260.93, 'Electronics'),
 (174, 'Product 174', 120.98, 'Books'),
 (175, 'Product 175', 326.13, 'Toys'),
 (176, 'Product 176', 95.44, 'Toys'),
 (177, 'Product 177', 348.56, 'Home & Kitchen'),
 (178, 'Product 178', 199.5, 'Books'),
 (179, 'Product 179', 469.0, 'Home & Kitchen'),
 (180, 'Product 180', 77.39, 'Books'),
 (181, 'Product 181', 177.12, 'Home & Kitchen'),
 (182, 'Product 182', 65.6, 'Toys'),
 (183, 'Product 183', 463.1, 'Toys'),
 (184, 'Product 184', 439.9, 'Electronics'),
 (185, 'Product 185', 136.39, 'Home & Kitchen'),
 (186, 'Product 186', 333.39, 'Fashion'),
 (187, 'Product 187', 410.44, 'Electronics'),
 (188, 'Product 188', 282.05, 'Home & Kitchen'),
 (189, 'Product 189', 269.53, 'Home & Kitchen'),
 (190, 'Product 190', 128.51, 'Electronics'),
 (191, 'Product 191', 55.62, 'Toys'),
 (192, 'Product 192', 449.64, 'Home & Kitchen'),
 (193, 'Product 193', 451.2, 'Toys'),
 (194, 'Product 194', 320.22, 'Electronics'),
 (195, 'Product 195', 176.12, 'Toys'),
 (196, 'Product 196', 181.11, 'Books'),
 (197, 'Product 197', 365.72, 'Fashion'),
 (198, 'Product 198', 449.58, 'Home & Kitchen'),
 (199, 'Product 199', 444.67, 'Fashion'),
 (200, 'Product 200', 392.14, 'Toys'),
 (201, 'Product 201', 324.6, 'Home & Kitchen'),
 (202, 'Product 202', 51.23, 'Toys'),
 (203, 'Product 203', 89.2, 'Books'),
 (204, 'Product 204', 450.29, 'Electronics'),
 (205, 'Product 205', 307.15, 'Home & Kitchen'),
 (206, 'Product 206', 14.51, 'Books'),
 (207, 'Product 207', 59.72, 'Books'),
 (208, 'Product 208', 335.12, 'Home & Kitchen'),
 (209, 'Product 209', 12.48, 'Toys'),
 (210, 'Product 210', 88.8, 'Books'),
 (211, 'Product 211', 278.88, 'Fashion'),
 (212, 'Product 212', 349.03, 'Books'),
 (213, 'Product 213', 329.46, 'Toys'),
 (214, 'Product 214', 119.89, 'Toys'),
 (215, 'Product 215', 358.97, 'Fashion'),
 (216, 'Product 216', 126.25, 'Books'),
 (217, 'Product 217', 169.45, 'Toys'),
 (218, 'Product 218', 375.78, 'Home & Kitchen'),
 (219, 'Product 219', 328.32, 'Electronics'),
 (220, 'Product 220', 426.12, 'Electronics'),
 (221, 'Product 221', 332.23, 'Electronics'),
 (222, 'Product 222', 288.47, 'Books'),
 (223, 'Product 223', 55.9, 'Fashion'),
 (224, 'Product 224', 190.18, 'Toys'),
 (225, 'Product 225', 139.95, 'Home & Kitchen'),
 (226, 'Product 226', 129.55, 'Home & Kitchen'),
 (227, 'Product 227', 486.78, 'Books'),
 (228, 'Product 228', 202.62, 'Electronics'),
 (229, 'Product 229', 447.1, 'Books'),
 (230, 'Product 230', 319.26, 'Fashion'),
 (231, 'Product 231', 399.46, 'Fashion'),
 (232, 'Product 232', 256.29, 'Toys'),
 (233, 'Product 233', 292.68, 'Toys'),
 (234, 'Product 234', 251.33, 'Fashion'),
 (235, 'Product 235', 105.67, 'Fashion'),
 (236, 'Product 236', 364.0, 'Fashion'),
 (237, 'Product 237', 147.58, 'Books'),
 (238, 'Product 238', 21.91, 'Fashion'),
 (239, 'Product 239', 326.28, 'Home & Kitchen'),
 (240, 'Product 240', 96.78, 'Electronics'),
 (241, 'Product 241', 470.82, 'Fashion'),
 (242, 'Product 242', 477.43, 'Electronics'),
 (243, 'Product 243', 458.28, 'Books'),
 (244, 'Product 244', 191.38, 'Electronics'),
 (245, 'Product 245', 17.57, 'Books'),
 (246, 'Product 246', 464.88, 'Home & Kitchen'),
 (247, 'Product 247', 219.81, 'Books'),
 (248, 'Product 248', 483.66, 'Books'),
 (249, 'Product 249', 482.17, 'Toys'),
 (250, 'Product 250', 427.97, 'Fashion'),
 (251, 'Product 251', 154.28, 'Fashion'),
 (252, 'Product 252', 198.7, 'Home & Kitchen'),
 (253, 'Product 253', 427.06, 'Home & Kitchen'),
 (254, 'Product 254', 165.29, 'Fashion'),
 (255, 'Product 255', 93.05, 'Toys'),
 (256, 'Product 256', 282.83, 'Fashion'),
 (257, 'Product 257', 468.72, 'Toys'),
 (258, 'Product 258', 351.05, 'Home & Kitchen'),
 (259, 'Product 259', 289.33, 'Electronics'),
 (260, 'Product 260', 57.62, 'Home & Kitchen'),
 (261, 'Product 261', 311.35, 'Home & Kitchen'),
 (262, 'Product 262', 495.13, 'Books'),
 (263, 'Product 263', 78.64, 'Books'),
 (264, 'Product 264', 263.98, 'Books'),
 (265, 'Product 265', 439.91, 'Books'),
 (266, 'Product 266', 372.98, 'Toys'),
 (267, 'Product 267', 351.54, 'Fashion'),
 (268, 'Product 268', 354.22, 'Electronics'),
 (269, 'Product 269', 186.15, 'Home & Kitchen'),
 (270, 'Product 270', 153.86, 'Toys'),
 (271, 'Product 271', 406.59, 'Electronics'),
 (272, 'Product 272', 406.96, 'Toys'),
 (273, 'Product 273', 434.87, 'Toys'),
 (274, 'Product 274', 457.49, 'Home & Kitchen'),
 (275, 'Product 275', 260.56, 'Fashion'),
 (276, 'Product 276', 255.74, 'Books'),
 (277, 'Product 277', 401.16, 'Fashion'),
 (278, 'Product 278', 328.48, 'Home & Kitchen'),
 (279, 'Product 279', 353.96, 'Home & Kitchen'),
 (280, 'Product 280', 399.94, 'Home & Kitchen'),
 (281, 'Product 281', 446.1, 'Electronics'),
 (282, 'Product 282', 175.62, 'Fashion'),
 (283, 'Product 283', 194.04, 'Fashion'),
 (284, 'Product 284', 56.05, 'Toys'),
 (285, 'Product 285', 293.36, 'Toys'),
 (286, 'Product 286', 27.61, 'Toys'),
 (287, 'Product 287', 238.14, 'Home & Kitchen'),
 (288, 'Product 288', 275.9, 'Fashion'),
 (289, 'Product 289', 150.41, 'Home & Kitchen'),
 (290, 'Product 290', 299.51, 'Electronics'),
 (291, 'Product 291', 24.95, 'Toys'),
 (292, 'Product 292', 28.3, 'Home & Kitchen'),
 (293, 'Product 293', 413.07, 'Home & Kitchen'),
 (294, 'Product 294', 186.49, 'Electronics'),
 (295, 'Product 295', 72.26, 'Books'),
 (296, 'Product 296', 265.9, 'Fashion'),
 (297, 'Product 297', 387.3, 'Books'),
 (298, 'Product 298', 115.75, 'Toys'),
 (299, 'Product 299', 315.22, 'Home & Kitchen'),
 (300, 'Product 300', 51.82, 'Electronics'),
 (301, 'Product 301', 35.32, 'Electronics'),
 (302, 'Product 302', 270.36, 'Fashion'),
 (303, 'Product 303', 274.91, 'Books'),
 (304, 'Product 304', 322.34, 'Fashion'),
 (305, 'Product 305', 365.78, 'Home & Kitchen'),
 (306, 'Product 306', 488.17, 'Fashion'),
 (307, 'Product 307', 262.99, 'Electronics'),
 (308, 'Product 308', 168.25, 'Electronics'),
 (309, 'Product 309', 399.64, 'Toys'),
 (310, 'Product 310', 142.71, 'Toys'),
 (311, 'Product 311', 225.1, 'Home & Kitchen'),
 (312, 'Product 312', 48.44, 'Books'),
 (313, 'Product 313', 22.42, 'Fashion'),
 (314, 'Product 314', 481.7, 'Home & Kitchen'),
 (315, 'Product 315', 419.63, 'Toys'),
 (316, 'Product 316', 351.03, 'Fashion'),
 (317, 'Product 317', 210.39, 'Toys'),
 (318, 'Product 318', 94.91, 'Fashion'),
 (319, 'Product 319', 86.65, 'Books'),
 (320, 'Product 320', 132.62, 'Home & Kitchen'),
 (321, 'Product 321', 279.12, 'Fashion'),
 (322, 'Product 322', 360.15, 'Electronics'),
 (323, 'Product 323', 333.5, 'Electronics'),
 (324, 'Product 324', 147.17, 'Fashion'),
 (325, 'Product 325', 477.88, 'Fashion'),
 (326, 'Product 326', 371.57, 'Fashion'),
 (327, 'Product 327', 281.63, 'Electronics'),
 (328, 'Product 328', 309.74, 'Electronics'),
 (329, 'Product 329', 215.6, 'Fashion'),
 (330, 'Product 330', 131.39, 'Toys'),
 (331, 'Product 331', 184.43, 'Toys'),
 (332, 'Product 332', 381.34, 'Books'),
 (333, 'Product 333', 17.05, 'Home & Kitchen'),
 (334, 'Product 334', 66.88, 'Toys'),
 (335, 'Product 335', 32.54, 'Electronics'),
 (336, 'Product 336', 29.96, 'Toys'),
 (337, 'Product 337', 429.18, 'Books'),
 (338, 'Product 338', 354.79, 'Books'),
 (339, 'Product 339', 242.35, 'Home & Kitchen'),
 (340, 'Product 340', 57.94, 'Toys'),
 (341, 'Product 341', 250.89, 'Electronics'),
 (342, 'Product 342', 242.0, 'Electronics'),
 (343, 'Product 343', 94.87, 'Fashion'),
 (344, 'Product 344', 222.59, 'Electronics'),
 (345, 'Product 345', 205.27, 'Home & Kitchen'),
 (346, 'Product 346', 311.77, 'Home & Kitchen'),
 (347, 'Product 347', 321.2, 'Electronics'),
 (348, 'Product 348', 32.2, 'Electronics'),
 (349, 'Product 349', 193.56, 'Fashion'),
 (350, 'Product 350', 316.67, 'Electronics'),
 (351, 'Product 351', 256.54, 'Fashion'),
 (352, 'Product 352', 429.68, 'Fashion'),
 (353, 'Product 353', 332.76, 'Electronics'),
 (354, 'Product 354', 89.84, 'Books'),
 (355, 'Product 355', 44.58, 'Books'),
 (356, 'Product 356', 324.79, 'Fashion'),
 (357, 'Product 357', 22.99, 'Electronics'),
 (358, 'Product 358', 297.03, 'Books'),
 (359, 'Product 359', 470.71, 'Electronics'),
 (360, 'Product 360', 291.98, 'Electronics'),
 (361, 'Product 361', 200.2, 'Electronics'),
 (362, 'Product 362', 325.21, 'Toys'),
 (363, 'Product 363', 234.54, 'Electronics'),
 (364, 'Product 364', 277.35, 'Toys'),
 (365, 'Product 365', 471.32, 'Fashion'),
 (366, 'Product 366', 199.19, 'Books'),
 (367, 'Product 367', 480.98, 'Books'),
 (368, 'Product 368', 453.62, 'Books'),
 (369, 'Product 369', 105.94, 'Books'),
 (370, 'Product 370', 43.99, 'Books'),
 (371, 'Product 371', 59.38, 'Books'),
 (372, 'Product 372', 18.93, 'Books'),
 (373, 'Product 373', 56.28, 'Fashion'),
 (374, 'Product 374', 344.67, 'Electronics'),
 (375, 'Product 375', 44.88, 'Home & Kitchen'),
 (376, 'Product 376', 166.3, 'Toys'),
 (377, 'Product 377', 423.99, 'Home & Kitchen'),
 (378, 'Product 378', 21.4, 'Home & Kitchen'),
 (379, 'Product 379', 409.09, 'Electronics'),
 (380, 'Product 380', 148.11, 'Electronics'),
 (381, 'Product 381', 67.9, 'Electronics'),
 (382, 'Product 382', 351.4, 'Books'),
 (383, 'Product 383', 318.18, 'Fashion'),
 (384, 'Product 384', 439.96, 'Books'),
 (385, 'Product 385', 370.18, 'Fashion'),
 (386, 'Product 386', 403.71, 'Fashion'),
 (387, 'Product 387', 148.2, 'Home & Kitchen'),
 (388, 'Product 388', 96.95, 'Home & Kitchen'),
 (389, 'Product 389', 377.8, 'Fashion'),
 (390, 'Product 390', 405.35, 'Fashion'),
 (391, 'Product 391', 495.35, 'Books'),
 (392, 'Product 392', 212.18, 'Books'),
 (393, 'Product 393', 192.29, 'Home & Kitchen'),
 (394, 'Product 394', 390.44, 'Electronics'),
 (395, 'Product 395', 176.99, 'Fashion'),
 (396, 'Product 396', 466.07, 'Books'),
 (397, 'Product 397', 430.62, 'Home & Kitchen'),
 (398, 'Product 398', 220.21, 'Books'),
 (399, 'Product 399', 377.93, 'Fashion'),
 (400, 'Product 400', 379.73, 'Fashion'),
 (401, 'Product 401', 60.53, 'Toys'),
 (402, 'Product 402', 452.25, 'Electronics'),
 (403, 'Product 403', 257.57, 'Toys'),
 (404, 'Product 404', 414.96, 'Home & Kitchen'),
 (405, 'Product 405', 166.82, 'Books'),
 (406, 'Product 406', 448.81, 'Home & Kitchen'),
 (407, 'Product 407', 200.71, 'Fashion'),
 (408, 'Product 408', 15.31, 'Toys'),
 (409, 'Product 409', 453.64, 'Toys'),
 (410, 'Product 410', 54.73, 'Toys'),
 (411, 'Product 411', 166.46, 'Home & Kitchen'),
 (412, 'Product 412', 475.53, 'Fashion'),
 (413, 'Product 413', 475.8, 'Books'),
 (414, 'Product 414', 290.98, 'Books'),
 (415, 'Product 415', 319.6, 'Home & Kitchen'),
 (416, 'Product 416', 229.74, 'Toys'),
 (417, 'Product 417', 153.67, 'Electronics'),
 (418, 'Product 418', 171.05, 'Home & Kitchen'),
 (419, 'Product 419', 339.53, 'Home & Kitchen'),
 (420, 'Product 420', 378.66, 'Fashion'),
 (421, 'Product 421', 397.87, 'Books'),
 (422, 'Product 422', 396.91, 'Home & Kitchen'),
 (423, 'Product 423', 54.69, 'Home & Kitchen'),
 (424, 'Product 424', 252.27, 'Toys'),
 (425, 'Product 425', 38.2, 'Toys'),
 (426, 'Product 426', 279.27, 'Electronics'),
 (427, 'Product 427', 226.35, 'Fashion'),
 (428, 'Product 428', 444.98, 'Electronics'),
 (429, 'Product 429', 181.95, 'Toys'),
 (430, 'Product 430', 67.36, 'Books'),
 (431, 'Product 431', 80.07, 'Toys'),
 (432, 'Product 432', 383.14, 'Fashion'),
 (433, 'Product 433', 312.93, 'Toys'),
 (434, 'Product 434', 59.55, 'Fashion'),
 (435, 'Product 435', 51.21, 'Fashion'),
 (436, 'Product 436', 353.47, 'Fashion'),
 (437, 'Product 437', 45.65, 'Fashion'),
 (438, 'Product 438', 412.71, 'Fashion'),
 (439, 'Product 439', 356.06, 'Books'),
 (440, 'Product 440', 49.86, 'Electronics'),
 (441, 'Product 441', 51.57, 'Home & Kitchen'),
 (442, 'Product 442', 493.45, 'Electronics'),
 (443, 'Product 443', 193.39, 'Fashion'),
 (444, 'Product 444', 191.61, 'Books'),
 (445, 'Product 445', 408.27, 'Toys'),
 (446, 'Product 446', 474.15, 'Books'),
 (447, 'Product 447', 493.14, 'Fashion'),
 (448, 'Product 448', 379.16, 'Books'),
 (449, 'Product 449', 194.37, 'Books'),
 (450, 'Product 450', 50.92, 'Fashion'),
 (451, 'Product 451', 390.8, 'Books'),
 (452, 'Product 452', 283.62, 'Home & Kitchen'),
 (453, 'Product 453', 217.87, 'Home & Kitchen'),
 (454, 'Product 454', 454.11, 'Books'),
 (455, 'Product 455', 64.49, 'Toys'),
 (456, 'Product 456', 251.39, 'Fashion'),
 (457, 'Product 457', 15.56, 'Home & Kitchen'),
 (458, 'Product 458', 239.64, 'Toys'),
 (459, 'Product 459', 37.59, 'Books'),
 (460, 'Product 460', 68.22, 'Toys'),
 (461, 'Product 461', 67.59, 'Electronics'),
 (462, 'Product 462', 328.11, 'Home & Kitchen'),
 (463, 'Product 463', 375.56, 'Books'),
 (464, 'Product 464', 295.85, 'Fashion'),
 (465, 'Product 465', 481.46, 'Books'),
 (466, 'Product 466', 193.69, 'Fashion'),
 (467, 'Product 467', 150.0, 'Books'),
 (468, 'Product 468', 435.61, 'Toys'),
 (469, 'Product 469', 119.56, 'Toys'),
 (470, 'Product 470', 481.98, 'Toys'),
 (471, 'Product 471', 15.96, 'Electronics'),
 (472, 'Product 472', 485.24, 'Fashion'),
 (473, 'Product 473', 31.15, 'Toys'),

# UPDATE

In [ ]:
%%sql

SELECT * FROM customers;

 * sqlite:///bonga_ecommerce.db
Done.

[(1, 'Customer1', 'Customer1@hotmail.com'),
 (2, 'Customer2', 'Customer2@gmail.com'),
 (3, 'Customer3', 'Customer3@gmail.com'),
 (4, 'Customer4', 'Customer4@hotmail.com'),
 (5, 'Customer5', 'Customer5@yahoo.com'),
 (6, 'Customer6', 'Customer6@gmail.com'),
 (7, 'Customer7', 'Customer7@gmail.com'),
 (8, 'Customer8', 'Customer8@gmail.com'),
 (9, 'Customer9', 'Customer9@hotmail.com'),
 (10, 'Customer10', 'Customer10@gmail.com'),
 (11, 'Customer11', 'Customer11@hotmail.com'),
 (12, 'Customer12', 'Customer12@hotmail.com'),
 (13, 'Customer13', 'Customer13@hotmail.com'),
 (14, 'Customer14', 'Customer14@gmail.com'),
 (15, 'Customer15', 'Customer15@hotmail.com'),
 (16, 'Customer16', 'Customer16@yahoo.com'),
 (17, 'Customer17', 'Customer17@gmail.com'),
 (18, 'Customer18', 'Customer18@gmail.com'),
 (19, 'Customer19', 'Customer19@gmail.com'),
 (20, 'Customer20', 'Customer20@gmail.com'),
 (21, 'Customer21', 'Customer21@gmail.com'),
 (22, 'Customer22', 'Customer22@hotmail.com'),
 (23, 'Customer23', 'Customer23@hotmail.com'),
 (24, 'Customer24', 'Customer24@gmail.com'),
 (25, 'Customer25', 'Customer25@hotmail.com'),
 (26, 'Customer26', 'Customer26@gmail.com'),
 (27, 'Customer27', 'Customer27@hotmail.com'),
 (28, 'Customer28', 'Customer28@hotmail.com'),
 (29, 'Customer29', 'Customer29@hotmail.com'),
 (30, 'Customer30', 'Customer30@hotmail.com'),
 (31, 'Customer31', 'Customer31@yahoo.com'),
 (32, 'Customer32', 'Customer32@gmail.com'),
 (33, 'Customer33', 'Customer33@yahoo.com'),
 (34, 'Customer34', 'Customer34@hotmail.com'),
 (35, 'Customer35', 'Customer35@yahoo.com'),
 (36, 'Customer36', 'Customer36@gmail.com'),
 (37, 'Customer37', 'Customer37@gmail.com'),
 (38, 'Customer38', 'Customer38@hotmail.com'),
 (39, 'Customer39', 'Customer39@yahoo.com'),
 (40, 'Customer40', 'Customer40@yahoo.com'),
 (41, 'Customer41', 'Customer41@yahoo.com'),
 (42, 'Customer42', 'Customer42@gmail.com'),
 (43, 'Customer43', 'Customer43@gmail.com'),
 (44, 'Customer44', 'Customer44@yahoo.com'),
 (45, 'Customer45', 'Customer45@gmail.com'),
 (46, 'Customer46', 'Customer46@gmail.com'),
 (47, 'Customer47', 'Customer47@yahoo.com'),
 (48, 'Customer48', 'Customer48@gmail.com'),
 (49, 'Customer49', 'Customer49@yahoo.com'),
 (50, 'Customer50', 'Customer50@yahoo.com'),
 (51, 'Customer51', 'Customer51@hotmail.com'),
 (52, 'Customer52', 'Customer52@yahoo.com'),
 (53, 'Customer53', 'Customer53@gmail.com'),
 (54, 'Customer54', 'Customer54@hotmail.com'),
 (55, 'Customer55', 'Customer55@yahoo.com'),
 (56, 'Customer56', 'Customer56@hotmail.com'),
 (57, 'Customer57', 'Customer57@gmail.com'),
 (58, 'Customer58', 'Customer58@yahoo.com'),
 (59, 'Customer59', 'Customer59@gmail.com'),
 (60, 'Customer60', 'Customer60@hotmail.com'),
 (61, 'Customer61', 'Customer61@yahoo.com'),
 (62, 'Customer62', 'Customer62@hotmail.com'),
 (63, 'Customer63', 'Customer63@hotmail.com'),
 (64, 'Customer64', 'Customer64@yahoo.com'),
 (65, 'Customer65', 'Customer65@hotmail.com'),
 (66, 'Customer66', 'Customer66@gmail.com'),
 (67, 'Customer67', 'Customer67@hotmail.com'),
 (68, 'Customer68', 'Customer68@gmail.com'),
 (69, 'Customer69', 'Customer69@gmail.com'),
 (70, 'Customer70', 'Customer70@hotmail.com'),
 (71, 'Customer71', 'Customer71@gmail.com'),
 (72, 'Customer72', 'Customer72@yahoo.com'),
 (73, 'Customer73', 'Customer73@gmail.com'),
 (74, 'Customer74', 'Customer74@gmail.com'),
 (75, 'Customer75', 'Customer75@gmail.com'),
 (76, 'Customer76', 'Customer76@yahoo.com'),
 (77, 'Customer77', 'Customer77@yahoo.com'),
 (78, 'Customer78', 'Customer78@yahoo.com'),
 (79, 'Customer79', 'Customer79@hotmail.com'),
 (80, 'Customer80', 'Customer80@yahoo.com'),
 (81, 'Customer81', 'Customer81@gmail.com'),
 (82, 'Customer82', 'Customer82@yahoo.com'),
 (83, 'Customer83', 'Customer83@yahoo.com'),
 (84, 'Customer84', 'Customer84@gmail.com'),
 (85, 'Customer85', 'Customer85@hotmail.com'),
 (86, 'Customer86', 'Customer86@yahoo.com'),
 (87, 'Customer87', 'Customer87@hotmail.com'),
 (88, 'Customer88', 'Customer88@hotmail.com'),
 (89, 'Customer89', 'Customer89@hotmail.com'),
 (90, 'Customer90', 'Customer90@gmail.com'),
 (91, 'Customer91', 'Customer91@hotmail.com'),
 (92, 'Customer92', 'Customer92@hotmail.com'),
 (93, 'Customer93', 'Customer93@gmail.com'),
 (94, 'Customer94', 'Customer94@hotmail.com'),
 (95, 'Customer95', 'Customer95@hotmail.com'),
 (96, 'Customer96', 'Customer96@gmail.com'),
 (97, 'Customer97', 'Customer97@gmail.com'),
 (98, 'Customer98', 'Customer98@yahoo.com'),
 (99, 'Customer99', 'Customer99@yahoo.com'),
 (100, 'Customer100', 'Customer100@yahoo.com'),
 (101, 'Customer101', 'Customer101@hotmail.com'),
 (102, 'Customer102', 'Customer102@hotmail.com'),
 (103, 'Customer103', 'Customer103@hotmail.com'),
 (104, 'Customer104', 'Customer104@gmail.com'),
 (105, 'Customer105', 'Customer105@hotmail.com'),
 (106, 'Customer106', 'Customer106@yahoo.com'),
 (107, 'Customer107', 'Customer107@gmail.com'),
 (108, 'Customer108', 'Customer108@gmail.com'),
 (109, 'Customer109', 'Customer109@gmail.com'),
 (110, 'Customer110', 'Customer110@yahoo.com'),
 (111, 'Customer111', 'Customer111@yahoo.com'),
 (112, 'Customer112', 'Customer112@yahoo.com'),
 (113, 'Customer113', 'Customer113@gmail.com'),
 (114, 'Customer114', 'Customer114@gmail.com'),
 (115, 'Customer115', 'Customer115@hotmail.com'),
 (116, 'Customer116', 'Customer116@hotmail.com'),
 (117, 'Customer117', 'Customer117@yahoo.com'),
 (118, 'Customer118', 'Customer118@gmail.com'),
 (119, 'Customer119', 'Customer119@hotmail.com'),
 (120, 'Customer120', 'Customer120@yahoo.com'),
 (121, 'Customer121', 'Customer121@yahoo.com'),
 (122, 'Customer122', 'Customer122@hotmail.com'),
 (123, 'Customer123', 'Customer123@yahoo.com'),
 (124, 'Customer124', 'Customer124@gmail.com'),
 (125, 'Customer125', 'Customer125@yahoo.com'),
 (126, 'Customer126', 'Customer126@gmail.com'),
 (127, 'Customer127', 'Customer127@gmail.com'),
 (128, 'Customer128', 'Customer128@hotmail.com'),
 (129, 'Customer129', 'Customer129@hotmail.com'),
 (130, 'Customer130', 'Customer130@hotmail.com'),
 (131, 'Customer131', 'Customer131@yahoo.com'),
 (132, 'Customer132', 'Customer132@hotmail.com'),
 (133, 'Customer133', 'Customer133@hotmail.com'),
 (134, 'Customer134', 'Customer134@yahoo.com'),
 (135, 'Customer135', 'Customer135@hotmail.com'),
 (136, 'Customer136', 'Customer136@yahoo.com'),
 (137, 'Customer137', 'Customer137@yahoo.com'),
 (138, 'Customer138', 'Customer138@gmail.com'),
 (139, 'Customer139', 'Customer139@gmail.com'),
 (140, 'Customer140', 'Customer140@hotmail.com'),
 (141, 'Customer141', 'Customer141@yahoo.com'),
 (142, 'Customer142', 'Customer142@gmail.com'),
 (143, 'Customer143', 'Customer143@gmail.com'),
 (144, 'Customer144', 'Customer144@gmail.com'),
 (145, 'Customer145', 'Customer145@gmail.com'),
 (146, 'Customer146', 'Customer146@hotmail.com'),
 (147, 'Customer147', 'Customer147@gmail.com'),
 (148, 'Customer148', 'Customer148@hotmail.com'),
 (149, 'Customer149', 'Customer149@yahoo.com'),
 (150, 'Customer150', 'Customer150@hotmail.com'),
 (151, 'Customer151', 'Customer151@gmail.com'),
 (152, 'Customer152', 'Customer152@yahoo.com'),
 (153, 'Customer153', 'Customer153@yahoo.com'),
 (154, 'Customer154', 'Customer154@hotmail.com'),
 (155, 'Customer155', 'Customer155@yahoo.com'),
 (156, 'Customer156', 'Customer156@hotmail.com'),
 (157, 'Customer157', 'Customer157@yahoo.com'),
 (158, 'Customer158', 'Customer158@hotmail.com'),
 (159, 'Customer159', 'Customer159@gmail.com'),
 (160, 'Customer160', 'Customer160@hotmail.com'),
 (161, 'Customer161', 'Customer161@hotmail.com'),
 (162, 'Customer162', 'Customer162@gmail.com'),
 (163, 'Customer163', 'Customer163@hotmail.com'),
 (164, 'Customer164', 'Customer164@hotmail.com'),
 (165, 'Customer165', 'Customer165@yahoo.com'),
 (166, 'Customer166', 'Customer166@hotmail.com'),
 (167, 'Customer167', 'Customer167@yahoo.com'),
 (168, 'Customer168', 'Customer168@gmail.com'),
 (169, 'Customer169', 'Customer169@yahoo.com'),
 (170, 'Customer170', 'Customer170@yahoo.com'),
 (171, 'Customer171', 'Customer171@gmail.com'),
 (172, 'Customer172', 'Customer172@yahoo.com'),
 (173, 'Customer173', 'Customer173@gmail.com'),
 (174, 'Customer174', 'Customer174@hotmail.com'),
 (175, 'Customer175', 'Customer175@hotmail.com'),
 (176, 'Customer176', 'Customer176@yahoo.com'),
 (177, 'Customer177', 'Customer177@hotmail.com'),
 (178, 'Customer178', 'Customer178@gmail.com'),
 (179, 'Customer179', 'Customer179@hotmail.com'),
 (180, 'Customer180', 'Customer180@gmail.com'),
 (181, 'Customer181', 'Customer181@hotmail.com'),
 (182, 'Customer182', 'Customer182@yahoo.com'),
 (183, 'Customer183', 'Customer183@hotmail.com'),
 (184, 'Customer184', 'Customer184@hotmail.com'),
 (185, 'Customer185', 'Customer185@hotmail.com'),
 (186, 'Customer186', 'Customer186@gmail.com'),
 (187, 'Customer187', 'Customer187@gmail.com'),
 (188, 'Customer188', 'Customer188@yahoo.com'),
 (189, 'Customer189', 'Customer189@gmail.com'),
 (190, 'Customer190', 'Customer190@hotmail.com'),
 (191, 'Customer191', 'Customer191@hotmail.com'),
 (192, 'Customer192', 'Customer192@gmail.com'),
 (193, 'Customer193', 'Customer193@hotmail.com'),
 (194, 'Customer194', 'Customer194@yahoo.com'),
 (195, 'Customer195', 'Customer195@yahoo.com'),
 (196, 'Customer196', 'Customer196@gmail.com'),
 (197, 'Customer197', 'Customer197@gmail.com'),
 (198, 'Customer198', 'Customer198@yahoo.com'),
 (199, 'Customer199', 'Customer199@yahoo.com'),
 (200, 'Customer200', 'Customer200@gmail.com'),
 (201, 'Customer201', 'Customer201@gmail.com'),
 (202, 'Customer202', 'Customer202@gmail.com'),
 (203, 'Customer203', 'Customer203@hotmail.com'),
 (204, 'Customer204', 'Customer204@gmail.com'),
 (205, 'Customer205', 'Customer205@gmail.com'),
 (206, 'Customer206', 'Customer206@hotmail.com'),
 (207, 'Customer207', 'Customer207@yahoo.com'),
 (208, 'Customer208', 'Customer208@gmail.com'),
 (209, 'Customer209', 'Customer209@hotmail.com'),
 (210, 'Customer210', 'Customer210@gmail.com'),
 (211, 'Customer211', 'Customer211@gmail.com'),
 (212, 'Customer212', 'Customer212@hotmail.com'),
 (213, 'Customer213', 'Customer213@yahoo.com'),
 (214, 'Customer214', 'Customer214@hotmail.com'),
 (215, 'Customer215', 'Customer215@gmail.com'),
 (216, 'Customer216', 'Customer216@yahoo.com'),
 (217, 'Customer217', 'Customer217@hotmail.com'),
 (218, 'Customer218', 'Customer218@hotmail.com'),
 (219, 'Customer219', 'Customer219@yahoo.com'),
 (220, 'Customer220', 'Customer220@gmail.com'),
 (221, 'Customer221', 'Customer221@hotmail.com'),
 (222, 'Customer222', 'Customer222@hotmail.com'),
 (223, 'Customer223', 'Customer223@hotmail.com'),
 (224, 'Customer224', 'Customer224@gmail.com'),
 (225, 'Customer225', 'Customer225@hotmail.com'),
 (226, 'Customer226', 'Customer226@yahoo.com'),
 (227, 'Customer227', 'Customer227@yahoo.com'),
 (228, 'Customer228', 'Customer228@hotmail.com'),
 (229, 'Customer229', 'Customer229@hotmail.com'),
 (230, 'Customer230', 'Customer230@yahoo.com'),
 (231, 'Customer231', 'Customer231@yahoo.com'),
 (232, 'Customer232', 'Customer232@hotmail.com'),
 (233, 'Customer233', 'Customer233@yahoo.com'),
 (234, 'Customer234', 'Customer234@gmail.com'),
 (235, 'Customer235', 'Customer235@gmail.com'),
 (236, 'Customer236', 'Customer236@gmail.com'),
 (237, 'Customer237', 'Customer237@gmail.com'),
 (238, 'Customer238', 'Customer238@yahoo.com'),
 (239, 'Customer239', 'Customer239@gmail.com'),
 (240, 'Customer240', 'Customer240@hotmail.com'),
 (241, 'Customer241', 'Customer241@hotmail.com'),
 (242, 'Customer242', 'Customer242@gmail.com'),
 (243, 'Customer243', 'Customer243@hotmail.com'),
 (244, 'Customer244', 'Customer244@gmail.com'),
 (245, 'Customer245', 'Customer245@gmail.com'),
 (246, 'Customer246', 'Customer246@gmail.com'),
 (247, 'Customer247', 'Customer247@hotmail.com'),
 (248, 'Customer248', 'Customer248@hotmail.com'),
 (249, 'Customer249', 'Customer249@gmail.com'),
 (250, 'Customer250', 'Customer250@gmail.com'),
 (251, 'Customer251', 'Customer251@gmail.com'),
 (252, 'Customer252', 'Customer252@gmail.com'),
 (253, 'Customer253', 'Customer253@yahoo.com'),
 (254, 'Customer254', 'Customer254@gmail.com'),
 (255, 'Customer255', 'Customer255@hotmail.com'),
 (256, 'Customer256', 'Customer256@gmail.com'),
 (257, 'Customer257', 'Customer257@yahoo.com'),
 (258, 'Customer258', 'Customer258@hotmail.com'),
 (259, 'Customer259', 'Customer259@yahoo.com'),
 (260, 'Customer260', 'Customer260@gmail.com'),
 (261, 'Customer261', 'Customer261@hotmail.com'),
 (262, 'Customer262', 'Customer262@gmail.com'),
 (263, 'Customer263', 'Customer263@hotmail.com'),
 (264, 'Customer264', 'Customer264@hotmail.com'),
 (265, 'Customer265', 'Customer265@hotmail.com'),
 (266, 'Customer266', 'Customer266@yahoo.com'),
 (267, 'Customer267', 'Customer267@gmail.com'),
 (268, 'Customer268', 'Customer268@yahoo.com'),
 (269, 'Customer269', 'Customer269@yahoo.com'),
 (270, 'Customer270', 'Customer270@gmail.com'),
 (271, 'Customer271', 'Customer271@gmail.com'),
 (272, 'Customer272', 'Customer272@gmail.com'),
 (273, 'Customer273', 'Customer273@hotmail.com'),
 (274, 'Customer274', 'Customer274@yahoo.com'),
 (275, 'Customer275', 'Customer275@yahoo.com'),
 (276, 'Customer276', 'Customer276@yahoo.com'),
 (277, 'Customer277', 'Customer277@yahoo.com'),
 (278, 'Customer278', 'Customer278@yahoo.com'),
 (279, 'Customer279', 'Customer279@hotmail.com'),
 (280, 'Customer280', 'Customer280@gmail.com'),
 (281, 'Customer281', 'Customer281@hotmail.com'),
 (282, 'Customer282', 'Customer282@hotmail.com'),
 (283, 'Customer283', 'Customer283@hotmail.com'),
 (284, 'Customer284', 'Customer284@gmail.com'),
 (285, 'Customer285', 'Customer285@gmail.com'),
 (286, 'Customer286', 'Customer286@yahoo.com'),
 (287, 'Customer287', 'Customer287@hotmail.com'),
 (288, 'Customer288', 'Customer288@yahoo.com'),
 (289, 'Customer289', 'Customer289@gmail.com'),
 (290, 'Customer290', 'Customer290@gmail.com'),
 (291, 'Customer291', 'Customer291@gmail.com'),
 (292, 'Customer292', 'Customer292@gmail.com'),
 (293, 'Customer293', 'Customer293@hotmail.com'),
 (294, 'Customer294', 'Customer294@yahoo.com'),
 (295, 'Customer295', 'Customer295@gmail.com'),
 (296, 'Customer296', 'Customer296@yahoo.com'),
 (297, 'Customer297', 'Customer297@gmail.com'),
 (298, 'Customer298', 'Customer298@yahoo.com'),
 (299, 'Customer299', 'Customer299@yahoo.com'),
 (300, 'Customer300', 'Customer300@gmail.com'),
 (301, 'Customer301', 'Customer301@gmail.com'),
 (302, 'Customer302', 'Customer302@yahoo.com'),
 (303, 'Customer303', 'Customer303@hotmail.com'),
 (304, 'Customer304', 'Customer304@gmail.com'),
 (305, 'Customer305', 'Customer305@gmail.com'),
 (306, 'Customer306', 'Customer306@hotmail.com'),
 (307, 'Customer307', 'Customer307@hotmail.com'),
 (308, 'Customer308', 'Customer308@gmail.com'),
 (309, 'Customer309', 'Customer309@gmail.com'),
 (310, 'Customer310', 'Customer310@gmail.com'),
 (311, 'Customer311', 'Customer311@gmail.com'),
 (312, 'Customer312', 'Customer312@yahoo.com'),
 (313, 'Customer313', 'Customer313@yahoo.com'),
 (314, 'Customer314', 'Customer314@yahoo.com'),
 (315, 'Customer315', 'Customer315@gmail.com'),
 (316, 'Customer316', 'Customer316@yahoo.com'),
 (317, 'Customer317', 'Customer317@gmail.com'),
 (318, 'Customer318', 'Customer318@gmail.com'),
 (319, 'Customer319', 'Customer319@yahoo.com'),
 (320, 'Customer320', 'Customer320@gmail.com'),
 (321, 'Customer321', 'Customer321@yahoo.com'),
 (322, 'Customer322', 'Customer322@yahoo.com'),
 (323, 'Customer323', 'Customer323@yahoo.com'),
 (324, 'Customer324', 'Customer324@yahoo.com'),
 (325, 'Customer325', 'Customer325@yahoo.com'),
 (326, 'Customer326', 'Customer326@hotmail.com'),
 (327, 'Customer327', 'Customer327@hotmail.com'),
 (328, 'Customer328', 'Customer328@hotmail.com'),
 (329, 'Customer329', 'Customer329@hotmail.com'),
 (330, 'Customer330', 'Customer330@hotmail.com'),
 (331, 'Customer331', 'Customer331@yahoo.com'),
 (332, 'Customer332', 'Customer332@gmail.com'),
 (333, 'Customer333', 'Customer333@gmail.com'),
 (334, 'Customer334', 'Customer334@yahoo.com'),
 (335, 'Customer335', 'Customer335@gmail.com'),
 (336, 'Customer336', 'Customer336@gmail.com'),
 (337, 'Customer337', 'Customer337@hotmail.com'),
 (338, 'Customer338', 'Customer338@hotmail.com'),
 (339, 'Customer339', 'Customer339@hotmail.com'),
 (340, 'Customer340', 'Customer340@gmail.com'),
 (341, 'Customer341', 'Customer341@hotmail.com'),
 (342, 'Customer342', 'Customer342@yahoo.com'),
 (343, 'Customer343', 'Customer343@gmail.com'),
 (344, 'Customer344', 'Customer344@gmail.com'),
 (345, 'Customer345', 'Customer345@hotmail.com'),
 (346, 'Customer346', 'Customer346@yahoo.com'),
 (347, 'Customer347', 'Customer347@hotmail.com'),
 (348, 'Customer348', 'Customer348@hotmail.com'),
 (349, 'Customer349', 'Customer349@gmail.com'),
 (350, 'Customer350', 'Customer350@gmail.com'),
 (351, 'Customer351', 'Customer351@hotmail.com'),
 (352, 'Customer352', 'Customer352@gmail.com'),
 (353, 'Customer353', 'Customer353@gmail.com'),
 (354, 'Customer354', 'Customer354@gmail.com'),
 (355, 'Customer355', 'Customer355@hotmail.com'),
 (356, 'Customer356', 'Customer356@gmail.com'),
 (357, 'Customer357', 'Customer357@hotmail.com'),
 (358, 'Customer358', 'Customer358@gmail.com'),
 (359, 'Customer359', 'Customer359@yahoo.com'),
 (360, 'Customer360', 'Customer360@gmail.com'),
 (361, 'Customer361', 'Customer361@hotmail.com'),
 (362, 'Customer362', 'Customer362@gmail.com'),
 (363, 'Customer363', 'Customer363@hotmail.com'),
 (364, 'Customer364', 'Customer364@hotmail.com'),
 (365, 'Customer365', 'Customer365@gmail.com'),
 (366, 'Customer366', 'Customer366@hotmail.com'),
 (367, 'Customer367', 'Customer367@gmail.com'),
 (368, 'Customer368', 'Customer368@yahoo.com'),
 (369, 'Customer369', 'Customer369@hotmail.com'),
 (370, 'Customer370', 'Customer370@hotmail.com'),
 (371, 'Customer371', 'Customer371@hotmail.com'),
 (372, 'Customer372', 'Customer372@hotmail.com'),
 (373, 'Customer373', 'Customer373@yahoo.com'),
 (374, 'Customer374', 'Customer374@yahoo.com'),
 (375, 'Customer375', 'Customer375@gmail.com'),
 (376, 'Customer376', 'Customer376@hotmail.com'),
 (377, 'Customer377', 'Customer377@hotmail.com'),
 (378, 'Customer378', 'Customer378@yahoo.com'),
 (379, 'Customer379', 'Customer379@gmail.com'),
 (380, 'Customer380', 'Customer380@yahoo.com'),
 (381, 'Customer381', 'Customer381@yahoo.com'),
 (382, 'Customer382', 'Customer382@gmail.com'),
 (383, 'Customer383', 'Customer383@hotmail.com'),
 (384, 'Customer384', 'Customer384@hotmail.com'),
 (385, 'Customer385', 'Customer385@yahoo.com'),
 (386, 'Customer386', 'Customer386@yahoo.com'),
 (387, 'Customer387', 'Customer387@yahoo.com'),
 (388, 'Customer388', 'Customer388@gmail.com'),
 (389, 'Customer389', 'Customer389@gmail.com'),
 (390, 'Customer390', 'Customer390@yahoo.com'),
 (391, 'Customer391', 'Customer391@hotmail.com'),
 (392, 'Customer392', 'Customer392@hotmail.com'),
 (393, 'Customer393', 'Customer393@gmail.com'),
 (394, 'Customer394', 'Customer394@gmail.com'),
 (395, 'Customer395', 'Customer395@hotmail.com'),
 (396, 'Customer396', 'Customer396@gmail.com'),
 (397, 'Customer397', 'Customer397@hotmail.com'),
 (398, 'Customer398', 'Customer398@yahoo.com'),
 (399, 'Customer399', 'Customer399@gmail.com'),
 (400, 'Customer400', 'Customer400@yahoo.com'),
 (401, 'Customer401', 'Customer401@gmail.com'),
 (402, 'Customer402', 'Customer402@gmail.com'),
 (403, 'Customer403', 'Customer403@yahoo.com'),
 (404, 'Customer404', 'Customer404@yahoo.com'),
 (405, 'Customer405', 'Customer405@gmail.com'),
 (406, 'Customer406', 'Customer406@yahoo.com'),
 (407, 'Customer407', 'Customer407@hotmail.com'),
 (408, 'Customer408', 'Customer408@hotmail.com'),
 (409, 'Customer409', 'Customer409@yahoo.com'),
 (410, 'Customer410', 'Customer410@hotmail.com'),
 (411, 'Customer411', 'Customer411@hotmail.com'),
 (412, 'Customer412', 'Customer412@hotmail.com'),
 (413, 'Customer413', 'Customer413@gmail.com'),
 (414, 'Customer414', 'Customer414@hotmail.com'),
 (415, 'Customer415', 'Customer415@hotmail.com'),
 (416, 'Customer416', 'Customer416@yahoo.com'),
 (417, 'Customer417', 'Customer417@hotmail.com'),

In [ ]:
%%sql

UPDATE customers SET email = 'Customer1@example.com' WHERE name = 'Customer1';

 * sqlite:///bonga_ecommerce.db
1 rows affected.

[]

In [ ]:
%%sql

SELECT * FROM customers;

 * sqlite:///bonga_ecommerce.db
Done.

[(1, 'Customer1', 'Customer1@example.com'),
 (2, 'Customer2', 'Customer2@gmail.com'),
 (3, 'Customer3', 'Customer3@gmail.com'),
 (4, 'Customer4', 'Customer4@hotmail.com'),
 (5, 'Customer5', 'Customer5@yahoo.com'),
 (6, 'Customer6', 'Customer6@gmail.com'),
 (7, 'Customer7', 'Customer7@gmail.com'),
 (8, 'Customer8', 'Customer8@gmail.com'),
 (9, 'Customer9', 'Customer9@hotmail.com'),
 (10, 'Customer10', 'Customer10@gmail.com'),
 (11, 'Customer11', 'Customer11@hotmail.com'),
 (12, 'Customer12', 'Customer12@hotmail.com'),
 (13, 'Customer13', 'Customer13@hotmail.com'),
 (14, 'Customer14', 'Customer14@gmail.com'),
 (15, 'Customer15', 'Customer15@hotmail.com'),
 (16, 'Customer16', 'Customer16@yahoo.com'),
 (17, 'Customer17', 'Customer17@gmail.com'),
 (18, 'Customer18', 'Customer18@gmail.com'),
 (19, 'Customer19', 'Customer19@gmail.com'),
 (20, 'Customer20', 'Customer20@gmail.com'),
 (21, 'Customer21', 'Customer21@gmail.com'),
 (22, 'Customer22', 'Customer22@hotmail.com'),
 (23, 'Customer23', 'Customer23@hotmail.com'),
 (24, 'Customer24', 'Customer24@gmail.com'),
 (25, 'Customer25', 'Customer25@hotmail.com'),
 (26, 'Customer26', 'Customer26@gmail.com'),
 (27, 'Customer27', 'Customer27@hotmail.com'),
 (28, 'Customer28', 'Customer28@hotmail.com'),
 (29, 'Customer29', 'Customer29@hotmail.com'),
 (30, 'Customer30', 'Customer30@hotmail.com'),
 (31, 'Customer31', 'Customer31@yahoo.com'),
 (32, 'Customer32', 'Customer32@gmail.com'),
 (33, 'Customer33', 'Customer33@yahoo.com'),
 (34, 'Customer34', 'Customer34@hotmail.com'),
 (35, 'Customer35', 'Customer35@yahoo.com'),
 (36, 'Customer36', 'Customer36@gmail.com'),
 (37, 'Customer37', 'Customer37@gmail.com'),
 (38, 'Customer38', 'Customer38@hotmail.com'),
 (39, 'Customer39', 'Customer39@yahoo.com'),
 (40, 'Customer40', 'Customer40@yahoo.com'),
 (41, 'Customer41', 'Customer41@yahoo.com'),
 (42, 'Customer42', 'Customer42@gmail.com'),
 (43, 'Customer43', 'Customer43@gmail.com'),
 (44, 'Customer44', 'Customer44@yahoo.com'),
 (45, 'Customer45', 'Customer45@gmail.com'),
 (46, 'Customer46', 'Customer46@gmail.com'),
 (47, 'Customer47', 'Customer47@yahoo.com'),
 (48, 'Customer48', 'Customer48@gmail.com'),
 (49, 'Customer49', 'Customer49@yahoo.com'),
 (50, 'Customer50', 'Customer50@yahoo.com'),
 (51, 'Customer51', 'Customer51@hotmail.com'),
 (52, 'Customer52', 'Customer52@yahoo.com'),
 (53, 'Customer53', 'Customer53@gmail.com'),
 (54, 'Customer54', 'Customer54@hotmail.com'),
 (55, 'Customer55', 'Customer55@yahoo.com'),
 (56, 'Customer56', 'Customer56@hotmail.com'),
 (57, 'Customer57', 'Customer57@gmail.com'),
 (58, 'Customer58', 'Customer58@yahoo.com'),
 (59, 'Customer59', 'Customer59@gmail.com'),
 (60, 'Customer60', 'Customer60@hotmail.com'),
 (61, 'Customer61', 'Customer61@yahoo.com'),
 (62, 'Customer62', 'Customer62@hotmail.com'),
 (63, 'Customer63', 'Customer63@hotmail.com'),
 (64, 'Customer64', 'Customer64@yahoo.com'),
 (65, 'Customer65', 'Customer65@hotmail.com'),
 (66, 'Customer66', 'Customer66@gmail.com'),
 (67, 'Customer67', 'Customer67@hotmail.com'),
 (68, 'Customer68', 'Customer68@gmail.com'),
 (69, 'Customer69', 'Customer69@gmail.com'),
 (70, 'Customer70', 'Customer70@hotmail.com'),
 (71, 'Customer71', 'Customer71@gmail.com'),
 (72, 'Customer72', 'Customer72@yahoo.com'),
 (73, 'Customer73', 'Customer73@gmail.com'),
 (74, 'Customer74', 'Customer74@gmail.com'),
 (75, 'Customer75', 'Customer75@gmail.com'),
 (76, 'Customer76', 'Customer76@yahoo.com'),
 (77, 'Customer77', 'Customer77@yahoo.com'),
 (78, 'Customer78', 'Customer78@yahoo.com'),
 (79, 'Customer79', 'Customer79@hotmail.com'),
 (80, 'Customer80', 'Customer80@yahoo.com'),
 (81, 'Customer81', 'Customer81@gmail.com'),
 (82, 'Customer82', 'Customer82@yahoo.com'),
 (83, 'Customer83', 'Customer83@yahoo.com'),
 (84, 'Customer84', 'Customer84@gmail.com'),
 (85, 'Customer85', 'Customer85@hotmail.com'),
 (86, 'Customer86', 'Customer86@yahoo.com'),
 (87, 'Customer87', 'Customer87@hotmail.com'),
 (88, 'Customer88', 'Customer88@hotmail.com'),
 (89, 'Customer89', 'Customer89@hotmail.com'),
 (90, 'Customer90', 'Customer90@gmail.com'),
 (91, 'Customer91', 'Customer91@hotmail.com'),
 (92, 'Customer92', 'Customer92@hotmail.com'),
 (93, 'Customer93', 'Customer93@gmail.com'),
 (94, 'Customer94', 'Customer94@hotmail.com'),
 (95, 'Customer95', 'Customer95@hotmail.com'),
 (96, 'Customer96', 'Customer96@gmail.com'),
 (97, 'Customer97', 'Customer97@gmail.com'),
 (98, 'Customer98', 'Customer98@yahoo.com'),
 (99, 'Customer99', 'Customer99@yahoo.com'),
 (100, 'Customer100', 'Customer100@yahoo.com'),
 (101, 'Customer101', 'Customer101@hotmail.com'),
 (102, 'Customer102', 'Customer102@hotmail.com'),
 (103, 'Customer103', 'Customer103@hotmail.com'),
 (104, 'Customer104', 'Customer104@gmail.com'),
 (105, 'Customer105', 'Customer105@hotmail.com'),
 (106, 'Customer106', 'Customer106@yahoo.com'),
 (107, 'Customer107', 'Customer107@gmail.com'),
 (108, 'Customer108', 'Customer108@gmail.com'),
 (109, 'Customer109', 'Customer109@gmail.com'),
 (110, 'Customer110', 'Customer110@yahoo.com'),
 (111, 'Customer111', 'Customer111@yahoo.com'),
 (112, 'Customer112', 'Customer112@yahoo.com'),
 (113, 'Customer113', 'Customer113@gmail.com'),
 (114, 'Customer114', 'Customer114@gmail.com'),
 (115, 'Customer115', 'Customer115@hotmail.com'),
 (116, 'Customer116', 'Customer116@hotmail.com'),
 (117, 'Customer117', 'Customer117@yahoo.com'),
 (118, 'Customer118', 'Customer118@gmail.com'),
 (119, 'Customer119', 'Customer119@hotmail.com'),
 (120, 'Customer120', 'Customer120@yahoo.com'),
 (121, 'Customer121', 'Customer121@yahoo.com'),
 (122, 'Customer122', 'Customer122@hotmail.com'),
 (123, 'Customer123', 'Customer123@yahoo.com'),
 (124, 'Customer124', 'Customer124@gmail.com'),
 (125, 'Customer125', 'Customer125@yahoo.com'),
 (126, 'Customer126', 'Customer126@gmail.com'),
 (127, 'Customer127', 'Customer127@gmail.com'),
 (128, 'Customer128', 'Customer128@hotmail.com'),
 (129, 'Customer129', 'Customer129@hotmail.com'),
 (130, 'Customer130', 'Customer130@hotmail.com'),
 (131, 'Customer131', 'Customer131@yahoo.com'),
 (132, 'Customer132', 'Customer132@hotmail.com'),
 (133, 'Customer133', 'Customer133@hotmail.com'),
 (134, 'Customer134', 'Customer134@yahoo.com'),
 (135, 'Customer135', 'Customer135@hotmail.com'),
 (136, 'Customer136', 'Customer136@yahoo.com'),
 (137, 'Customer137', 'Customer137@yahoo.com'),
 (138, 'Customer138', 'Customer138@gmail.com'),
 (139, 'Customer139', 'Customer139@gmail.com'),
 (140, 'Customer140', 'Customer140@hotmail.com'),
 (141, 'Customer141', 'Customer141@yahoo.com'),
 (142, 'Customer142', 'Customer142@gmail.com'),
 (143, 'Customer143', 'Customer143@gmail.com'),
 (144, 'Customer144', 'Customer144@gmail.com'),
 (145, 'Customer145', 'Customer145@gmail.com'),
 (146, 'Customer146', 'Customer146@hotmail.com'),
 (147, 'Customer147', 'Customer147@gmail.com'),
 (148, 'Customer148', 'Customer148@hotmail.com'),
 (149, 'Customer149', 'Customer149@yahoo.com'),
 (150, 'Customer150', 'Customer150@hotmail.com'),
 (151, 'Customer151', 'Customer151@gmail.com'),
 (152, 'Customer152', 'Customer152@yahoo.com'),
 (153, 'Customer153', 'Customer153@yahoo.com'),
 (154, 'Customer154', 'Customer154@hotmail.com'),
 (155, 'Customer155', 'Customer155@yahoo.com'),
 (156, 'Customer156', 'Customer156@hotmail.com'),
 (157, 'Customer157', 'Customer157@yahoo.com'),
 (158, 'Customer158', 'Customer158@hotmail.com'),
 (159, 'Customer159', 'Customer159@gmail.com'),
 (160, 'Customer160', 'Customer160@hotmail.com'),
 (161, 'Customer161', 'Customer161@hotmail.com'),
 (162, 'Customer162', 'Customer162@gmail.com'),
 (163, 'Customer163', 'Customer163@hotmail.com'),
 (164, 'Customer164', 'Customer164@hotmail.com'),
 (165, 'Customer165', 'Customer165@yahoo.com'),
 (166, 'Customer166', 'Customer166@hotmail.com'),
 (167, 'Customer167', 'Customer167@yahoo.com'),
 (168, 'Customer168', 'Customer168@gmail.com'),
 (169, 'Customer169', 'Customer169@yahoo.com'),
 (170, 'Customer170', 'Customer170@yahoo.com'),
 (171, 'Customer171', 'Customer171@gmail.com'),
 (172, 'Customer172', 'Customer172@yahoo.com'),
 (173, 'Customer173', 'Customer173@gmail.com'),
 (174, 'Customer174', 'Customer174@hotmail.com'),
 (175, 'Customer175', 'Customer175@hotmail.com'),
 (176, 'Customer176', 'Customer176@yahoo.com'),
 (177, 'Customer177', 'Customer177@hotmail.com'),
 (178, 'Customer178', 'Customer178@gmail.com'),
 (179, 'Customer179', 'Customer179@hotmail.com'),
 (180, 'Customer180', 'Customer180@gmail.com'),
 (181, 'Customer181', 'Customer181@hotmail.com'),
 (182, 'Customer182', 'Customer182@yahoo.com'),
 (183, 'Customer183', 'Customer183@hotmail.com'),
 (184, 'Customer184', 'Customer184@hotmail.com'),
 (185, 'Customer185', 'Customer185@hotmail.com'),
 (186, 'Customer186', 'Customer186@gmail.com'),
 (187, 'Customer187', 'Customer187@gmail.com'),
 (188, 'Customer188', 'Customer188@yahoo.com'),
 (189, 'Customer189', 'Customer189@gmail.com'),
 (190, 'Customer190', 'Customer190@hotmail.com'),
 (191, 'Customer191', 'Customer191@hotmail.com'),
 (192, 'Customer192', 'Customer192@gmail.com'),
 (193, 'Customer193', 'Customer193@hotmail.com'),
 (194, 'Customer194', 'Customer194@yahoo.com'),
 (195, 'Customer195', 'Customer195@yahoo.com'),
 (196, 'Customer196', 'Customer196@gmail.com'),
 (197, 'Customer197', 'Customer197@gmail.com'),
 (198, 'Customer198', 'Customer198@yahoo.com'),
 (199, 'Customer199', 'Customer199@yahoo.com'),
 (200, 'Customer200', 'Customer200@gmail.com'),
 (201, 'Customer201', 'Customer201@gmail.com'),
 (202, 'Customer202', 'Customer202@gmail.com'),
 (203, 'Customer203', 'Customer203@hotmail.com'),
 (204, 'Customer204', 'Customer204@gmail.com'),
 (205, 'Customer205', 'Customer205@gmail.com'),
 (206, 'Customer206', 'Customer206@hotmail.com'),
 (207, 'Customer207', 'Customer207@yahoo.com'),
 (208, 'Customer208', 'Customer208@gmail.com'),
 (209, 'Customer209', 'Customer209@hotmail.com'),
 (210, 'Customer210', 'Customer210@gmail.com'),
 (211, 'Customer211', 'Customer211@gmail.com'),
 (212, 'Customer212', 'Customer212@hotmail.com'),
 (213, 'Customer213', 'Customer213@yahoo.com'),
 (214, 'Customer214', 'Customer214@hotmail.com'),
 (215, 'Customer215', 'Customer215@gmail.com'),
 (216, 'Customer216', 'Customer216@yahoo.com'),
 (217, 'Customer217', 'Customer217@hotmail.com'),
 (218, 'Customer218', 'Customer218@hotmail.com'),
 (219, 'Customer219', 'Customer219@yahoo.com'),
 (220, 'Customer220', 'Customer220@gmail.com'),
 (221, 'Customer221', 'Customer221@hotmail.com'),
 (222, 'Customer222', 'Customer222@hotmail.com'),
 (223, 'Customer223', 'Customer223@hotmail.com'),
 (224, 'Customer224', 'Customer224@gmail.com'),
 (225, 'Customer225', 'Customer225@hotmail.com'),
 (226, 'Customer226', 'Customer226@yahoo.com'),
 (227, 'Customer227', 'Customer227@yahoo.com'),
 (228, 'Customer228', 'Customer228@hotmail.com'),
 (229, 'Customer229', 'Customer229@hotmail.com'),
 (230, 'Customer230', 'Customer230@yahoo.com'),
 (231, 'Customer231', 'Customer231@yahoo.com'),
 (232, 'Customer232', 'Customer232@hotmail.com'),
 (233, 'Customer233', 'Customer233@yahoo.com'),
 (234, 'Customer234', 'Customer234@gmail.com'),
 (235, 'Customer235', 'Customer235@gmail.com'),
 (236, 'Customer236', 'Customer236@gmail.com'),
 (237, 'Customer237', 'Customer237@gmail.com'),
 (238, 'Customer238', 'Customer238@yahoo.com'),
 (239, 'Customer239', 'Customer239@gmail.com'),
 (240, 'Customer240', 'Customer240@hotmail.com'),
 (241, 'Customer241', 'Customer241@hotmail.com'),
 (242, 'Customer242', 'Customer242@gmail.com'),
 (243, 'Customer243', 'Customer243@hotmail.com'),
 (244, 'Customer244', 'Customer244@gmail.com'),
 (245, 'Customer245', 'Customer245@gmail.com'),
 (246, 'Customer246', 'Customer246@gmail.com'),
 (247, 'Customer247', 'Customer247@hotmail.com'),
 (248, 'Customer248', 'Customer248@hotmail.com'),
 (249, 'Customer249', 'Customer249@gmail.com'),
 (250, 'Customer250', 'Customer250@gmail.com'),
 (251, 'Customer251', 'Customer251@gmail.com'),
 (252, 'Customer252', 'Customer252@gmail.com'),
 (253, 'Customer253', 'Customer253@yahoo.com'),
 (254, 'Customer254', 'Customer254@gmail.com'),
 (255, 'Customer255', 'Customer255@hotmail.com'),
 (256, 'Customer256', 'Customer256@gmail.com'),
 (257, 'Customer257', 'Customer257@yahoo.com'),
 (258, 'Customer258', 'Customer258@hotmail.com'),
 (259, 'Customer259', 'Customer259@yahoo.com'),
 (260, 'Customer260', 'Customer260@gmail.com'),
 (261, 'Customer261', 'Customer261@hotmail.com'),
 (262, 'Customer262', 'Customer262@gmail.com'),
 (263, 'Customer263', 'Customer263@hotmail.com'),
 (264, 'Customer264', 'Customer264@hotmail.com'),
 (265, 'Customer265', 'Customer265@hotmail.com'),
 (266, 'Customer266', 'Customer266@yahoo.com'),
 (267, 'Customer267', 'Customer267@gmail.com'),
 (268, 'Customer268', 'Customer268@yahoo.com'),
 (269, 'Customer269', 'Customer269@yahoo.com'),
 (270, 'Customer270', 'Customer270@gmail.com'),
 (271, 'Customer271', 'Customer271@gmail.com'),
 (272, 'Customer272', 'Customer272@gmail.com'),
 (273, 'Customer273', 'Customer273@hotmail.com'),
 (274, 'Customer274', 'Customer274@yahoo.com'),
 (275, 'Customer275', 'Customer275@yahoo.com'),
 (276, 'Customer276', 'Customer276@yahoo.com'),
 (277, 'Customer277', 'Customer277@yahoo.com'),
 (278, 'Customer278', 'Customer278@yahoo.com'),
 (279, 'Customer279', 'Customer279@hotmail.com'),
 (280, 'Customer280', 'Customer280@gmail.com'),
 (281, 'Customer281', 'Customer281@hotmail.com'),
 (282, 'Customer282', 'Customer282@hotmail.com'),
 (283, 'Customer283', 'Customer283@hotmail.com'),
 (284, 'Customer284', 'Customer284@gmail.com'),
 (285, 'Customer285', 'Customer285@gmail.com'),
 (286, 'Customer286', 'Customer286@yahoo.com'),
 (287, 'Customer287', 'Customer287@hotmail.com'),
 (288, 'Customer288', 'Customer288@yahoo.com'),
 (289, 'Customer289', 'Customer289@gmail.com'),
 (290, 'Customer290', 'Customer290@gmail.com'),
 (291, 'Customer291', 'Customer291@gmail.com'),
 (292, 'Customer292', 'Customer292@gmail.com'),
 (293, 'Customer293', 'Customer293@hotmail.com'),
 (294, 'Customer294', 'Customer294@yahoo.com'),
 (295, 'Customer295', 'Customer295@gmail.com'),
 (296, 'Customer296', 'Customer296@yahoo.com'),
 (297, 'Customer297', 'Customer297@gmail.com'),
 (298, 'Customer298', 'Customer298@yahoo.com'),
 (299, 'Customer299', 'Customer299@yahoo.com'),
 (300, 'Customer300', 'Customer300@gmail.com'),
 (301, 'Customer301', 'Customer301@gmail.com'),
 (302, 'Customer302', 'Customer302@yahoo.com'),
 (303, 'Customer303', 'Customer303@hotmail.com'),
 (304, 'Customer304', 'Customer304@gmail.com'),
 (305, 'Customer305', 'Customer305@gmail.com'),
 (306, 'Customer306', 'Customer306@hotmail.com'),
 (307, 'Customer307', 'Customer307@hotmail.com'),
 (308, 'Customer308', 'Customer308@gmail.com'),
 (309, 'Customer309', 'Customer309@gmail.com'),
 (310, 'Customer310', 'Customer310@gmail.com'),
 (311, 'Customer311', 'Customer311@gmail.com'),
 (312, 'Customer312', 'Customer312@yahoo.com'),
 (313, 'Customer313', 'Customer313@yahoo.com'),
 (314, 'Customer314', 'Customer314@yahoo.com'),
 (315, 'Customer315', 'Customer315@gmail.com'),
 (316, 'Customer316', 'Customer316@yahoo.com'),
 (317, 'Customer317', 'Customer317@gmail.com'),
 (318, 'Customer318', 'Customer318@gmail.com'),
 (319, 'Customer319', 'Customer319@yahoo.com'),
 (320, 'Customer320', 'Customer320@gmail.com'),
 (321, 'Customer321', 'Customer321@yahoo.com'),
 (322, 'Customer322', 'Customer322@yahoo.com'),
 (323, 'Customer323', 'Customer323@yahoo.com'),
 (324, 'Customer324', 'Customer324@yahoo.com'),
 (325, 'Customer325', 'Customer325@yahoo.com'),
 (326, 'Customer326', 'Customer326@hotmail.com'),
 (327, 'Customer327', 'Customer327@hotmail.com'),
 (328, 'Customer328', 'Customer328@hotmail.com'),
 (329, 'Customer329', 'Customer329@hotmail.com'),
 (330, 'Customer330', 'Customer330@hotmail.com'),
 (331, 'Customer331', 'Customer331@yahoo.com'),
 (332, 'Customer332', 'Customer332@gmail.com'),
 (333, 'Customer333', 'Customer333@gmail.com'),
 (334, 'Customer334', 'Customer334@yahoo.com'),
 (335, 'Customer335', 'Customer335@gmail.com'),
 (336, 'Customer336', 'Customer336@gmail.com'),
 (337, 'Customer337', 'Customer337@hotmail.com'),
 (338, 'Customer338', 'Customer338@hotmail.com'),
 (339, 'Customer339', 'Customer339@hotmail.com'),
 (340, 'Customer340', 'Customer340@gmail.com'),
 (341, 'Customer341', 'Customer341@hotmail.com'),
 (342, 'Customer342', 'Customer342@yahoo.com'),
 (343, 'Customer343', 'Customer343@gmail.com'),
 (344, 'Customer344', 'Customer344@gmail.com'),
 (345, 'Customer345', 'Customer345@hotmail.com'),
 (346, 'Customer346', 'Customer346@yahoo.com'),
 (347, 'Customer347', 'Customer347@hotmail.com'),
 (348, 'Customer348', 'Customer348@hotmail.com'),
 (349, 'Customer349', 'Customer349@gmail.com'),
 (350, 'Customer350', 'Customer350@gmail.com'),
 (351, 'Customer351', 'Customer351@hotmail.com'),
 (352, 'Customer352', 'Customer352@gmail.com'),
 (353, 'Customer353', 'Customer353@gmail.com'),
 (354, 'Customer354', 'Customer354@gmail.com'),
 (355, 'Customer355', 'Customer355@hotmail.com'),
 (356, 'Customer356', 'Customer356@gmail.com'),
 (357, 'Customer357', 'Customer357@hotmail.com'),
 (358, 'Customer358', 'Customer358@gmail.com'),
 (359, 'Customer359', 'Customer359@yahoo.com'),
 (360, 'Customer360', 'Customer360@gmail.com'),
 (361, 'Customer361', 'Customer361@hotmail.com'),
 (362, 'Customer362', 'Customer362@gmail.com'),
 (363, 'Customer363', 'Customer363@hotmail.com'),
 (364, 'Customer364', 'Customer364@hotmail.com'),
 (365, 'Customer365', 'Customer365@gmail.com'),
 (366, 'Customer366', 'Customer366@hotmail.com'),
 (367, 'Customer367', 'Customer367@gmail.com'),
 (368, 'Customer368', 'Customer368@yahoo.com'),
 (369, 'Customer369', 'Customer369@hotmail.com'),
 (370, 'Customer370', 'Customer370@hotmail.com'),
 (371, 'Customer371', 'Customer371@hotmail.com'),
 (372, 'Customer372', 'Customer372@hotmail.com'),
 (373, 'Customer373', 'Customer373@yahoo.com'),
 (374, 'Customer374', 'Customer374@yahoo.com'),
 (375, 'Customer375', 'Customer375@gmail.com'),
 (376, 'Customer376', 'Customer376@hotmail.com'),
 (377, 'Customer377', 'Customer377@hotmail.com'),
 (378, 'Customer378', 'Customer378@yahoo.com'),
 (379, 'Customer379', 'Customer379@gmail.com'),
 (380, 'Customer380', 'Customer380@yahoo.com'),
 (381, 'Customer381', 'Customer381@yahoo.com'),
 (382, 'Customer382', 'Customer382@gmail.com'),
 (383, 'Customer383', 'Customer383@hotmail.com'),
 (384, 'Customer384', 'Customer384@hotmail.com'),
 (385, 'Customer385', 'Customer385@yahoo.com'),
 (386, 'Customer386', 'Customer386@yahoo.com'),
 (387, 'Customer387', 'Customer387@yahoo.com'),
 (388, 'Customer388', 'Customer388@gmail.com'),
 (389, 'Customer389', 'Customer389@gmail.com'),
 (390, 'Customer390', 'Customer390@yahoo.com'),
 (391, 'Customer391', 'Customer391@hotmail.com'),
 (392, 'Customer392', 'Customer392@hotmail.com'),
 (393, 'Customer393', 'Customer393@gmail.com'),
 (394, 'Customer394', 'Customer394@gmail.com'),
 (395, 'Customer395', 'Customer395@hotmail.com'),
 (396, 'Customer396', 'Customer396@gmail.com'),
 (397, 'Customer397', 'Customer397@hotmail.com'),
 (398, 'Customer398', 'Customer398@yahoo.com'),
 (399, 'Customer399', 'Customer399@gmail.com'),
 (400, 'Customer400', 'Customer400@yahoo.com'),
 (401, 'Customer401', 'Customer401@gmail.com'),
 (402, 'Customer402', 'Customer402@gmail.com'),
 (403, 'Customer403', 'Customer403@yahoo.com'),
 (404, 'Customer404', 'Customer404@yahoo.com'),
 (405, 'Customer405', 'Customer405@gmail.com'),
 (406, 'Customer406', 'Customer406@yahoo.com'),
 (407, 'Customer407', 'Customer407@hotmail.com'),
 (408, 'Customer408', 'Customer408@hotmail.com'),
 (409, 'Customer409', 'Customer409@yahoo.com'),
 (410, 'Customer410', 'Customer410@hotmail.com'),
 (411, 'Customer411', 'Customer411@hotmail.com'),
 (412, 'Customer412', 'Customer412@hotmail.com'),
 (413, 'Customer413', 'Customer413@gmail.com'),
 (414, 'Customer414', 'Customer414@hotmail.com'),
 (415, 'Customer415', 'Customer415@hotmail.com'),
 (416, 'Customer416', 'Customer416@yahoo.com'),
 (417, 'Customer417', 'Customer417@hotmail.com'),

In [ ]:
%%sql

UPDATE customers SET name = 'Jane Doe' WHERE email = 'Customer2@gmail.com';

 * sqlite:///bonga_ecommerce.db
1 rows affected.

[]

In [ ]:
%%sql

SELECT * FROM customers;

 * sqlite:///bonga_ecommerce.db
Done.

[(1, 'Customer1', 'Customer1@example.com'),
 (2, 'Jane Doe', 'Customer2@gmail.com'),
 (3, 'Customer3', 'Customer3@gmail.com'),
 (4, 'Customer4', 'Customer4@hotmail.com'),
 (5, 'Customer5', 'Customer5@yahoo.com'),
 (6, 'Customer6', 'Customer6@gmail.com'),
 (7, 'Customer7', 'Customer7@gmail.com'),
 (8, 'Customer8', 'Customer8@gmail.com'),
 (9, 'Customer9', 'Customer9@hotmail.com'),
 (10, 'Customer10', 'Customer10@gmail.com'),
 (11, 'Customer11', 'Customer11@hotmail.com'),
 (12, 'Customer12', 'Customer12@hotmail.com'),
 (13, 'Customer13', 'Customer13@hotmail.com'),
 (14, 'Customer14', 'Customer14@gmail.com'),
 (15, 'Customer15', 'Customer15@hotmail.com'),
 (16, 'Customer16', 'Customer16@yahoo.com'),
 (17, 'Customer17', 'Customer17@gmail.com'),
 (18, 'Customer18', 'Customer18@gmail.com'),
 (19, 'Customer19', 'Customer19@gmail.com'),
 (20, 'Customer20', 'Customer20@gmail.com'),
 (21, 'Customer21', 'Customer21@gmail.com'),
 (22, 'Customer22', 'Customer22@hotmail.com'),
 (23, 'Customer23', 'Customer23@hotmail.com'),
 (24, 'Customer24', 'Customer24@gmail.com'),
 (25, 'Customer25', 'Customer25@hotmail.com'),
 (26, 'Customer26', 'Customer26@gmail.com'),
 (27, 'Customer27', 'Customer27@hotmail.com'),
 (28, 'Customer28', 'Customer28@hotmail.com'),
 (29, 'Customer29', 'Customer29@hotmail.com'),
 (30, 'Customer30', 'Customer30@hotmail.com'),
 (31, 'Customer31', 'Customer31@yahoo.com'),
 (32, 'Customer32', 'Customer32@gmail.com'),
 (33, 'Customer33', 'Customer33@yahoo.com'),
 (34, 'Customer34', 'Customer34@hotmail.com'),
 (35, 'Customer35', 'Customer35@yahoo.com'),
 (36, 'Customer36', 'Customer36@gmail.com'),
 (37, 'Customer37', 'Customer37@gmail.com'),
 (38, 'Customer38', 'Customer38@hotmail.com'),
 (39, 'Customer39', 'Customer39@yahoo.com'),
 (40, 'Customer40', 'Customer40@yahoo.com'),
 (41, 'Customer41', 'Customer41@yahoo.com'),
 (42, 'Customer42', 'Customer42@gmail.com'),
 (43, 'Customer43', 'Customer43@gmail.com'),
 (44, 'Customer44', 'Customer44@yahoo.com'),
 (45, 'Customer45', 'Customer45@gmail.com'),
 (46, 'Customer46', 'Customer46@gmail.com'),
 (47, 'Customer47', 'Customer47@yahoo.com'),
 (48, 'Customer48', 'Customer48@gmail.com'),
 (49, 'Customer49', 'Customer49@yahoo.com'),
 (50, 'Customer50', 'Customer50@yahoo.com'),
 (51, 'Customer51', 'Customer51@hotmail.com'),
 (52, 'Customer52', 'Customer52@yahoo.com'),
 (53, 'Customer53', 'Customer53@gmail.com'),
 (54, 'Customer54', 'Customer54@hotmail.com'),
 (55, 'Customer55', 'Customer55@yahoo.com'),
 (56, 'Customer56', 'Customer56@hotmail.com'),
 (57, 'Customer57', 'Customer57@gmail.com'),
 (58, 'Customer58', 'Customer58@yahoo.com'),
 (59, 'Customer59', 'Customer59@gmail.com'),
 (60, 'Customer60', 'Customer60@hotmail.com'),
 (61, 'Customer61', 'Customer61@yahoo.com'),
 (62, 'Customer62', 'Customer62@hotmail.com'),
 (63, 'Customer63', 'Customer63@hotmail.com'),
 (64, 'Customer64', 'Customer64@yahoo.com'),
 (65, 'Customer65', 'Customer65@hotmail.com'),
 (66, 'Customer66', 'Customer66@gmail.com'),
 (67, 'Customer67', 'Customer67@hotmail.com'),
 (68, 'Customer68', 'Customer68@gmail.com'),
 (69, 'Customer69', 'Customer69@gmail.com'),
 (70, 'Customer70', 'Customer70@hotmail.com'),
 (71, 'Customer71', 'Customer71@gmail.com'),
 (72, 'Customer72', 'Customer72@yahoo.com'),
 (73, 'Customer73', 'Customer73@gmail.com'),
 (74, 'Customer74', 'Customer74@gmail.com'),
 (75, 'Customer75', 'Customer75@gmail.com'),
 (76, 'Customer76', 'Customer76@yahoo.com'),
 (77, 'Customer77', 'Customer77@yahoo.com'),
 (78, 'Customer78', 'Customer78@yahoo.com'),
 (79, 'Customer79', 'Customer79@hotmail.com'),
 (80, 'Customer80', 'Customer80@yahoo.com'),
 (81, 'Customer81', 'Customer81@gmail.com'),
 (82, 'Customer82', 'Customer82@yahoo.com'),
 (83, 'Customer83', 'Customer83@yahoo.com'),
 (84, 'Customer84', 'Customer84@gmail.com'),
 (85, 'Customer85', 'Customer85@hotmail.com'),
 (86, 'Customer86', 'Customer86@yahoo.com'),
 (87, 'Customer87', 'Customer87@hotmail.com'),
 (88, 'Customer88', 'Customer88@hotmail.com'),
 (89, 'Customer89', 'Customer89@hotmail.com'),
 (90, 'Customer90', 'Customer90@gmail.com'),
 (91, 'Customer91', 'Customer91@hotmail.com'),
 (92, 'Customer92', 'Customer92@hotmail.com'),
 (93, 'Customer93', 'Customer93@gmail.com'),
 (94, 'Customer94', 'Customer94@hotmail.com'),
 (95, 'Customer95', 'Customer95@hotmail.com'),
 (96, 'Customer96', 'Customer96@gmail.com'),
 (97, 'Customer97', 'Customer97@gmail.com'),
 (98, 'Customer98', 'Customer98@yahoo.com'),
 (99, 'Customer99', 'Customer99@yahoo.com'),
 (100, 'Customer100', 'Customer100@yahoo.com'),
 (101, 'Customer101', 'Customer101@hotmail.com'),
 (102, 'Customer102', 'Customer102@hotmail.com'),
 (103, 'Customer103', 'Customer103@hotmail.com'),
 (104, 'Customer104', 'Customer104@gmail.com'),
 (105, 'Customer105', 'Customer105@hotmail.com'),
 (106, 'Customer106', 'Customer106@yahoo.com'),
 (107, 'Customer107', 'Customer107@gmail.com'),
 (108, 'Customer108', 'Customer108@gmail.com'),
 (109, 'Customer109', 'Customer109@gmail.com'),
 (110, 'Customer110', 'Customer110@yahoo.com'),
 (111, 'Customer111', 'Customer111@yahoo.com'),
 (112, 'Customer112', 'Customer112@yahoo.com'),
 (113, 'Customer113', 'Customer113@gmail.com'),
 (114, 'Customer114', 'Customer114@gmail.com'),
 (115, 'Customer115', 'Customer115@hotmail.com'),
 (116, 'Customer116', 'Customer116@hotmail.com'),
 (117, 'Customer117', 'Customer117@yahoo.com'),
 (118, 'Customer118', 'Customer118@gmail.com'),
 (119, 'Customer119', 'Customer119@hotmail.com'),
 (120, 'Customer120', 'Customer120@yahoo.com'),
 (121, 'Customer121', 'Customer121@yahoo.com'),
 (122, 'Customer122', 'Customer122@hotmail.com'),
 (123, 'Customer123', 'Customer123@yahoo.com'),
 (124, 'Customer124', 'Customer124@gmail.com'),
 (125, 'Customer125', 'Customer125@yahoo.com'),
 (126, 'Customer126', 'Customer126@gmail.com'),
 (127, 'Customer127', 'Customer127@gmail.com'),
 (128, 'Customer128', 'Customer128@hotmail.com'),
 (129, 'Customer129', 'Customer129@hotmail.com'),
 (130, 'Customer130', 'Customer130@hotmail.com'),
 (131, 'Customer131', 'Customer131@yahoo.com'),
 (132, 'Customer132', 'Customer132@hotmail.com'),
 (133, 'Customer133', 'Customer133@hotmail.com'),
 (134, 'Customer134', 'Customer134@yahoo.com'),
 (135, 'Customer135', 'Customer135@hotmail.com'),
 (136, 'Customer136', 'Customer136@yahoo.com'),
 (137, 'Customer137', 'Customer137@yahoo.com'),
 (138, 'Customer138', 'Customer138@gmail.com'),
 (139, 'Customer139', 'Customer139@gmail.com'),
 (140, 'Customer140', 'Customer140@hotmail.com'),
 (141, 'Customer141', 'Customer141@yahoo.com'),
 (142, 'Customer142', 'Customer142@gmail.com'),
 (143, 'Customer143', 'Customer143@gmail.com'),
 (144, 'Customer144', 'Customer144@gmail.com'),
 (145, 'Customer145', 'Customer145@gmail.com'),
 (146, 'Customer146', 'Customer146@hotmail.com'),
 (147, 'Customer147', 'Customer147@gmail.com'),
 (148, 'Customer148', 'Customer148@hotmail.com'),
 (149, 'Customer149', 'Customer149@yahoo.com'),
 (150, 'Customer150', 'Customer150@hotmail.com'),
 (151, 'Customer151', 'Customer151@gmail.com'),
 (152, 'Customer152', 'Customer152@yahoo.com'),
 (153, 'Customer153', 'Customer153@yahoo.com'),
 (154, 'Customer154', 'Customer154@hotmail.com'),
 (155, 'Customer155', 'Customer155@yahoo.com'),
 (156, 'Customer156', 'Customer156@hotmail.com'),
 (157, 'Customer157', 'Customer157@yahoo.com'),
 (158, 'Customer158', 'Customer158@hotmail.com'),
 (159, 'Customer159', 'Customer159@gmail.com'),
 (160, 'Customer160', 'Customer160@hotmail.com'),
 (161, 'Customer161', 'Customer161@hotmail.com'),
 (162, 'Customer162', 'Customer162@gmail.com'),
 (163, 'Customer163', 'Customer163@hotmail.com'),
 (164, 'Customer164', 'Customer164@hotmail.com'),
 (165, 'Customer165', 'Customer165@yahoo.com'),
 (166, 'Customer166', 'Customer166@hotmail.com'),
 (167, 'Customer167', 'Customer167@yahoo.com'),
 (168, 'Customer168', 'Customer168@gmail.com'),
 (169, 'Customer169', 'Customer169@yahoo.com'),
 (170, 'Customer170', 'Customer170@yahoo.com'),
 (171, 'Customer171', 'Customer171@gmail.com'),
 (172, 'Customer172', 'Customer172@yahoo.com'),
 (173, 'Customer173', 'Customer173@gmail.com'),
 (174, 'Customer174', 'Customer174@hotmail.com'),
 (175, 'Customer175', 'Customer175@hotmail.com'),
 (176, 'Customer176', 'Customer176@yahoo.com'),
 (177, 'Customer177', 'Customer177@hotmail.com'),
 (178, 'Customer178', 'Customer178@gmail.com'),
 (179, 'Customer179', 'Customer179@hotmail.com'),
 (180, 'Customer180', 'Customer180@gmail.com'),
 (181, 'Customer181', 'Customer181@hotmail.com'),
 (182, 'Customer182', 'Customer182@yahoo.com'),
 (183, 'Customer183', 'Customer183@hotmail.com'),
 (184, 'Customer184', 'Customer184@hotmail.com'),
 (185, 'Customer185', 'Customer185@hotmail.com'),
 (186, 'Customer186', 'Customer186@gmail.com'),
 (187, 'Customer187', 'Customer187@gmail.com'),
 (188, 'Customer188', 'Customer188@yahoo.com'),
 (189, 'Customer189', 'Customer189@gmail.com'),
 (190, 'Customer190', 'Customer190@hotmail.com'),
 (191, 'Customer191', 'Customer191@hotmail.com'),
 (192, 'Customer192', 'Customer192@gmail.com'),
 (193, 'Customer193', 'Customer193@hotmail.com'),
 (194, 'Customer194', 'Customer194@yahoo.com'),
 (195, 'Customer195', 'Customer195@yahoo.com'),
 (196, 'Customer196', 'Customer196@gmail.com'),
 (197, 'Customer197', 'Customer197@gmail.com'),
 (198, 'Customer198', 'Customer198@yahoo.com'),
 (199, 'Customer199', 'Customer199@yahoo.com'),
 (200, 'Customer200', 'Customer200@gmail.com'),
 (201, 'Customer201', 'Customer201@gmail.com'),
 (202, 'Customer202', 'Customer202@gmail.com'),
 (203, 'Customer203', 'Customer203@hotmail.com'),
 (204, 'Customer204', 'Customer204@gmail.com'),
 (205, 'Customer205', 'Customer205@gmail.com'),
 (206, 'Customer206', 'Customer206@hotmail.com'),
 (207, 'Customer207', 'Customer207@yahoo.com'),
 (208, 'Customer208', 'Customer208@gmail.com'),
 (209, 'Customer209', 'Customer209@hotmail.com'),
 (210, 'Customer210', 'Customer210@gmail.com'),
 (211, 'Customer211', 'Customer211@gmail.com'),
 (212, 'Customer212', 'Customer212@hotmail.com'),
 (213, 'Customer213', 'Customer213@yahoo.com'),
 (214, 'Customer214', 'Customer214@hotmail.com'),
 (215, 'Customer215', 'Customer215@gmail.com'),
 (216, 'Customer216', 'Customer216@yahoo.com'),
 (217, 'Customer217', 'Customer217@hotmail.com'),
 (218, 'Customer218', 'Customer218@hotmail.com'),
 (219, 'Customer219', 'Customer219@yahoo.com'),
 (220, 'Customer220', 'Customer220@gmail.com'),
 (221, 'Customer221', 'Customer221@hotmail.com'),
 (222, 'Customer222', 'Customer222@hotmail.com'),
 (223, 'Customer223', 'Customer223@hotmail.com'),
 (224, 'Customer224', 'Customer224@gmail.com'),
 (225, 'Customer225', 'Customer225@hotmail.com'),
 (226, 'Customer226', 'Customer226@yahoo.com'),
 (227, 'Customer227', 'Customer227@yahoo.com'),
 (228, 'Customer228', 'Customer228@hotmail.com'),
 (229, 'Customer229', 'Customer229@hotmail.com'),
 (230, 'Customer230', 'Customer230@yahoo.com'),
 (231, 'Customer231', 'Customer231@yahoo.com'),
 (232, 'Customer232', 'Customer232@hotmail.com'),
 (233, 'Customer233', 'Customer233@yahoo.com'),
 (234, 'Customer234', 'Customer234@gmail.com'),
 (235, 'Customer235', 'Customer235@gmail.com'),
 (236, 'Customer236', 'Customer236@gmail.com'),
 (237, 'Customer237', 'Customer237@gmail.com'),
 (238, 'Customer238', 'Customer238@yahoo.com'),
 (239, 'Customer239', 'Customer239@gmail.com'),
 (240, 'Customer240', 'Customer240@hotmail.com'),
 (241, 'Customer241', 'Customer241@hotmail.com'),
 (242, 'Customer242', 'Customer242@gmail.com'),
 (243, 'Customer243', 'Customer243@hotmail.com'),
 (244, 'Customer244', 'Customer244@gmail.com'),
 (245, 'Customer245', 'Customer245@gmail.com'),
 (246, 'Customer246', 'Customer246@gmail.com'),
 (247, 'Customer247', 'Customer247@hotmail.com'),
 (248, 'Customer248', 'Customer248@hotmail.com'),
 (249, 'Customer249', 'Customer249@gmail.com'),
 (250, 'Customer250', 'Customer250@gmail.com'),
 (251, 'Customer251', 'Customer251@gmail.com'),
 (252, 'Customer252', 'Customer252@gmail.com'),
 (253, 'Customer253', 'Customer253@yahoo.com'),
 (254, 'Customer254', 'Customer254@gmail.com'),
 (255, 'Customer255', 'Customer255@hotmail.com'),
 (256, 'Customer256', 'Customer256@gmail.com'),
 (257, 'Customer257', 'Customer257@yahoo.com'),
 (258, 'Customer258', 'Customer258@hotmail.com'),
 (259, 'Customer259', 'Customer259@yahoo.com'),
 (260, 'Customer260', 'Customer260@gmail.com'),
 (261, 'Customer261', 'Customer261@hotmail.com'),
 (262, 'Customer262', 'Customer262@gmail.com'),
 (263, 'Customer263', 'Customer263@hotmail.com'),
 (264, 'Customer264', 'Customer264@hotmail.com'),
 (265, 'Customer265', 'Customer265@hotmail.com'),
 (266, 'Customer266', 'Customer266@yahoo.com'),
 (267, 'Customer267', 'Customer267@gmail.com'),
 (268, 'Customer268', 'Customer268@yahoo.com'),
 (269, 'Customer269', 'Customer269@yahoo.com'),
 (270, 'Customer270', 'Customer270@gmail.com'),
 (271, 'Customer271', 'Customer271@gmail.com'),
 (272, 'Customer272', 'Customer272@gmail.com'),
 (273, 'Customer273', 'Customer273@hotmail.com'),
 (274, 'Customer274', 'Customer274@yahoo.com'),
 (275, 'Customer275', 'Customer275@yahoo.com'),
 (276, 'Customer276', 'Customer276@yahoo.com'),
 (277, 'Customer277', 'Customer277@yahoo.com'),
 (278, 'Customer278', 'Customer278@yahoo.com'),
 (279, 'Customer279', 'Customer279@hotmail.com'),
 (280, 'Customer280', 'Customer280@gmail.com'),
 (281, 'Customer281', 'Customer281@hotmail.com'),
 (282, 'Customer282', 'Customer282@hotmail.com'),
 (283, 'Customer283', 'Customer283@hotmail.com'),
 (284, 'Customer284', 'Customer284@gmail.com'),
 (285, 'Customer285', 'Customer285@gmail.com'),
 (286, 'Customer286', 'Customer286@yahoo.com'),
 (287, 'Customer287', 'Customer287@hotmail.com'),
 (288, 'Customer288', 'Customer288@yahoo.com'),
 (289, 'Customer289', 'Customer289@gmail.com'),
 (290, 'Customer290', 'Customer290@gmail.com'),
 (291, 'Customer291', 'Customer291@gmail.com'),
 (292, 'Customer292', 'Customer292@gmail.com'),
 (293, 'Customer293', 'Customer293@hotmail.com'),
 (294, 'Customer294', 'Customer294@yahoo.com'),
 (295, 'Customer295', 'Customer295@gmail.com'),
 (296, 'Customer296', 'Customer296@yahoo.com'),
 (297, 'Customer297', 'Customer297@gmail.com'),
 (298, 'Customer298', 'Customer298@yahoo.com'),
 (299, 'Customer299', 'Customer299@yahoo.com'),
 (300, 'Customer300', 'Customer300@gmail.com'),
 (301, 'Customer301', 'Customer301@gmail.com'),
 (302, 'Customer302', 'Customer302@yahoo.com'),
 (303, 'Customer303', 'Customer303@hotmail.com'),
 (304, 'Customer304', 'Customer304@gmail.com'),
 (305, 'Customer305', 'Customer305@gmail.com'),
 (306, 'Customer306', 'Customer306@hotmail.com'),
 (307, 'Customer307', 'Customer307@hotmail.com'),
 (308, 'Customer308', 'Customer308@gmail.com'),
 (309, 'Customer309', 'Customer309@gmail.com'),
 (310, 'Customer310', 'Customer310@gmail.com'),
 (311, 'Customer311', 'Customer311@gmail.com'),
 (312, 'Customer312', 'Customer312@yahoo.com'),
 (313, 'Customer313', 'Customer313@yahoo.com'),
 (314, 'Customer314', 'Customer314@yahoo.com'),
 (315, 'Customer315', 'Customer315@gmail.com'),
 (316, 'Customer316', 'Customer316@yahoo.com'),
 (317, 'Customer317', 'Customer317@gmail.com'),
 (318, 'Customer318', 'Customer318@gmail.com'),
 (319, 'Customer319', 'Customer319@yahoo.com'),
 (320, 'Customer320', 'Customer320@gmail.com'),
 (321, 'Customer321', 'Customer321@yahoo.com'),
 (322, 'Customer322', 'Customer322@yahoo.com'),
 (323, 'Customer323', 'Customer323@yahoo.com'),
 (324, 'Customer324', 'Customer324@yahoo.com'),
 (325, 'Customer325', 'Customer325@yahoo.com'),
 (326, 'Customer326', 'Customer326@hotmail.com'),
 (327, 'Customer327', 'Customer327@hotmail.com'),
 (328, 'Customer328', 'Customer328@hotmail.com'),
 (329, 'Customer329', 'Customer329@hotmail.com'),
 (330, 'Customer330', 'Customer330@hotmail.com'),
 (331, 'Customer331', 'Customer331@yahoo.com'),
 (332, 'Customer332', 'Customer332@gmail.com'),
 (333, 'Customer333', 'Customer333@gmail.com'),
 (334, 'Customer334', 'Customer334@yahoo.com'),
 (335, 'Customer335', 'Customer335@gmail.com'),
 (336, 'Customer336', 'Customer336@gmail.com'),
 (337, 'Customer337', 'Customer337@hotmail.com'),
 (338, 'Customer338', 'Customer338@hotmail.com'),
 (339, 'Customer339', 'Customer339@hotmail.com'),
 (340, 'Customer340', 'Customer340@gmail.com'),
 (341, 'Customer341', 'Customer341@hotmail.com'),
 (342, 'Customer342', 'Customer342@yahoo.com'),
 (343, 'Customer343', 'Customer343@gmail.com'),
 (344, 'Customer344', 'Customer344@gmail.com'),
 (345, 'Customer345', 'Customer345@hotmail.com'),
 (346, 'Customer346', 'Customer346@yahoo.com'),
 (347, 'Customer347', 'Customer347@hotmail.com'),
 (348, 'Customer348', 'Customer348@hotmail.com'),
 (349, 'Customer349', 'Customer349@gmail.com'),
 (350, 'Customer350', 'Customer350@gmail.com'),
 (351, 'Customer351', 'Customer351@hotmail.com'),
 (352, 'Customer352', 'Customer352@gmail.com'),
 (353, 'Customer353', 'Customer353@gmail.com'),
 (354, 'Customer354', 'Customer354@gmail.com'),
 (355, 'Customer355', 'Customer355@hotmail.com'),
 (356, 'Customer356', 'Customer356@gmail.com'),
 (357, 'Customer357', 'Customer357@hotmail.com'),
 (358, 'Customer358', 'Customer358@gmail.com'),
 (359, 'Customer359', 'Customer359@yahoo.com'),
 (360, 'Customer360', 'Customer360@gmail.com'),
 (361, 'Customer361', 'Customer361@hotmail.com'),
 (362, 'Customer362', 'Customer362@gmail.com'),
 (363, 'Customer363', 'Customer363@hotmail.com'),
 (364, 'Customer364', 'Customer364@hotmail.com'),
 (365, 'Customer365', 'Customer365@gmail.com'),
 (366, 'Customer366', 'Customer366@hotmail.com'),
 (367, 'Customer367', 'Customer367@gmail.com'),
 (368, 'Customer368', 'Customer368@yahoo.com'),
 (369, 'Customer369', 'Customer369@hotmail.com'),
 (370, 'Customer370', 'Customer370@hotmail.com'),
 (371, 'Customer371', 'Customer371@hotmail.com'),
 (372, 'Customer372', 'Customer372@hotmail.com'),
 (373, 'Customer373', 'Customer373@yahoo.com'),
 (374, 'Customer374', 'Customer374@yahoo.com'),
 (375, 'Customer375', 'Customer375@gmail.com'),
 (376, 'Customer376', 'Customer376@hotmail.com'),
 (377, 'Customer377', 'Customer377@hotmail.com'),
 (378, 'Customer378', 'Customer378@yahoo.com'),
 (379, 'Customer379', 'Customer379@gmail.com'),
 (380, 'Customer380', 'Customer380@yahoo.com'),
 (381, 'Customer381', 'Customer381@yahoo.com'),
 (382, 'Customer382', 'Customer382@gmail.com'),
 (383, 'Customer383', 'Customer383@hotmail.com'),
 (384, 'Customer384', 'Customer384@hotmail.com'),
 (385, 'Customer385', 'Customer385@yahoo.com'),
 (386, 'Customer386', 'Customer386@yahoo.com'),
 (387, 'Customer387', 'Customer387@yahoo.com'),
 (388, 'Customer388', 'Customer388@gmail.com'),
 (389, 'Customer389', 'Customer389@gmail.com'),
 (390, 'Customer390', 'Customer390@yahoo.com'),
 (391, 'Customer391', 'Customer391@hotmail.com'),
 (392, 'Customer392', 'Customer392@hotmail.com'),
 (393, 'Customer393', 'Customer393@gmail.com'),
 (394, 'Customer394', 'Customer394@gmail.com'),
 (395, 'Customer395', 'Customer395@hotmail.com'),
 (396, 'Customer396', 'Customer396@gmail.com'),
 (397, 'Customer397', 'Customer397@hotmail.com'),
 (398, 'Customer398', 'Customer398@yahoo.com'),
 (399, 'Customer399', 'Customer399@gmail.com'),
 (400, 'Customer400', 'Customer400@yahoo.com'),
 (401, 'Customer401', 'Customer401@gmail.com'),
 (402, 'Customer402', 'Customer402@gmail.com'),
 (403, 'Customer403', 'Customer403@yahoo.com'),
 (404, 'Customer404', 'Customer404@yahoo.com'),
 (405, 'Customer405', 'Customer405@gmail.com'),
 (406, 'Customer406', 'Customer406@yahoo.com'),
 (407, 'Customer407', 'Customer407@hotmail.com'),
 (408, 'Customer408', 'Customer408@hotmail.com'),
 (409, 'Customer409', 'Customer409@yahoo.com'),
 (410, 'Customer410', 'Customer410@hotmail.com'),
 (411, 'Customer411', 'Customer411@hotmail.com'),
 (412, 'Customer412', 'Customer412@hotmail.com'),
 (413, 'Customer413', 'Customer413@gmail.com'),
 (414, 'Customer414', 'Customer414@hotmail.com'),
 (415, 'Customer415', 'Customer415@hotmail.com'),
 (416, 'Customer416', 'Customer416@yahoo.com'),
 (417, 'Customer417', 'Customer417@hotmail.com'),

# DELETE

In [ ]:
%%sql

SELECT * FROM orders;

 * sqlite:///bonga_ecommerce.db
Done.

[(1, 168, '2014-09-04 17:49:21'),
 (2, 339, '2011-07-19 03:46:15'),
 (3, 193, '2012-09-27 01:24:10'),
 (4, 453, '2020-03-23 10:56:21'),
 (5, 283, '2011-08-04 02:28:23'),
 (6, 336, '2023-11-17 16:37:04'),
 (7, 390, '2011-12-17 09:02:08'),
 (8, 488, '2019-01-27 06:59:07'),
 (9, 13, '2020-04-17 01:45:58'),
 (10, 240, '2012-07-04 01:37:27'),
 (11, 320, '2011-01-06 19:27:40'),
 (12, 446, '2013-06-05 03:47:30'),
 (13, 483, '2011-08-31 13:18:56'),
 (14, 147, '2019-04-17 20:57:58'),
 (15, 204, '2017-07-08 09:18:28'),
 (16, 80, '2016-07-05 16:23:35'),
 (17, 379, '2015-09-03 13:42:36'),
 (18, 43, '2015-03-06 01:49:59'),
 (19, 458, '2021-07-17 00:48:56'),
 (20, 89, '2022-06-06 17:02:34'),
 (21, 148, '2014-08-19 21:58:24'),
 (22, 95, '2019-10-24 07:57:32'),
 (23, 452, '2017-02-04 10:10:58'),
 (24, 428, '2019-09-13 04:35:35'),
 (25, 151, '2011-08-25 21:58:47'),
 (26, 2, '2014-11-04 05:41:36'),
 (27, 376, '2021-02-03 10:57:08'),
 (28, 22, '2011-03-03 11:29:23'),
 (29, 371, '2011-09-19 02:41:43'),
 (30, 313, '2024-01-20 15:43:53'),
 (31, 485, '2021-11-01 03:44:30'),
 (32, 328, '2016-05-02 07:06:21'),
 (33, 7, '2023-07-28 06:34:50'),
 (34, 206, '2023-01-12 18:08:51'),
 (35, 440, '2013-05-10 12:48:14'),
 (36, 375, '2019-03-01 06:23:14'),
 (37, 451, '2014-12-13 23:49:26'),
 (38, 114, '2014-08-10 07:53:22'),
 (39, 272, '2018-03-12 08:06:51'),
 (40, 83, '2016-09-07 05:43:06'),
 (41, 179, '2015-01-20 18:55:53'),
 (42, 210, '2023-05-24 06:34:44'),
 (43, 500, '2016-10-02 10:14:28'),
 (44, 464, '2014-10-21 21:47:09'),
 (45, 328, '2020-12-17 09:20:53'),
 (46, 124, '2011-12-16 11:15:43'),
 (47, 481, '2019-05-09 17:36:07'),
 (48, 113, '2012-01-18 23:05:35'),
 (49, 12, '2016-09-16 13:28:41'),
 (50, 126, '2012-11-07 04:18:45'),
 (51, 53, '2021-03-30 22:42:54'),
 (52, 331, '2021-03-08 18:37:19'),
 (53, 389, '2011-12-30 15:10:39'),
 (54, 283, '2022-08-22 02:20:11'),
 (55, 140, '2013-04-03 02:47:44'),
 (56, 401, '2016-03-09 01:43:58'),
 (57, 390, '2014-06-03 20:01:11'),
 (58, 97, '2012-08-13 14:06:55'),
 (59, 5, '2023-12-31 07:46:47'),
 (60, 57, '2023-09-30 06:46:32'),
 (61, 412, '2010-12-11 23:18:25'),
 (62, 334, '2015-10-07 05:59:42'),
 (63, 69, '2020-12-24 23:39:29'),
 (64, 118, '2011-06-03 08:43:46'),
 (65, 376, '2010-09-27 02:32:03'),
 (66, 59, '2011-06-17 13:27:31'),
 (67, 33, '2013-05-09 13:14:53'),
 (68, 318, '2019-06-05 15:36:08'),
 (69, 50, '2012-07-28 17:38:48'),
 (70, 368, '2021-07-18 17:58:48'),
 (71, 489, '2014-02-15 07:51:21'),
 (72, 19, '2024-01-20 20:22:14'),
 (73, 214, '2015-09-17 09:45:33'),
 (74, 197, '2012-10-31 16:46:54'),
 (75, 379, '2022-09-22 08:27:29'),
 (76, 450, '2019-10-30 20:26:49'),
 (77, 478, '2016-08-18 14:17:56'),
 (78, 47, '2010-01-12 14:39:31'),
 (79, 167, '2015-10-30 16:40:43'),
 (80, 452, '2023-07-10 00:35:38'),
 (81, 289, '2023-11-13 13:28:21'),
 (82, 141, '2021-03-21 06:03:32'),
 (83, 84, '2016-03-01 17:38:39'),
 (84, 182, '2012-10-29 09:21:19'),
 (85, 391, '2018-05-29 14:13:51'),
 (86, 79, '2014-04-14 19:26:51'),
 (87, 215, '2014-04-22 18:07:29'),
 (88, 14, '2010-06-03 21:22:18'),
 (89, 215, '2015-12-15 02:38:01'),
 (90, 403, '2022-01-05 19:14:22'),
 (91, 128, '2017-03-23 19:14:47'),
 (92, 310, '2023-05-31 00:45:05'),
 (93, 477, '2023-07-23 22:03:34'),
 (94, 248, '2022-12-07 01:22:16'),
 (95, 404, '2010-02-19 08:33:43'),
 (96, 29, '2017-10-08 07:22:34'),
 (97, 280, '2016-10-26 02:00:45'),
 (98, 338, '2018-10-07 14:08:59'),
 (99, 319, '2011-11-10 16:25:29'),
 (100, 202, '2015-04-07 23:34:09'),
 (101, 361, '2019-04-08 01:38:29'),
 (102, 57, '2013-03-28 16:08:19'),
 (103, 392, '2017-04-04 10:17:55'),
 (104, 218, '2016-12-09 08:13:31'),
 (105, 62, '2019-11-12 12:39:59'),
 (106, 157, '2011-08-16 18:57:49'),
 (107, 202, '2011-09-25 01:27:12'),
 (108, 17, '2012-10-31 12:15:51'),
 (109, 322, '2014-11-20 22:27:46'),
 (110, 6, '2016-04-28 06:53:45'),
 (111, 58, '2018-12-23 05:46:07'),
 (112, 325, '2019-02-09 17:37:33'),
 (113, 412, '2010-08-01 04:42:14'),
 (114, 318, '2023-02-19 18:05:36'),
 (115, 169, '2011-02-24 03:18:35'),
 (116, 453, '2015-12-24 14:23:36'),
 (117, 82, '2015-12-29 01:49:34'),
 (118, 474, '2010-04-22 09:38:25'),
 (119, 468, '2011-07-05 07:56:04'),
 (120, 425, '2010-09-08 15:15:24'),
 (121, 433, '2023-01-28 08:04:13'),
 (122, 219, '2021-08-23 04:35:32'),
 (123, 177, '2024-01-27 21:45:33'),
 (124, 204, '2022-07-10 06:32:39'),
 (125, 71, '2017-11-13 21:51:41'),
 (126, 387, '2013-08-07 17:01:58'),
 (127, 266, '2017-07-26 14:56:22'),
 (128, 98, '2014-03-30 01:31:23'),
 (129, 345, '2017-05-01 07:21:03'),
 (130, 291, '2017-02-19 05:57:30'),
 (131, 208, '2019-07-15 16:38:23'),
 (132, 2, '2016-02-17 07:12:21'),
 (133, 124, '2010-06-08 10:38:13'),
 (134, 280, '2012-08-18 23:08:08'),
 (135, 74, '2018-06-29 07:51:49'),
 (136, 166, '2015-05-21 08:24:59'),
 (137, 22, '2015-11-17 04:16:28'),
 (138, 154, '2024-01-05 12:46:04'),
 (139, 427, '2015-06-03 04:55:45'),
 (140, 439, '2010-12-01 11:44:28'),
 (141, 295, '2018-03-17 10:20:04'),
 (142, 219, '2023-09-29 17:43:42'),
 (143, 157, '2022-07-03 22:14:11'),
 (144, 495, '2019-03-24 15:02:50'),
 (145, 230, '2022-04-08 08:58:25'),
 (146, 20, '2022-01-17 22:10:38'),
 (147, 475, '2010-10-18 22:32:18'),
 (148, 41, '2013-06-30 08:47:18'),
 (149, 438, '2022-05-06 20:55:51'),
 (150, 148, '2022-07-29 09:58:03'),
 (151, 108, '2015-03-25 16:36:37'),
 (152, 403, '2015-10-01 14:56:42'),
 (153, 84, '2011-02-11 21:05:40'),
 (154, 483, '2022-04-19 04:59:40'),
 (155, 367, '2011-02-20 14:31:19'),
 (156, 322, '2016-06-21 15:31:10'),
 (157, 414, '2018-11-07 06:15:46'),
 (158, 309, '2013-08-13 18:29:42'),
 (159, 290, '2018-09-11 18:08:28'),
 (160, 406, '2022-10-05 16:21:49'),
 (161, 323, '2020-07-03 06:42:51'),
 (162, 134, '2011-07-16 07:06:22'),
 (163, 207, '2010-04-17 07:15:36'),
 (164, 283, '2011-07-07 20:30:55'),
 (165, 266, '2018-01-01 23:44:36'),
 (166, 73, '2014-10-10 10:05:34'),
 (167, 481, '2014-11-18 00:32:07'),
 (168, 352, '2021-10-12 19:05:13'),
 (169, 48, '2017-11-25 07:11:53'),
 (170, 326, '2011-04-09 21:03:11'),
 (171, 233, '2018-05-28 17:15:51'),
 (172, 443, '2023-10-23 16:32:04'),
 (173, 100, '2010-11-17 16:04:18'),
 (174, 59, '2013-10-19 00:29:55'),
 (175, 258, '2023-07-02 04:04:55'),
 (176, 413, '2019-05-21 17:09:54'),
 (177, 452, '2013-08-10 00:57:03'),
 (178, 65, '2010-08-28 10:17:35'),
 (179, 83, '2016-10-25 00:59:21'),
 (180, 154, '2014-06-07 13:57:53'),
 (181, 473, '2020-10-03 21:11:06'),
 (182, 266, '2018-04-17 19:02:48'),
 (183, 309, '2017-07-01 06:54:01'),
 (184, 79, '2018-11-12 01:15:25'),
 (185, 315, '2018-07-30 23:26:18'),
 (186, 150, '2018-07-23 23:39:45'),
 (187, 435, '2010-01-13 22:04:31'),
 (188, 48, '2014-08-07 19:10:04'),
 (189, 405, '2015-04-08 13:43:36'),
 (190, 379, '2017-05-19 14:45:07'),
 (191, 248, '2013-04-15 23:00:51'),
 (192, 278, '2010-09-17 23:10:13'),
 (193, 356, '2023-05-06 23:34:01'),
 (194, 98, '2011-07-01 08:29:13'),
 (195, 414, '2022-03-31 03:12:57'),
 (196, 25, '2014-10-22 08:05:09'),
 (197, 493, '2021-04-03 01:38:19'),
 (198, 284, '2011-07-03 09:13:49'),
 (199, 449, '2020-07-18 13:54:21'),
 (200, 369, '2021-04-22 14:30:57'),
 (201, 301, '2011-03-08 07:20:20'),
 (202, 68, '2017-04-07 11:25:07'),
 (203, 7, '2020-06-21 06:59:22'),
 (204, 305, '2010-11-08 10:01:51'),
 (205, 137, '2013-04-02 11:33:06'),
 (206, 164, '2022-07-08 20:55:58'),
 (207, 83, '2017-07-27 02:24:54'),
 (208, 385, '2022-12-22 08:03:17'),
 (209, 138, '2010-03-24 01:26:15'),
 (210, 420, '2010-04-12 21:59:46'),
 (211, 73, '2011-05-31 18:54:38'),
 (212, 237, '2020-01-08 04:54:20'),
 (213, 46, '2012-07-01 22:30:27'),
 (214, 106, '2023-03-19 10:08:19'),
 (215, 416, '2014-02-20 04:20:25'),
 (216, 288, '2011-07-11 13:05:27'),
 (217, 262, '2022-07-20 17:44:21'),
 (218, 176, '2022-08-31 06:12:50'),
 (219, 166, '2011-09-30 10:19:05'),
 (220, 145, '2012-04-01 11:55:16'),
 (221, 330, '2015-03-07 01:52:37'),
 (222, 370, '2015-02-14 04:36:36'),
 (223, 283, '2010-04-04 10:47:17'),
 (224, 54, '2019-08-12 10:43:51'),
 (225, 178, '2017-04-07 03:58:30'),
 (226, 419, '2010-06-09 23:32:36'),
 (227, 244, '2013-12-16 03:30:17'),
 (228, 341, '2015-09-14 02:53:33'),
 (229, 127, '2017-08-31 15:31:07'),
 (230, 409, '2016-01-07 01:28:24'),
 (231, 412, '2011-09-23 00:11:24'),
 (232, 367, '2022-08-28 14:09:23'),
 (233, 271, '2013-09-20 10:31:44'),
 (234, 132, '2022-01-02 13:24:06'),
 (235, 93, '2011-05-18 13:21:32'),
 (236, 379, '2012-05-11 06:09:17'),
 (237, 73, '2023-05-24 17:27:30'),
 (238, 411, '2018-10-29 21:21:27'),
 (239, 410, '2020-11-20 00:22:39'),
 (240, 403, '2023-09-02 20:06:17'),
 (241, 248, '2018-05-15 09:58:14'),
 (242, 348, '2020-08-10 14:08:51'),
 (243, 273, '2018-04-04 10:18:43'),
 (244, 43, '2017-03-09 21:34:47'),
 (245, 377, '2017-01-02 11:38:09'),
 (246, 41, '2023-07-11 15:47:41'),
 (247, 170, '2017-06-26 12:25:53'),
 (248, 434, '2023-11-26 16:30:10'),
 (249, 212, '2012-09-12 07:02:54'),
 (250, 493, '2013-02-13 23:54:35'),
 (251, 168, '2020-03-19 17:26:19'),
 (252, 39, '2019-10-25 12:12:02'),
 (253, 369, '2011-07-26 04:53:18'),
 (254, 245, '2020-06-27 14:06:37'),
 (255, 151, '2013-04-08 00:48:18'),
 (256, 111, '2017-12-20 13:58:45'),
 (257, 480, '2019-08-02 09:08:39'),
 (258, 436, '2021-06-19 12:13:32'),
 (259, 47, '2014-10-01 17:42:53'),
 (260, 63, '2021-04-03 02:11:49'),
 (261, 225, '2021-07-19 12:26:28'),
 (262, 366, '2015-04-04 13:26:54'),
 (263, 69, '2020-03-23 18:22:27'),
 (264, 299, '2012-05-08 10:47:27'),
 (265, 432, '2012-10-05 22:45:38'),
 (266, 290, '2018-11-16 01:26:07'),
 (267, 296, '2013-01-21 02:54:27'),
 (268, 203, '2020-08-22 23:35:18'),
 (269, 61, '2018-01-12 20:51:02'),
 (270, 434, '2022-01-22 08:25:53'),
 (271, 451, '2023-01-05 21:30:27'),
 (272, 318, '2018-07-06 23:46:56'),
 (273, 314, '2023-05-15 19:20:26'),
 (274, 161, '2016-12-28 11:07:07'),
 (275, 331, '2012-04-04 14:52:30'),
 (276, 16, '2017-11-28 19:54:35'),
 (277, 338, '2016-09-23 20:24:21'),
 (278, 94, '2012-05-23 04:06:04'),
 (279, 304, '2016-08-06 22:58:40'),
 (280, 138, '2016-04-18 00:04:32'),
 (281, 338, '2011-09-17 00:37:25'),
 (282, 38, '2011-07-10 15:06:43'),
 (283, 127, '2014-11-08 06:02:23'),
 (284, 275, '2017-04-01 04:40:14'),
 (285, 164, '2018-04-16 21:58:38'),
 (286, 443, '2014-10-02 03:08:53'),
 (287, 319, '2022-03-23 02:17:49'),
 (288, 77, '2011-03-16 02:07:06'),
 (289, 174, '2019-10-13 18:57:12'),
 (290, 387, '2020-04-01 19:36:57'),
 (291, 458, '2021-12-12 00:55:43'),
 (292, 358, '2020-08-10 05:42:28'),
 (293, 321, '2018-02-04 13:56:08'),
 (294, 376, '2018-12-03 12:09:23'),
 (295, 91, '2021-07-03 01:53:53'),
 (296, 238, '2015-06-27 00:44:50'),
 (297, 264, '2013-07-26 05:53:16'),
 (298, 179, '2020-03-29 19:05:14'),
 (299, 494, '2013-04-17 13:53:52'),
 (300, 490, '2021-09-05 15:29:33'),
 (301, 209, '2021-02-13 04:22:21'),
 (302, 73, '2021-10-08 21:34:45'),
 (303, 390, '2013-02-20 20:32:44'),
 (304, 107, '2019-11-22 11:25:57'),
 (305, 345, '2012-06-17 16:48:16'),
 (306, 295, '2017-06-08 00:31:54'),
 (307, 369, '2016-08-19 03:52:12'),
 (308, 444, '2014-06-08 15:45:54'),
 (309, 284, '2018-12-09 22:23:48'),
 (310, 353, '2017-08-22 12:58:58'),
 (311, 182, '2011-04-08 03:27:37'),
 (312, 37, '2023-12-25 15:17:54'),
 (313, 137, '2017-06-10 00:07:09'),
 (314, 338, '2023-09-07 22:28:41'),
 (315, 56, '2010-04-06 03:40:52'),
 (316, 187, '2022-07-07 01:01:16'),
 (317, 341, '2021-10-21 12:17:03'),
 (318, 258, '2018-04-26 08:49:40'),
 (319, 445, '2017-03-01 21:54:56'),
 (320, 58, '2018-03-11 14:00:52'),
 (321, 363, '2021-04-28 05:48:57'),
 (322, 123, '2018-06-27 14:22:55'),
 (323, 188, '2021-01-10 11:26:27'),
 (324, 230, '2011-02-26 12:59:49'),
 (325, 168, '2010-11-03 17:52:25'),
 (326, 420, '2020-12-20 17:21:07'),
 (327, 114, '2016-10-13 15:51:25'),
 (328, 252, '2024-01-05 03:22:14'),
 (329, 107, '2013-12-08 06:56:38'),
 (330, 37, '2014-09-06 13:05:38'),
 (331, 335, '2018-06-02 14:45:20'),
 (332, 92, '2014-02-10 21:35:19'),
 (333, 18, '2010-12-16 10:09:39'),
 (334, 354, '2012-02-11 03:36:37'),
 (335, 63, '2017-10-18 10:00:08'),
 (336, 150, '2014-08-13 14:01:25'),
 (337, 139, '2023-08-23 03:31:57'),
 (338, 186, '2010-11-12 15:08:27'),
 (339, 185, '2011-05-30 16:54:19'),
 (340, 205, '2013-03-30 21:29:28'),
 (341, 260, '2010-03-10 08:32:30'),
 (342, 214, '2016-06-25 08:31:15'),
 (343, 256, '2014-05-08 11:59:19'),
 (344, 135, '2023-03-18 21:36:24'),
 (345, 61, '2021-02-09 02:02:11'),
 (346, 363, '2011-10-29 05:57:40'),
 (347, 310, '2019-05-21 22:07:25'),
 (348, 88, '2014-06-16 19:08:07'),
 (349, 324, '2017-10-07 04:56:11'),
 (350, 476, '2016-01-26 19:47:53'),
 (351, 207, '2014-05-20 00:41:01'),
 (352, 129, '2014-12-09 20:49:25'),
 (353, 311, '2011-08-05 21:25:47'),
 (354, 3, '2013-07-02 12:58:46'),
 (355, 462, '2013-06-27 04:42:30'),
 (356, 422, '2014-04-03 16:10:03'),
 (357, 242, '2015-01-20 13:45:49'),
 (358, 121, '2023-08-03 19:22:49'),
 (359, 385, '2012-12-27 03:02:39'),
 (360, 102, '2011-04-13 04:33:57'),
 (361, 38, '2017-05-02 17:33:18'),
 (362, 341, '2020-03-04 08:06:01'),
 (363, 496, '2022-11-26 00:12:08'),
 (364, 413, '2013-08-20 18:56:12'),
 (365, 133, '2012-06-20 16:41:41'),
 (366, 497, '2018-11-24 08:51:55'),
 (367, 202, '2014-04-09 23:56:56'),
 (368, 348, '2024-01-12 14:42:43'),
 (369, 21, '2014-07-29 22:35:35'),
 (370, 242, '2016-04-30 13:21:46'),
 (371, 455, '2018-07-12 12:10:59'),
 (372, 451, '2014-04-12 18:20:41'),
 (373, 109, '2018-06-09 16:20:58'),
 (374, 303, '2011-12-10 03:23:36'),
 (375, 84, '2023-01-21 05:33:08'),
 (376, 83, '2014-05-31 15:22:43'),
 (377, 291, '2018-11-15 14:07:45'),
 (378, 452, '2014-11-30 07:43:28'),
 (379, 69, '2012-12-22 13:17:14'),
 (380, 129, '2023-04-01 23:06:46'),
 (381, 196, '2021-10-06 04:34:13'),
 (382, 140, '2013-05-19 11:20:30'),
 (383, 444, '2012-12-20 20:19:29'),
 (384, 283, '2015-04-13 05:53:59'),
 (385, 312, '2016-07-30 00:41:46'),
 (386, 234, '2022-01-12 02:40:19'),
 (387, 23, '2010-05-29 13:04:23'),
 (388, 153, '2018-03-10 23:26:06'),
 (389, 277, '2010-12-21 17:06:55'),
 (390, 61, '2018-06-01 05:04:06'),
 (391, 319, '2012-07-06 01:08:36'),
 (392, 378, '2017-02-10 18:04:25'),
 (393, 52, '2020-08-06 20:35:37'),
 (394, 344, '2015-12-17 23:27:39'),
 (395, 153, '2015-02-18 17:23:03'),
 (396, 237, '2011-05-20 22:43:11'),
 (397, 311, '2010-11-21 14:40:17'),
 (398, 302, '2012-09-19 11:15:16'),
 (399, 32, '2013-12-21 06:38:58'),
 (400, 55, '2023-08-19 18:26:30'),
 (401, 352, '2019-12-13 16:52:41'),
 (402, 389, '2019-01-04 08:34:44'),
 (403, 36, '2018-11-22 14:01:59'),
 (404, 110, '2022-01-05 13:59:12'),
 (405, 490, '2022-02-07 20:35:30'),
 (406, 177, '2017-12-27 22:19:30'),
 (407, 362, '2023-03-16 03:51:52'),
 (408, 314, '2019-10-21 22:16:52'),
 (409, 295, '2022-07-28 01:12:43'),
 (410, 336, '2023-07-18 11:43:52'),
 (411, 97, '2017-11-23 23:07:40'),
 (412, 369, '2012-12-31 08:58:08'),
 (413, 213, '2013-07-28 17:41:05'),
 (414, 317, '2022-12-06 21:00:36'),
 (415, 137, '2023-08-27 18:45:23'),
 (416, 6, '2015-11-08 00:59:42'),
 (417, 499, '2010-02-18 01:16:25'),
 (418, 109, '2022-02-03 06:32:24'),
 (419, 35, '2023-09-11 15:37:42'),
 (420, 39, '2017-12-30 16:22:45'),
 (421, 150, '2018-05-02 09:37:58'),
 (422, 425, '2016-02-21 04:59:12'),
 (423, 118, '2013-03-08 18:26:24'),
 (424, 261, '2023-12-09 19:17:16'),
 (425, 426, '2013-12-11 11:57:15'),
 (426, 87, '2023-04-25 09:00:41'),
 (427, 465, '2015-10-16 23:07:22'),
 (428, 76, '2019-03-18 19:29:44'),
 (429, 471, '2015-09-04 22:01:10'),
 (430, 464, '2021-04-10 18:07:17'),
 (431, 451, '2016-08-24 18:47:12'),
 (432, 414, '2015-12-05 07:06:56'),
 (433, 313, '2021-02-14 14:08:05'),
 (434, 383, '2023-10-08 01:07:57'),
 (435, 214, '2021-05-03 21:31:49'),
 (436, 457, '2023-03-11 20:32:33'),
 (437, 285, '2017-04-19 23:44:09'),
 (438, 239, '2015-07-20 21:55:32'),
 (439, 165, '2012-03-04 08:34:12'),
 (440, 87, '2019-08-16 10:10:09'),
 (441, 141, '2015-05-03 01:00:05'),
 (442, 160, '2023-08-10 19:15:59'),
 (443, 46, '2022-05-26 03:08:40'),
 (444, 372, '2015-12-29 08:41:37'),
 (445, 495, '2023-04-12 20:36:25'),
 (446, 112, '2021-11-18 11:39:13'),
 (447, 407, '2015-01-02 14:59:59'),
 (448, 45, '2021-08-04 10:32:18'),
 (449, 401, '2013-07-15 03:33:16'),
 (450, 247, '2016-03-08 10:20:05'),
 (451, 104, '2015-07-11 14:50:51'),
 (452, 85, '2018-06-23 14:42:31'),
 (453, 450, '2015-01-12 19:05:18'),
 (454, 485, '2011-09-14 12:14:31'),
 (455, 134, '2017-09-04 20:08:27'),
 (456, 108, '2021-06-19 14:04:57'),
 (457, 18, '2024-01-11 05:32:18'),
 (458, 94, '2017-01-26 18:36:47'),
 (459, 150, '2015-12-27 17:46:26'),
 (460, 246, '2014-12-09 09:34:54'),
 (461, 289, '2020-05-24 01:32:47'),
 (462, 414, '2022-03-21 20:42:07'),
 (463, 209, '2011-03-05 13:03:02'),
 (464, 126, '2015-05-28 19:31:31'),
 (465, 235, '2016-02-08 09:27:53'),
 (466, 416, '2020-12-01 12:18:06'),
 (467, 426, '2011-02-23 19:25:55'),
 (468, 499, '2010-12-02 14:51:25'),
 (469, 462, '2010-07-24 04:39:15'),
 (470, 122, '2012-08-21 16:14:13'),
 (471, 138, '2012-06-11 02:01:50'),
 (472, 495, '2020-11-14 22:04:39'),
 (473, 115, '2010-03-04 07:48:55'),
 (474, 420, '2010-05-21 16:24:52'),
 (475, 162, '2014-09-18 10:26:22'),
 (476, 201, '2010-08-16 18:22:13'),
 (477, 234, '2014-12-26 09:08:03'),
 (478, 28, '2010-10-01 01:49:01'),
 (479, 11, '2019-10-02 03:24:44'),
 (480, 206, '2020-05-17 21:04:40'),
 (481, 167, '2018-03-11 16:13:27'),
 (482, 247, '2010-02-06 06:20:11'),
 (483, 47, '2012-12-30 05:54:33'),
 (484, 246, '2017-11-22 05:43:12'),
 (485, 127, '2013-09-12 11:59:58'),
 (486, 147, '2017-02-23 11:10:57'),
 (487, 118, '2018-11-16 08:06:48'),
 (488, 399, '2022-10-25 07:36:23'),
 (489, 382, '2022-02-07 19:16:13'),
 (490, 412, '2022-10-01 00:32:02'),
 (491, 152, '2014-08-29 02:17:43'),
 (492, 72, '2014-06-01 03:34:03'),
 (493, 363, '2015-04-08 21:02:24'),
 (494, 137, '2012-02-21 20:40:09'),
 (495, 175, '2016-07-31 04:51:46'),
 (496, 289, '2014-04-29 19:08:35'),
 (497, 446, '2020-06-09 14:52:06'),
 (498, 481, '2019-10-25 06:25:28'),
 (499, 19, '2013-01-17 14:02:34'),
 (500, 195, '2010-09-27 10:19:29'),
 (501, 330, '2022-09-18 08:02:50'),
 (502, 424, '2013-06-27 04:07:46'),
 (503, 175, '2018-12-29 11:08:52'),
 (504, 490, '2022-03-06 21:48:34'),
 (505, 449, '2019-08-12 00:08:42'),
 (506, 413, '2020-09-20 12:03:03'),
 (507, 434, '2018-05-27 06:45:31'),
 (508, 354, '2013-03-05 17:20:09'),
 (509, 499, '2022-10-19 13:26:31'),
 (510, 141, '2015-01-21 03:18:47'),
 (511, 246, '2015-11-01 07:18:51'),
 (512, 385, '2011-01-07 22:14:00'),
 (513, 418, '2020-07-24 04:29:23'),
 (514, 93, '2013-08-07 10:09:40'),
 (515, 432, '2011-04-22 08:16:20'),
 (516, 239, '2018-06-27 09:22:15'),
 (517, 205, '2016-07-09 19:49:10'),
 (518, 48, '2012-05-28 14:41:12'),
 (519, 433, '2012-11-08 10:45:02'),
 (520, 245, '2019-08-23 12:22:38'),
 (521, 320, '2015-06-16 21:18:39'),
 (522, 317, '2012-12-27 12:49:49'),
 (523, 413, '2014-06-30 20:58:15'),
 (524, 295, '2012-09-30 16:14:09'),
 (525, 128, '2014-06-27 04:38:01'),
 (526, 344, '2019-11-19 02:40:59'),
 (527, 282, '2019-08-26 09:56:35'),
 (528, 17, '2017-11-14 06:10:13'),
 (529, 71, '2015-11-21 12:48:11'),
 (530, 269, '2015-08-02 19:50:25'),
 (531, 325, '2019-02-01 17:46:46'),
 (532, 282, '2014-03-29 03:20:34'),
 (533, 305, '2013-01-07 21:20:26'),
 (534, 451, '2013-08-30 10:18:25'),
 (535, 7, '2015-12-21 00:06:02'),
 (536, 314, '2010-12-17 12:17:41'),
 (537, 305, '2012-02-21 00:34:40'),
 (538, 103, '2023-05-10 04:55:55'),
 (539, 309, '2020-06-25 11:16:16'),
 (540, 193, '2014-07-18 12:11:34'),
 (541, 241, '2018-01-23 01:59:27'),
 (542, 62, '2012-08-01 23:36:04'),
 (543, 17, '2013-12-27 03:22:35'),
 (544, 171, '2019-07-31 11:38:23'),
 (545, 25, '2013-09-09 08:40:10'),
 (546, 251, '2018-08-06 19:11:32'),
 (547, 253, '2018-11-22 05:52:03'),
 (548, 387, '2016-08-12 14:02:05'),
 (549, 207, '2022-08-16 22:04:29'),
 (550, 29, '2021-05-12 00:31:49'),
 (551, 117, '2011-01-04 16:04:47'),
 (552, 491, '2017-04-18 15:30:19'),
 (553, 416, '2010-09-16 19:55:25'),
 (554, 282, '2019-06-26 03:45:58'),
 (555, 380, '2022-07-16 15:19:43'),
 (556, 144, '2015-10-27 15:50:22'),
 (557, 25, '2015-11-04 13:33:08'),
 (558, 310, '2023-08-21 06:01:01'),
 (559, 156, '2011-04-26 18:16:44'),
 (560, 73, '2019-12-09 09:45:05'),
 (561, 120, '2015-07-29 21:05:07'),
 (562, 312, '2010-12-11 09:07:49'),

In [ ]:
%%sql

    DELETE FROM orders WHERE order_id = 1;

 * sqlite:///bonga_ecommerce.db
1 rows affected.

[]

In [ ]:
%%sql

SELECT * FROM orders;

 * sqlite:///bonga_ecommerce.db
Done.

[(2, 339, '2011-07-19 03:46:15'),
 (3, 193, '2012-09-27 01:24:10'),
 (4, 453, '2020-03-23 10:56:21'),
 (5, 283, '2011-08-04 02:28:23'),
 (6, 336, '2023-11-17 16:37:04'),
 (7, 390, '2011-12-17 09:02:08'),
 (8, 488, '2019-01-27 06:59:07'),
 (9, 13, '2020-04-17 01:45:58'),
 (10, 240, '2012-07-04 01:37:27'),
 (11, 320, '2011-01-06 19:27:40'),
 (12, 446, '2013-06-05 03:47:30'),
 (13, 483, '2011-08-31 13:18:56'),
 (14, 147, '2019-04-17 20:57:58'),
 (15, 204, '2017-07-08 09:18:28'),
 (16, 80, '2016-07-05 16:23:35'),
 (17, 379, '2015-09-03 13:42:36'),
 (18, 43, '2015-03-06 01:49:59'),
 (19, 458, '2021-07-17 00:48:56'),
 (20, 89, '2022-06-06 17:02:34'),
 (21, 148, '2014-08-19 21:58:24'),
 (22, 95, '2019-10-24 07:57:32'),
 (23, 452, '2017-02-04 10:10:58'),
 (24, 428, '2019-09-13 04:35:35'),
 (25, 151, '2011-08-25 21:58:47'),
 (26, 2, '2014-11-04 05:41:36'),
 (27, 376, '2021-02-03 10:57:08'),
 (28, 22, '2011-03-03 11:29:23'),
 (29, 371, '2011-09-19 02:41:43'),
 (30, 313, '2024-01-20 15:43:53'),
 (31, 485, '2021-11-01 03:44:30'),
 (32, 328, '2016-05-02 07:06:21'),
 (33, 7, '2023-07-28 06:34:50'),
 (34, 206, '2023-01-12 18:08:51'),
 (35, 440, '2013-05-10 12:48:14'),
 (36, 375, '2019-03-01 06:23:14'),
 (37, 451, '2014-12-13 23:49:26'),
 (38, 114, '2014-08-10 07:53:22'),
 (39, 272, '2018-03-12 08:06:51'),
 (40, 83, '2016-09-07 05:43:06'),
 (41, 179, '2015-01-20 18:55:53'),
 (42, 210, '2023-05-24 06:34:44'),
 (43, 500, '2016-10-02 10:14:28'),
 (44, 464, '2014-10-21 21:47:09'),
 (45, 328, '2020-12-17 09:20:53'),
 (46, 124, '2011-12-16 11:15:43'),
 (47, 481, '2019-05-09 17:36:07'),
 (48, 113, '2012-01-18 23:05:35'),
 (49, 12, '2016-09-16 13:28:41'),
 (50, 126, '2012-11-07 04:18:45'),
 (51, 53, '2021-03-30 22:42:54'),
 (52, 331, '2021-03-08 18:37:19'),
 (53, 389, '2011-12-30 15:10:39'),
 (54, 283, '2022-08-22 02:20:11'),
 (55, 140, '2013-04-03 02:47:44'),
 (56, 401, '2016-03-09 01:43:58'),
 (57, 390, '2014-06-03 20:01:11'),
 (58, 97, '2012-08-13 14:06:55'),
 (59, 5, '2023-12-31 07:46:47'),
 (60, 57, '2023-09-30 06:46:32'),
 (61, 412, '2010-12-11 23:18:25'),
 (62, 334, '2015-10-07 05:59:42'),
 (63, 69, '2020-12-24 23:39:29'),
 (64, 118, '2011-06-03 08:43:46'),
 (65, 376, '2010-09-27 02:32:03'),
 (66, 59, '2011-06-17 13:27:31'),
 (67, 33, '2013-05-09 13:14:53'),
 (68, 318, '2019-06-05 15:36:08'),
 (69, 50, '2012-07-28 17:38:48'),
 (70, 368, '2021-07-18 17:58:48'),
 (71, 489, '2014-02-15 07:51:21'),
 (72, 19, '2024-01-20 20:22:14'),
 (73, 214, '2015-09-17 09:45:33'),
 (74, 197, '2012-10-31 16:46:54'),
 (75, 379, '2022-09-22 08:27:29'),
 (76, 450, '2019-10-30 20:26:49'),
 (77, 478, '2016-08-18 14:17:56'),
 (78, 47, '2010-01-12 14:39:31'),
 (79, 167, '2015-10-30 16:40:43'),
 (80, 452, '2023-07-10 00:35:38'),
 (81, 289, '2023-11-13 13:28:21'),
 (82, 141, '2021-03-21 06:03:32'),
 (83, 84, '2016-03-01 17:38:39'),
 (84, 182, '2012-10-29 09:21:19'),
 (85, 391, '2018-05-29 14:13:51'),
 (86, 79, '2014-04-14 19:26:51'),
 (87, 215, '2014-04-22 18:07:29'),
 (88, 14, '2010-06-03 21:22:18'),
 (89, 215, '2015-12-15 02:38:01'),
 (90, 403, '2022-01-05 19:14:22'),
 (91, 128, '2017-03-23 19:14:47'),
 (92, 310, '2023-05-31 00:45:05'),
 (93, 477, '2023-07-23 22:03:34'),
 (94, 248, '2022-12-07 01:22:16'),
 (95, 404, '2010-02-19 08:33:43'),
 (96, 29, '2017-10-08 07:22:34'),
 (97, 280, '2016-10-26 02:00:45'),
 (98, 338, '2018-10-07 14:08:59'),
 (99, 319, '2011-11-10 16:25:29'),
 (100, 202, '2015-04-07 23:34:09'),
 (101, 361, '2019-04-08 01:38:29'),
 (102, 57, '2013-03-28 16:08:19'),
 (103, 392, '2017-04-04 10:17:55'),
 (104, 218, '2016-12-09 08:13:31'),
 (105, 62, '2019-11-12 12:39:59'),
 (106, 157, '2011-08-16 18:57:49'),
 (107, 202, '2011-09-25 01:27:12'),
 (108, 17, '2012-10-31 12:15:51'),
 (109, 322, '2014-11-20 22:27:46'),
 (110, 6, '2016-04-28 06:53:45'),
 (111, 58, '2018-12-23 05:46:07'),
 (112, 325, '2019-02-09 17:37:33'),
 (113, 412, '2010-08-01 04:42:14'),
 (114, 318, '2023-02-19 18:05:36'),
 (115, 169, '2011-02-24 03:18:35'),
 (116, 453, '2015-12-24 14:23:36'),
 (117, 82, '2015-12-29 01:49:34'),
 (118, 474, '2010-04-22 09:38:25'),
 (119, 468, '2011-07-05 07:56:04'),
 (120, 425, '2010-09-08 15:15:24'),
 (121, 433, '2023-01-28 08:04:13'),
 (122, 219, '2021-08-23 04:35:32'),
 (123, 177, '2024-01-27 21:45:33'),
 (124, 204, '2022-07-10 06:32:39'),
 (125, 71, '2017-11-13 21:51:41'),
 (126, 387, '2013-08-07 17:01:58'),
 (127, 266, '2017-07-26 14:56:22'),
 (128, 98, '2014-03-30 01:31:23'),
 (129, 345, '2017-05-01 07:21:03'),
 (130, 291, '2017-02-19 05:57:30'),
 (131, 208, '2019-07-15 16:38:23'),
 (132, 2, '2016-02-17 07:12:21'),
 (133, 124, '2010-06-08 10:38:13'),
 (134, 280, '2012-08-18 23:08:08'),
 (135, 74, '2018-06-29 07:51:49'),
 (136, 166, '2015-05-21 08:24:59'),
 (137, 22, '2015-11-17 04:16:28'),
 (138, 154, '2024-01-05 12:46:04'),
 (139, 427, '2015-06-03 04:55:45'),
 (140, 439, '2010-12-01 11:44:28'),
 (141, 295, '2018-03-17 10:20:04'),
 (142, 219, '2023-09-29 17:43:42'),
 (143, 157, '2022-07-03 22:14:11'),
 (144, 495, '2019-03-24 15:02:50'),
 (145, 230, '2022-04-08 08:58:25'),
 (146, 20, '2022-01-17 22:10:38'),
 (147, 475, '2010-10-18 22:32:18'),
 (148, 41, '2013-06-30 08:47:18'),
 (149, 438, '2022-05-06 20:55:51'),
 (150, 148, '2022-07-29 09:58:03'),
 (151, 108, '2015-03-25 16:36:37'),
 (152, 403, '2015-10-01 14:56:42'),
 (153, 84, '2011-02-11 21:05:40'),
 (154, 483, '2022-04-19 04:59:40'),
 (155, 367, '2011-02-20 14:31:19'),
 (156, 322, '2016-06-21 15:31:10'),
 (157, 414, '2018-11-07 06:15:46'),
 (158, 309, '2013-08-13 18:29:42'),
 (159, 290, '2018-09-11 18:08:28'),
 (160, 406, '2022-10-05 16:21:49'),
 (161, 323, '2020-07-03 06:42:51'),
 (162, 134, '2011-07-16 07:06:22'),
 (163, 207, '2010-04-17 07:15:36'),
 (164, 283, '2011-07-07 20:30:55'),
 (165, 266, '2018-01-01 23:44:36'),
 (166, 73, '2014-10-10 10:05:34'),
 (167, 481, '2014-11-18 00:32:07'),
 (168, 352, '2021-10-12 19:05:13'),
 (169, 48, '2017-11-25 07:11:53'),
 (170, 326, '2011-04-09 21:03:11'),
 (171, 233, '2018-05-28 17:15:51'),
 (172, 443, '2023-10-23 16:32:04'),
 (173, 100, '2010-11-17 16:04:18'),
 (174, 59, '2013-10-19 00:29:55'),
 (175, 258, '2023-07-02 04:04:55'),
 (176, 413, '2019-05-21 17:09:54'),
 (177, 452, '2013-08-10 00:57:03'),
 (178, 65, '2010-08-28 10:17:35'),
 (179, 83, '2016-10-25 00:59:21'),
 (180, 154, '2014-06-07 13:57:53'),
 (181, 473, '2020-10-03 21:11:06'),
 (182, 266, '2018-04-17 19:02:48'),
 (183, 309, '2017-07-01 06:54:01'),
 (184, 79, '2018-11-12 01:15:25'),
 (185, 315, '2018-07-30 23:26:18'),
 (186, 150, '2018-07-23 23:39:45'),
 (187, 435, '2010-01-13 22:04:31'),
 (188, 48, '2014-08-07 19:10:04'),
 (189, 405, '2015-04-08 13:43:36'),
 (190, 379, '2017-05-19 14:45:07'),
 (191, 248, '2013-04-15 23:00:51'),
 (192, 278, '2010-09-17 23:10:13'),
 (193, 356, '2023-05-06 23:34:01'),
 (194, 98, '2011-07-01 08:29:13'),
 (195, 414, '2022-03-31 03:12:57'),
 (196, 25, '2014-10-22 08:05:09'),
 (197, 493, '2021-04-03 01:38:19'),
 (198, 284, '2011-07-03 09:13:49'),
 (199, 449, '2020-07-18 13:54:21'),
 (200, 369, '2021-04-22 14:30:57'),
 (201, 301, '2011-03-08 07:20:20'),
 (202, 68, '2017-04-07 11:25:07'),
 (203, 7, '2020-06-21 06:59:22'),
 (204, 305, '2010-11-08 10:01:51'),
 (205, 137, '2013-04-02 11:33:06'),
 (206, 164, '2022-07-08 20:55:58'),
 (207, 83, '2017-07-27 02:24:54'),
 (208, 385, '2022-12-22 08:03:17'),
 (209, 138, '2010-03-24 01:26:15'),
 (210, 420, '2010-04-12 21:59:46'),
 (211, 73, '2011-05-31 18:54:38'),
 (212, 237, '2020-01-08 04:54:20'),
 (213, 46, '2012-07-01 22:30:27'),
 (214, 106, '2023-03-19 10:08:19'),
 (215, 416, '2014-02-20 04:20:25'),
 (216, 288, '2011-07-11 13:05:27'),
 (217, 262, '2022-07-20 17:44:21'),
 (218, 176, '2022-08-31 06:12:50'),
 (219, 166, '2011-09-30 10:19:05'),
 (220, 145, '2012-04-01 11:55:16'),
 (221, 330, '2015-03-07 01:52:37'),
 (222, 370, '2015-02-14 04:36:36'),
 (223, 283, '2010-04-04 10:47:17'),
 (224, 54, '2019-08-12 10:43:51'),
 (225, 178, '2017-04-07 03:58:30'),
 (226, 419, '2010-06-09 23:32:36'),
 (227, 244, '2013-12-16 03:30:17'),
 (228, 341, '2015-09-14 02:53:33'),
 (229, 127, '2017-08-31 15:31:07'),
 (230, 409, '2016-01-07 01:28:24'),
 (231, 412, '2011-09-23 00:11:24'),
 (232, 367, '2022-08-28 14:09:23'),
 (233, 271, '2013-09-20 10:31:44'),
 (234, 132, '2022-01-02 13:24:06'),
 (235, 93, '2011-05-18 13:21:32'),
 (236, 379, '2012-05-11 06:09:17'),
 (237, 73, '2023-05-24 17:27:30'),
 (238, 411, '2018-10-29 21:21:27'),
 (239, 410, '2020-11-20 00:22:39'),
 (240, 403, '2023-09-02 20:06:17'),
 (241, 248, '2018-05-15 09:58:14'),
 (242, 348, '2020-08-10 14:08:51'),
 (243, 273, '2018-04-04 10:18:43'),
 (244, 43, '2017-03-09 21:34:47'),
 (245, 377, '2017-01-02 11:38:09'),
 (246, 41, '2023-07-11 15:47:41'),
 (247, 170, '2017-06-26 12:25:53'),
 (248, 434, '2023-11-26 16:30:10'),
 (249, 212, '2012-09-12 07:02:54'),
 (250, 493, '2013-02-13 23:54:35'),
 (251, 168, '2020-03-19 17:26:19'),
 (252, 39, '2019-10-25 12:12:02'),
 (253, 369, '2011-07-26 04:53:18'),
 (254, 245, '2020-06-27 14:06:37'),
 (255, 151, '2013-04-08 00:48:18'),
 (256, 111, '2017-12-20 13:58:45'),
 (257, 480, '2019-08-02 09:08:39'),
 (258, 436, '2021-06-19 12:13:32'),
 (259, 47, '2014-10-01 17:42:53'),
 (260, 63, '2021-04-03 02:11:49'),
 (261, 225, '2021-07-19 12:26:28'),
 (262, 366, '2015-04-04 13:26:54'),
 (263, 69, '2020-03-23 18:22:27'),
 (264, 299, '2012-05-08 10:47:27'),
 (265, 432, '2012-10-05 22:45:38'),
 (266, 290, '2018-11-16 01:26:07'),
 (267, 296, '2013-01-21 02:54:27'),
 (268, 203, '2020-08-22 23:35:18'),
 (269, 61, '2018-01-12 20:51:02'),
 (270, 434, '2022-01-22 08:25:53'),
 (271, 451, '2023-01-05 21:30:27'),
 (272, 318, '2018-07-06 23:46:56'),
 (273, 314, '2023-05-15 19:20:26'),
 (274, 161, '2016-12-28 11:07:07'),
 (275, 331, '2012-04-04 14:52:30'),
 (276, 16, '2017-11-28 19:54:35'),
 (277, 338, '2016-09-23 20:24:21'),
 (278, 94, '2012-05-23 04:06:04'),
 (279, 304, '2016-08-06 22:58:40'),
 (280, 138, '2016-04-18 00:04:32'),
 (281, 338, '2011-09-17 00:37:25'),
 (282, 38, '2011-07-10 15:06:43'),
 (283, 127, '2014-11-08 06:02:23'),
 (284, 275, '2017-04-01 04:40:14'),
 (285, 164, '2018-04-16 21:58:38'),
 (286, 443, '2014-10-02 03:08:53'),
 (287, 319, '2022-03-23 02:17:49'),
 (288, 77, '2011-03-16 02:07:06'),
 (289, 174, '2019-10-13 18:57:12'),
 (290, 387, '2020-04-01 19:36:57'),
 (291, 458, '2021-12-12 00:55:43'),
 (292, 358, '2020-08-10 05:42:28'),
 (293, 321, '2018-02-04 13:56:08'),
 (294, 376, '2018-12-03 12:09:23'),
 (295, 91, '2021-07-03 01:53:53'),
 (296, 238, '2015-06-27 00:44:50'),
 (297, 264, '2013-07-26 05:53:16'),
 (298, 179, '2020-03-29 19:05:14'),
 (299, 494, '2013-04-17 13:53:52'),
 (300, 490, '2021-09-05 15:29:33'),
 (301, 209, '2021-02-13 04:22:21'),
 (302, 73, '2021-10-08 21:34:45'),
 (303, 390, '2013-02-20 20:32:44'),
 (304, 107, '2019-11-22 11:25:57'),
 (305, 345, '2012-06-17 16:48:16'),
 (306, 295, '2017-06-08 00:31:54'),
 (307, 369, '2016-08-19 03:52:12'),
 (308, 444, '2014-06-08 15:45:54'),
 (309, 284, '2018-12-09 22:23:48'),
 (310, 353, '2017-08-22 12:58:58'),
 (311, 182, '2011-04-08 03:27:37'),
 (312, 37, '2023-12-25 15:17:54'),
 (313, 137, '2017-06-10 00:07:09'),
 (314, 338, '2023-09-07 22:28:41'),
 (315, 56, '2010-04-06 03:40:52'),
 (316, 187, '2022-07-07 01:01:16'),
 (317, 341, '2021-10-21 12:17:03'),
 (318, 258, '2018-04-26 08:49:40'),
 (319, 445, '2017-03-01 21:54:56'),
 (320, 58, '2018-03-11 14:00:52'),
 (321, 363, '2021-04-28 05:48:57'),
 (322, 123, '2018-06-27 14:22:55'),
 (323, 188, '2021-01-10 11:26:27'),
 (324, 230, '2011-02-26 12:59:49'),
 (325, 168, '2010-11-03 17:52:25'),
 (326, 420, '2020-12-20 17:21:07'),
 (327, 114, '2016-10-13 15:51:25'),
 (328, 252, '2024-01-05 03:22:14'),
 (329, 107, '2013-12-08 06:56:38'),
 (330, 37, '2014-09-06 13:05:38'),
 (331, 335, '2018-06-02 14:45:20'),
 (332, 92, '2014-02-10 21:35:19'),
 (333, 18, '2010-12-16 10:09:39'),
 (334, 354, '2012-02-11 03:36:37'),
 (335, 63, '2017-10-18 10:00:08'),
 (336, 150, '2014-08-13 14:01:25'),
 (337, 139, '2023-08-23 03:31:57'),
 (338, 186, '2010-11-12 15:08:27'),
 (339, 185, '2011-05-30 16:54:19'),
 (340, 205, '2013-03-30 21:29:28'),
 (341, 260, '2010-03-10 08:32:30'),
 (342, 214, '2016-06-25 08:31:15'),
 (343, 256, '2014-05-08 11:59:19'),
 (344, 135, '2023-03-18 21:36:24'),
 (345, 61, '2021-02-09 02:02:11'),
 (346, 363, '2011-10-29 05:57:40'),
 (347, 310, '2019-05-21 22:07:25'),
 (348, 88, '2014-06-16 19:08:07'),
 (349, 324, '2017-10-07 04:56:11'),
 (350, 476, '2016-01-26 19:47:53'),
 (351, 207, '2014-05-20 00:41:01'),
 (352, 129, '2014-12-09 20:49:25'),
 (353, 311, '2011-08-05 21:25:47'),
 (354, 3, '2013-07-02 12:58:46'),
 (355, 462, '2013-06-27 04:42:30'),
 (356, 422, '2014-04-03 16:10:03'),
 (357, 242, '2015-01-20 13:45:49'),
 (358, 121, '2023-08-03 19:22:49'),
 (359, 385, '2012-12-27 03:02:39'),
 (360, 102, '2011-04-13 04:33:57'),
 (361, 38, '2017-05-02 17:33:18'),
 (362, 341, '2020-03-04 08:06:01'),
 (363, 496, '2022-11-26 00:12:08'),
 (364, 413, '2013-08-20 18:56:12'),
 (365, 133, '2012-06-20 16:41:41'),
 (366, 497, '2018-11-24 08:51:55'),
 (367, 202, '2014-04-09 23:56:56'),
 (368, 348, '2024-01-12 14:42:43'),
 (369, 21, '2014-07-29 22:35:35'),
 (370, 242, '2016-04-30 13:21:46'),
 (371, 455, '2018-07-12 12:10:59'),
 (372, 451, '2014-04-12 18:20:41'),
 (373, 109, '2018-06-09 16:20:58'),
 (374, 303, '2011-12-10 03:23:36'),
 (375, 84, '2023-01-21 05:33:08'),
 (376, 83, '2014-05-31 15:22:43'),
 (377, 291, '2018-11-15 14:07:45'),
 (378, 452, '2014-11-30 07:43:28'),
 (379, 69, '2012-12-22 13:17:14'),
 (380, 129, '2023-04-01 23:06:46'),
 (381, 196, '2021-10-06 04:34:13'),
 (382, 140, '2013-05-19 11:20:30'),
 (383, 444, '2012-12-20 20:19:29'),
 (384, 283, '2015-04-13 05:53:59'),
 (385, 312, '2016-07-30 00:41:46'),
 (386, 234, '2022-01-12 02:40:19'),
 (387, 23, '2010-05-29 13:04:23'),
 (388, 153, '2018-03-10 23:26:06'),
 (389, 277, '2010-12-21 17:06:55'),
 (390, 61, '2018-06-01 05:04:06'),
 (391, 319, '2012-07-06 01:08:36'),
 (392, 378, '2017-02-10 18:04:25'),
 (393, 52, '2020-08-06 20:35:37'),
 (394, 344, '2015-12-17 23:27:39'),
 (395, 153, '2015-02-18 17:23:03'),
 (396, 237, '2011-05-20 22:43:11'),
 (397, 311, '2010-11-21 14:40:17'),
 (398, 302, '2012-09-19 11:15:16'),
 (399, 32, '2013-12-21 06:38:58'),
 (400, 55, '2023-08-19 18:26:30'),
 (401, 352, '2019-12-13 16:52:41'),
 (402, 389, '2019-01-04 08:34:44'),
 (403, 36, '2018-11-22 14:01:59'),
 (404, 110, '2022-01-05 13:59:12'),
 (405, 490, '2022-02-07 20:35:30'),
 (406, 177, '2017-12-27 22:19:30'),
 (407, 362, '2023-03-16 03:51:52'),
 (408, 314, '2019-10-21 22:16:52'),
 (409, 295, '2022-07-28 01:12:43'),
 (410, 336, '2023-07-18 11:43:52'),
 (411, 97, '2017-11-23 23:07:40'),
 (412, 369, '2012-12-31 08:58:08'),
 (413, 213, '2013-07-28 17:41:05'),
 (414, 317, '2022-12-06 21:00:36'),
 (415, 137, '2023-08-27 18:45:23'),
 (416, 6, '2015-11-08 00:59:42'),
 (417, 499, '2010-02-18 01:16:25'),
 (418, 109, '2022-02-03 06:32:24'),
 (419, 35, '2023-09-11 15:37:42'),
 (420, 39, '2017-12-30 16:22:45'),
 (421, 150, '2018-05-02 09:37:58'),
 (422, 425, '2016-02-21 04:59:12'),
 (423, 118, '2013-03-08 18:26:24'),
 (424, 261, '2023-12-09 19:17:16'),
 (425, 426, '2013-12-11 11:57:15'),
 (426, 87, '2023-04-25 09:00:41'),
 (427, 465, '2015-10-16 23:07:22'),
 (428, 76, '2019-03-18 19:29:44'),
 (429, 471, '2015-09-04 22:01:10'),
 (430, 464, '2021-04-10 18:07:17'),
 (431, 451, '2016-08-24 18:47:12'),
 (432, 414, '2015-12-05 07:06:56'),
 (433, 313, '2021-02-14 14:08:05'),
 (434, 383, '2023-10-08 01:07:57'),
 (435, 214, '2021-05-03 21:31:49'),
 (436, 457, '2023-03-11 20:32:33'),
 (437, 285, '2017-04-19 23:44:09'),
 (438, 239, '2015-07-20 21:55:32'),
 (439, 165, '2012-03-04 08:34:12'),
 (440, 87, '2019-08-16 10:10:09'),
 (441, 141, '2015-05-03 01:00:05'),
 (442, 160, '2023-08-10 19:15:59'),
 (443, 46, '2022-05-26 03:08:40'),
 (444, 372, '2015-12-29 08:41:37'),
 (445, 495, '2023-04-12 20:36:25'),
 (446, 112, '2021-11-18 11:39:13'),
 (447, 407, '2015-01-02 14:59:59'),
 (448, 45, '2021-08-04 10:32:18'),
 (449, 401, '2013-07-15 03:33:16'),
 (450, 247, '2016-03-08 10:20:05'),
 (451, 104, '2015-07-11 14:50:51'),
 (452, 85, '2018-06-23 14:42:31'),
 (453, 450, '2015-01-12 19:05:18'),
 (454, 485, '2011-09-14 12:14:31'),
 (455, 134, '2017-09-04 20:08:27'),
 (456, 108, '2021-06-19 14:04:57'),
 (457, 18, '2024-01-11 05:32:18'),
 (458, 94, '2017-01-26 18:36:47'),
 (459, 150, '2015-12-27 17:46:26'),
 (460, 246, '2014-12-09 09:34:54'),
 (461, 289, '2020-05-24 01:32:47'),
 (462, 414, '2022-03-21 20:42:07'),
 (463, 209, '2011-03-05 13:03:02'),
 (464, 126, '2015-05-28 19:31:31'),
 (465, 235, '2016-02-08 09:27:53'),
 (466, 416, '2020-12-01 12:18:06'),
 (467, 426, '2011-02-23 19:25:55'),
 (468, 499, '2010-12-02 14:51:25'),
 (469, 462, '2010-07-24 04:39:15'),
 (470, 122, '2012-08-21 16:14:13'),
 (471, 138, '2012-06-11 02:01:50'),
 (472, 495, '2020-11-14 22:04:39'),
 (473, 115, '2010-03-04 07:48:55'),
 (474, 420, '2010-05-21 16:24:52'),
 (475, 162, '2014-09-18 10:26:22'),
 (476, 201, '2010-08-16 18:22:13'),
 (477, 234, '2014-12-26 09:08:03'),
 (478, 28, '2010-10-01 01:49:01'),
 (479, 11, '2019-10-02 03:24:44'),
 (480, 206, '2020-05-17 21:04:40'),
 (481, 167, '2018-03-11 16:13:27'),
 (482, 247, '2010-02-06 06:20:11'),
 (483, 47, '2012-12-30 05:54:33'),
 (484, 246, '2017-11-22 05:43:12'),
 (485, 127, '2013-09-12 11:59:58'),
 (486, 147, '2017-02-23 11:10:57'),
 (487, 118, '2018-11-16 08:06:48'),
 (488, 399, '2022-10-25 07:36:23'),
 (489, 382, '2022-02-07 19:16:13'),
 (490, 412, '2022-10-01 00:32:02'),
 (491, 152, '2014-08-29 02:17:43'),
 (492, 72, '2014-06-01 03:34:03'),
 (493, 363, '2015-04-08 21:02:24'),
 (494, 137, '2012-02-21 20:40:09'),
 (495, 175, '2016-07-31 04:51:46'),
 (496, 289, '2014-04-29 19:08:35'),
 (497, 446, '2020-06-09 14:52:06'),
 (498, 481, '2019-10-25 06:25:28'),
 (499, 19, '2013-01-17 14:02:34'),
 (500, 195, '2010-09-27 10:19:29'),
 (501, 330, '2022-09-18 08:02:50'),
 (502, 424, '2013-06-27 04:07:46'),
 (503, 175, '2018-12-29 11:08:52'),
 (504, 490, '2022-03-06 21:48:34'),
 (505, 449, '2019-08-12 00:08:42'),
 (506, 413, '2020-09-20 12:03:03'),
 (507, 434, '2018-05-27 06:45:31'),
 (508, 354, '2013-03-05 17:20:09'),
 (509, 499, '2022-10-19 13:26:31'),
 (510, 141, '2015-01-21 03:18:47'),
 (511, 246, '2015-11-01 07:18:51'),
 (512, 385, '2011-01-07 22:14:00'),
 (513, 418, '2020-07-24 04:29:23'),
 (514, 93, '2013-08-07 10:09:40'),
 (515, 432, '2011-04-22 08:16:20'),
 (516, 239, '2018-06-27 09:22:15'),
 (517, 205, '2016-07-09 19:49:10'),
 (518, 48, '2012-05-28 14:41:12'),
 (519, 433, '2012-11-08 10:45:02'),
 (520, 245, '2019-08-23 12:22:38'),
 (521, 320, '2015-06-16 21:18:39'),
 (522, 317, '2012-12-27 12:49:49'),
 (523, 413, '2014-06-30 20:58:15'),
 (524, 295, '2012-09-30 16:14:09'),
 (525, 128, '2014-06-27 04:38:01'),
 (526, 344, '2019-11-19 02:40:59'),
 (527, 282, '2019-08-26 09:56:35'),
 (528, 17, '2017-11-14 06:10:13'),
 (529, 71, '2015-11-21 12:48:11'),
 (530, 269, '2015-08-02 19:50:25'),
 (531, 325, '2019-02-01 17:46:46'),
 (532, 282, '2014-03-29 03:20:34'),
 (533, 305, '2013-01-07 21:20:26'),
 (534, 451, '2013-08-30 10:18:25'),
 (535, 7, '2015-12-21 00:06:02'),
 (536, 314, '2010-12-17 12:17:41'),
 (537, 305, '2012-02-21 00:34:40'),
 (538, 103, '2023-05-10 04:55:55'),
 (539, 309, '2020-06-25 11:16:16'),
 (540, 193, '2014-07-18 12:11:34'),
 (541, 241, '2018-01-23 01:59:27'),
 (542, 62, '2012-08-01 23:36:04'),
 (543, 17, '2013-12-27 03:22:35'),
 (544, 171, '2019-07-31 11:38:23'),
 (545, 25, '2013-09-09 08:40:10'),
 (546, 251, '2018-08-06 19:11:32'),
 (547, 253, '2018-11-22 05:52:03'),
 (548, 387, '2016-08-12 14:02:05'),
 (549, 207, '2022-08-16 22:04:29'),
 (550, 29, '2021-05-12 00:31:49'),
 (551, 117, '2011-01-04 16:04:47'),
 (552, 491, '2017-04-18 15:30:19'),
 (553, 416, '2010-09-16 19:55:25'),
 (554, 282, '2019-06-26 03:45:58'),
 (555, 380, '2022-07-16 15:19:43'),
 (556, 144, '2015-10-27 15:50:22'),
 (557, 25, '2015-11-04 13:33:08'),
 (558, 310, '2023-08-21 06:01:01'),
 (559, 156, '2011-04-26 18:16:44'),
 (560, 73, '2019-12-09 09:45:05'),
 (561, 120, '2015-07-29 21:05:07'),
 (562, 312, '2010-12-11 09:07:49'),
 (563, 321, '2017-02-22 06:38:22'),

In [ ]:
%%sql

    DELETE FROM products WHERE name = 'New gadget';

 * sqlite:///bonga_ecommerce.db
2 rows affected.

[]

In [ ]:
%%sql

SELECT * FROM products;

 * sqlite:///bonga_ecommerce.db
Done.

[(1, 'Product 1', 193.52, 'Fashion'),
 (2, 'Product 2', 475.85, 'Home & Kitchen'),
 (3, 'Product 3', 368.68, 'Toys'),
 (4, 'Product 4', 303.34, 'Electronics'),
 (5, 'Product 5', 86.45, 'Toys'),
 (6, 'Product 6', 86.44, 'Electronics'),
 (7, 'Product 7', 38.46, 'Books'),
 (8, 'Product 8', 434.43, 'Electronics'),
 (9, 'Product 9', 304.55, 'Fashion'),
 (10, 'Product 10', 356.96, 'Home & Kitchen'),
 (11, 'Product 11', 20.09, 'Books'),
 (12, 'Product 12', 485.26, 'Electronics'),
 (13, 'Product 13', 417.9, 'Toys'),
 (14, 'Product 14', 114.05, 'Books'),
 (15, 'Product 15', 99.09, 'Books'),
 (16, 'Product 16', 99.87, 'Electronics'),
 (17, 'Product 17', 159.08, 'Books'),
 (18, 'Product 18', 267.13, 'Toys'),
 (19, 'Product 19', 221.65, 'Books'),
 (20, 'Product 20', 152.7, 'Toys'),
 (21, 'Product 21', 309.81, 'Electronics'),
 (22, 'Product 22', 78.35, 'Home & Kitchen'),
 (23, 'Product 23', 153.15, 'Books'),
 (24, 'Product 24', 189.52, 'Home & Kitchen'),
 (25, 'Product 25', 233.47, 'Toys'),
 (26, 'Product 26', 394.74, 'Books'),
 (27, 'Product 27', 107.84, 'Fashion'),
 (28, 'Product 28', 261.97, 'Home & Kitchen'),
 (29, 'Product 29', 300.28, 'Books'),
 (30, 'Product 30', 32.76, 'Home & Kitchen'),
 (31, 'Product 31', 307.7, 'Books'),
 (32, 'Product 32', 93.56, 'Electronics'),
 (33, 'Product 33', 41.88, 'Home & Kitchen'),
 (34, 'Product 34', 474.95, 'Fashion'),
 (35, 'Product 35', 483.16, 'Fashion'),
 (36, 'Product 36', 406.11, 'Toys'),
 (37, 'Product 37', 159.26, 'Books'),
 (38, 'Product 38', 57.86, 'Home & Kitchen'),
 (39, 'Product 39', 345.27, 'Toys'),
 (40, 'Product 40', 225.67, 'Home & Kitchen'),
 (41, 'Product 41', 69.8, 'Books'),
 (42, 'Product 42', 252.64, 'Fashion'),
 (43, 'Product 43', 26.85, 'Electronics'),
 (44, 'Product 44', 455.57, 'Fashion'),
 (45, 'Product 45', 136.8, 'Toys'),
 (46, 'Product 46', 334.64, 'Electronics'),
 (47, 'Product 47', 162.74, 'Toys'),
 (48, 'Product 48', 264.83, 'Books'),
 (49, 'Product 49', 277.89, 'Electronics'),
 (50, 'Product 50', 100.58, 'Toys'),
 (51, 'Product 51', 485.1, 'Books'),
 (52, 'Product 52', 389.82, 'Fashion'),
 (53, 'Product 53', 470.35, 'Books'),
 (54, 'Product 54', 448.47, 'Home & Kitchen'),
 (55, 'Product 55', 302.97, 'Books'),
 (56, 'Product 56', 461.72, 'Books'),
 (57, 'Product 57', 53.36, 'Home & Kitchen'),
 (58, 'Product 58', 106.03, 'Toys'),
 (59, 'Product 59', 32.16, 'Toys'),
 (60, 'Product 60', 169.41, 'Books'),
 (61, 'Product 61', 200.45, 'Home & Kitchen'),
 (62, 'Product 62', 142.96, 'Home & Kitchen'),
 (63, 'Product 63', 416.08, 'Fashion'),
 (64, 'Product 64', 184.81, 'Toys'),
 (65, 'Product 65', 147.66, 'Electronics'),
 (66, 'Product 66', 275.92, 'Toys'),
 (67, 'Product 67', 79.05, 'Toys'),
 (68, 'Product 68', 403.08, 'Fashion'),
 (69, 'Product 69', 46.53, 'Electronics'),
 (70, 'Product 70', 493.57, 'Fashion'),
 (71, 'Product 71', 388.4, 'Electronics'),
 (72, 'Product 72', 107.37, 'Books'),
 (73, 'Product 73', 12.71, 'Electronics'),
 (74, 'Product 74', 409.58, 'Fashion'),
 (75, 'Product 75', 356.36, 'Toys'),
 (76, 'Product 76', 367.21, 'Electronics'),
 (77, 'Product 77', 387.92, 'Electronics'),
 (78, 'Product 78', 46.28, 'Home & Kitchen'),
 (79, 'Product 79', 185.65, 'Toys'),
 (80, 'Product 80', 66.78, 'Books'),
 (81, 'Product 81', 432.92, 'Fashion'),
 (82, 'Product 82', 315.42, 'Books'),
 (83, 'Product 83', 172.14, 'Toys'),
 (84, 'Product 84', 41.14, 'Electronics'),
 (85, 'Product 85', 162.38, 'Electronics'),
 (86, 'Product 86', 169.34, 'Toys'),
 (87, 'Product 87', 367.51, 'Electronics'),
 (88, 'Product 88', 322.4, 'Electronics'),
 (89, 'Product 89', 444.73, 'Electronics'),
 (90, 'Product 90', 241.39, 'Fashion'),
 (91, 'Product 91', 68.6, 'Fashion'),
 (92, 'Product 92', 359.49, 'Home & Kitchen'),
 (93, 'Product 93', 382.78, 'Books'),
 (94, 'Product 94', 285.03, 'Toys'),
 (95, 'Product 95', 387.77, 'Toys'),
 (96, 'Product 96', 251.96, 'Toys'),
 (97, 'Product 97', 266.14, 'Home & Kitchen'),
 (98, 'Product 98', 219.5, 'Fashion'),
 (99, 'Product 99', 22.46, 'Home & Kitchen'),
 (100, 'Product 100', 62.87, 'Toys'),
 (101, 'Product 101', 25.4, 'Books'),
 (102, 'Product 102', 321.84, 'Electronics'),
 (103, 'Product 103', 164.03, 'Fashion'),
 (104, 'Product 104', 259.2, 'Fashion'),
 (105, 'Product 105', 454.71, 'Home & Kitchen'),
 (106, 'Product 106', 132.15, 'Fashion'),
 (107, 'Product 107', 211.09, 'Toys'),
 (108, 'Product 108', 380.22, 'Toys'),
 (109, 'Product 109', 122.11, 'Home & Kitchen'),
 (110, 'Product 110', 47.72, 'Toys'),
 (111, 'Product 111', 151.98, 'Books'),
 (112, 'Product 112', 89.0, 'Home & Kitchen'),
 (113, 'Product 113', 465.55, 'Books'),
 (114, 'Product 114', 405.98, 'Electronics'),
 (115, 'Product 115', 320.37, 'Books'),
 (116, 'Product 116', 437.02, 'Electronics'),
 (117, 'Product 117', 403.8, 'Electronics'),
 (118, 'Product 118', 101.42, 'Books'),
 (119, 'Product 119', 447.35, 'Home & Kitchen'),
 (120, 'Product 120', 274.28, 'Toys'),
 (121, 'Product 121', 405.65, 'Toys'),
 (122, 'Product 122', 449.08, 'Electronics'),
 (123, 'Product 123', 165.82, 'Electronics'),
 (124, 'Product 124', 63.93, 'Home & Kitchen'),
 (125, 'Product 125', 121.69, 'Fashion'),
 (126, 'Product 126', 219.28, 'Books'),
 (127, 'Product 127', 410.83, 'Electronics'),
 (128, 'Product 128', 431.76, 'Toys'),
 (129, 'Product 129', 13.41, 'Home & Kitchen'),
 (130, 'Product 130', 260.27, 'Books'),
 (131, 'Product 131', 214.53, 'Home & Kitchen'),
 (132, 'Product 132', 118.83, 'Books'),
 (133, 'Product 133', 68.73, 'Books'),
 (134, 'Product 134', 175.43, 'Electronics'),
 (135, 'Product 135', 472.03, 'Home & Kitchen'),
 (136, 'Product 136', 168.37, 'Home & Kitchen'),
 (137, 'Product 137', 264.21, 'Toys'),
 (138, 'Product 138', 354.48, 'Toys'),
 (139, 'Product 139', 188.18, 'Electronics'),
 (140, 'Product 140', 486.17, 'Electronics'),
 (141, 'Product 141', 481.6, 'Fashion'),
 (142, 'Product 142', 133.37, 'Toys'),
 (143, 'Product 143', 253.65, 'Books'),
 (144, 'Product 144', 157.43, 'Home & Kitchen'),
 (145, 'Product 145', 149.57, 'Electronics'),
 (146, 'Product 146', 28.07, 'Home & Kitchen'),
 (147, 'Product 147', 308.69, 'Home & Kitchen'),
 (148, 'Product 148', 256.31, 'Fashion'),
 (149, 'Product 149', 35.22, 'Toys'),
 (150, 'Product 150', 146.54, 'Electronics'),
 (151, 'Product 151', 455.05, 'Home & Kitchen'),
 (152, 'Product 152', 127.39, 'Electronics'),
 (153, 'Product 153', 81.0, 'Books'),
 (154, 'Product 154', 249.83, 'Fashion'),
 (155, 'Product 155', 492.97, 'Books'),
 (156, 'Product 156', 128.61, 'Electronics'),
 (157, 'Product 157', 339.35, 'Electronics'),
 (158, 'Product 158', 383.19, 'Toys'),
 (159, 'Product 159', 126.44, 'Home & Kitchen'),
 (160, 'Product 160', 366.83, 'Home & Kitchen'),
 (161, 'Product 161', 190.21, 'Books'),
 (162, 'Product 162', 319.83, 'Fashion'),
 (163, 'Product 163', 320.43, 'Home & Kitchen'),
 (164, 'Product 164', 272.53, 'Toys'),
 (165, 'Product 165', 54.24, 'Books'),
 (166, 'Product 166', 419.3, 'Books'),
 (167, 'Product 167', 167.18, 'Toys'),
 (168, 'Product 168', 101.39, 'Fashion'),
 (169, 'Product 169', 29.98, 'Toys'),
 (170, 'Product 170', 299.54, 'Fashion'),
 (171, 'Product 171', 342.01, 'Toys'),
 (172, 'Product 172', 18.13, 'Toys'),
 (173, 'Product 173', 260.93, 'Electronics'),
 (174, 'Product 174', 120.98, 'Books'),
 (175, 'Product 175', 326.13, 'Toys'),
 (176, 'Product 176', 95.44, 'Toys'),
 (177, 'Product 177', 348.56, 'Home & Kitchen'),
 (178, 'Product 178', 199.5, 'Books'),
 (179, 'Product 179', 469.0, 'Home & Kitchen'),
 (180, 'Product 180', 77.39, 'Books'),
 (181, 'Product 181', 177.12, 'Home & Kitchen'),
 (182, 'Product 182', 65.6, 'Toys'),
 (183, 'Product 183', 463.1, 'Toys'),
 (184, 'Product 184', 439.9, 'Electronics'),
 (185, 'Product 185', 136.39, 'Home & Kitchen'),
 (186, 'Product 186', 333.39, 'Fashion'),
 (187, 'Product 187', 410.44, 'Electronics'),
 (188, 'Product 188', 282.05, 'Home & Kitchen'),
 (189, 'Product 189', 269.53, 'Home & Kitchen'),
 (190, 'Product 190', 128.51, 'Electronics'),
 (191, 'Product 191', 55.62, 'Toys'),
 (192, 'Product 192', 449.64, 'Home & Kitchen'),
 (193, 'Product 193', 451.2, 'Toys'),
 (194, 'Product 194', 320.22, 'Electronics'),
 (195, 'Product 195', 176.12, 'Toys'),
 (196, 'Product 196', 181.11, 'Books'),
 (197, 'Product 197', 365.72, 'Fashion'),
 (198, 'Product 198', 449.58, 'Home & Kitchen'),
 (199, 'Product 199', 444.67, 'Fashion'),
 (200, 'Product 200', 392.14, 'Toys'),
 (201, 'Product 201', 324.6, 'Home & Kitchen'),
 (202, 'Product 202', 51.23, 'Toys'),
 (203, 'Product 203', 89.2, 'Books'),
 (204, 'Product 204', 450.29, 'Electronics'),
 (205, 'Product 205', 307.15, 'Home & Kitchen'),
 (206, 'Product 206', 14.51, 'Books'),
 (207, 'Product 207', 59.72, 'Books'),
 (208, 'Product 208', 335.12, 'Home & Kitchen'),
 (209, 'Product 209', 12.48, 'Toys'),
 (210, 'Product 210', 88.8, 'Books'),
 (211, 'Product 211', 278.88, 'Fashion'),
 (212, 'Product 212', 349.03, 'Books'),
 (213, 'Product 213', 329.46, 'Toys'),
 (214, 'Product 214', 119.89, 'Toys'),
 (215, 'Product 215', 358.97, 'Fashion'),
 (216, 'Product 216', 126.25, 'Books'),
 (217, 'Product 217', 169.45, 'Toys'),
 (218, 'Product 218', 375.78, 'Home & Kitchen'),
 (219, 'Product 219', 328.32, 'Electronics'),
 (220, 'Product 220', 426.12, 'Electronics'),
 (221, 'Product 221', 332.23, 'Electronics'),
 (222, 'Product 222', 288.47, 'Books'),
 (223, 'Product 223', 55.9, 'Fashion'),
 (224, 'Product 224', 190.18, 'Toys'),
 (225, 'Product 225', 139.95, 'Home & Kitchen'),
 (226, 'Product 226', 129.55, 'Home & Kitchen'),
 (227, 'Product 227', 486.78, 'Books'),
 (228, 'Product 228', 202.62, 'Electronics'),
 (229, 'Product 229', 447.1, 'Books'),
 (230, 'Product 230', 319.26, 'Fashion'),
 (231, 'Product 231', 399.46, 'Fashion'),
 (232, 'Product 232', 256.29, 'Toys'),
 (233, 'Product 233', 292.68, 'Toys'),
 (234, 'Product 234', 251.33, 'Fashion'),
 (235, 'Product 235', 105.67, 'Fashion'),
 (236, 'Product 236', 364.0, 'Fashion'),
 (237, 'Product 237', 147.58, 'Books'),
 (238, 'Product 238', 21.91, 'Fashion'),
 (239, 'Product 239', 326.28, 'Home & Kitchen'),
 (240, 'Product 240', 96.78, 'Electronics'),
 (241, 'Product 241', 470.82, 'Fashion'),
 (242, 'Product 242', 477.43, 'Electronics'),
 (243, 'Product 243', 458.28, 'Books'),
 (244, 'Product 244', 191.38, 'Electronics'),
 (245, 'Product 245', 17.57, 'Books'),
 (246, 'Product 246', 464.88, 'Home & Kitchen'),
 (247, 'Product 247', 219.81, 'Books'),
 (248, 'Product 248', 483.66, 'Books'),
 (249, 'Product 249', 482.17, 'Toys'),
 (250, 'Product 250', 427.97, 'Fashion'),
 (251, 'Product 251', 154.28, 'Fashion'),
 (252, 'Product 252', 198.7, 'Home & Kitchen'),
 (253, 'Product 253', 427.06, 'Home & Kitchen'),
 (254, 'Product 254', 165.29, 'Fashion'),
 (255, 'Product 255', 93.05, 'Toys'),
 (256, 'Product 256', 282.83, 'Fashion'),
 (257, 'Product 257', 468.72, 'Toys'),
 (258, 'Product 258', 351.05, 'Home & Kitchen'),
 (259, 'Product 259', 289.33, 'Electronics'),
 (260, 'Product 260', 57.62, 'Home & Kitchen'),
 (261, 'Product 261', 311.35, 'Home & Kitchen'),
 (262, 'Product 262', 495.13, 'Books'),
 (263, 'Product 263', 78.64, 'Books'),
 (264, 'Product 264', 263.98, 'Books'),
 (265, 'Product 265', 439.91, 'Books'),
 (266, 'Product 266', 372.98, 'Toys'),
 (267, 'Product 267', 351.54, 'Fashion'),
 (268, 'Product 268', 354.22, 'Electronics'),
 (269, 'Product 269', 186.15, 'Home & Kitchen'),
 (270, 'Product 270', 153.86, 'Toys'),
 (271, 'Product 271', 406.59, 'Electronics'),
 (272, 'Product 272', 406.96, 'Toys'),
 (273, 'Product 273', 434.87, 'Toys'),
 (274, 'Product 274', 457.49, 'Home & Kitchen'),
 (275, 'Product 275', 260.56, 'Fashion'),
 (276, 'Product 276', 255.74, 'Books'),
 (277, 'Product 277', 401.16, 'Fashion'),
 (278, 'Product 278', 328.48, 'Home & Kitchen'),
 (279, 'Product 279', 353.96, 'Home & Kitchen'),
 (280, 'Product 280', 399.94, 'Home & Kitchen'),
 (281, 'Product 281', 446.1, 'Electronics'),
 (282, 'Product 282', 175.62, 'Fashion'),
 (283, 'Product 283', 194.04, 'Fashion'),
 (284, 'Product 284', 56.05, 'Toys'),
 (285, 'Product 285', 293.36, 'Toys'),
 (286, 'Product 286', 27.61, 'Toys'),
 (287, 'Product 287', 238.14, 'Home & Kitchen'),
 (288, 'Product 288', 275.9, 'Fashion'),
 (289, 'Product 289', 150.41, 'Home & Kitchen'),
 (290, 'Product 290', 299.51, 'Electronics'),
 (291, 'Product 291', 24.95, 'Toys'),
 (292, 'Product 292', 28.3, 'Home & Kitchen'),
 (293, 'Product 293', 413.07, 'Home & Kitchen'),
 (294, 'Product 294', 186.49, 'Electronics'),
 (295, 'Product 295', 72.26, 'Books'),
 (296, 'Product 296', 265.9, 'Fashion'),
 (297, 'Product 297', 387.3, 'Books'),
 (298, 'Product 298', 115.75, 'Toys'),
 (299, 'Product 299', 315.22, 'Home & Kitchen'),
 (300, 'Product 300', 51.82, 'Electronics'),
 (301, 'Product 301', 35.32, 'Electronics'),
 (302, 'Product 302', 270.36, 'Fashion'),
 (303, 'Product 303', 274.91, 'Books'),
 (304, 'Product 304', 322.34, 'Fashion'),
 (305, 'Product 305', 365.78, 'Home & Kitchen'),
 (306, 'Product 306', 488.17, 'Fashion'),
 (307, 'Product 307', 262.99, 'Electronics'),
 (308, 'Product 308', 168.25, 'Electronics'),
 (309, 'Product 309', 399.64, 'Toys'),
 (310, 'Product 310', 142.71, 'Toys'),
 (311, 'Product 311', 225.1, 'Home & Kitchen'),
 (312, 'Product 312', 48.44, 'Books'),
 (313, 'Product 313', 22.42, 'Fashion'),
 (314, 'Product 314', 481.7, 'Home & Kitchen'),
 (315, 'Product 315', 419.63, 'Toys'),
 (316, 'Product 316', 351.03, 'Fashion'),
 (317, 'Product 317', 210.39, 'Toys'),
 (318, 'Product 318', 94.91, 'Fashion'),
 (319, 'Product 319', 86.65, 'Books'),
 (320, 'Product 320', 132.62, 'Home & Kitchen'),
 (321, 'Product 321', 279.12, 'Fashion'),
 (322, 'Product 322', 360.15, 'Electronics'),
 (323, 'Product 323', 333.5, 'Electronics'),
 (324, 'Product 324', 147.17, 'Fashion'),
 (325, 'Product 325', 477.88, 'Fashion'),
 (326, 'Product 326', 371.57, 'Fashion'),
 (327, 'Product 327', 281.63, 'Electronics'),
 (328, 'Product 328', 309.74, 'Electronics'),
 (329, 'Product 329', 215.6, 'Fashion'),
 (330, 'Product 330', 131.39, 'Toys'),
 (331, 'Product 331', 184.43, 'Toys'),
 (332, 'Product 332', 381.34, 'Books'),
 (333, 'Product 333', 17.05, 'Home & Kitchen'),
 (334, 'Product 334', 66.88, 'Toys'),
 (335, 'Product 335', 32.54, 'Electronics'),
 (336, 'Product 336', 29.96, 'Toys'),
 (337, 'Product 337', 429.18, 'Books'),
 (338, 'Product 338', 354.79, 'Books'),
 (339, 'Product 339', 242.35, 'Home & Kitchen'),
 (340, 'Product 340', 57.94, 'Toys'),
 (341, 'Product 341', 250.89, 'Electronics'),
 (342, 'Product 342', 242.0, 'Electronics'),
 (343, 'Product 343', 94.87, 'Fashion'),
 (344, 'Product 344', 222.59, 'Electronics'),
 (345, 'Product 345', 205.27, 'Home & Kitchen'),
 (346, 'Product 346', 311.77, 'Home & Kitchen'),
 (347, 'Product 347', 321.2, 'Electronics'),
 (348, 'Product 348', 32.2, 'Electronics'),
 (349, 'Product 349', 193.56, 'Fashion'),
 (350, 'Product 350', 316.67, 'Electronics'),
 (351, 'Product 351', 256.54, 'Fashion'),
 (352, 'Product 352', 429.68, 'Fashion'),
 (353, 'Product 353', 332.76, 'Electronics'),
 (354, 'Product 354', 89.84, 'Books'),
 (355, 'Product 355', 44.58, 'Books'),
 (356, 'Product 356', 324.79, 'Fashion'),
 (357, 'Product 357', 22.99, 'Electronics'),
 (358, 'Product 358', 297.03, 'Books'),
 (359, 'Product 359', 470.71, 'Electronics'),
 (360, 'Product 360', 291.98, 'Electronics'),
 (361, 'Product 361', 200.2, 'Electronics'),
 (362, 'Product 362', 325.21, 'Toys'),
 (363, 'Product 363', 234.54, 'Electronics'),
 (364, 'Product 364', 277.35, 'Toys'),
 (365, 'Product 365', 471.32, 'Fashion'),
 (366, 'Product 366', 199.19, 'Books'),
 (367, 'Product 367', 480.98, 'Books'),
 (368, 'Product 368', 453.62, 'Books'),
 (369, 'Product 369', 105.94, 'Books'),
 (370, 'Product 370', 43.99, 'Books'),
 (371, 'Product 371', 59.38, 'Books'),
 (372, 'Product 372', 18.93, 'Books'),
 (373, 'Product 373', 56.28, 'Fashion'),
 (374, 'Product 374', 344.67, 'Electronics'),
 (375, 'Product 375', 44.88, 'Home & Kitchen'),
 (376, 'Product 376', 166.3, 'Toys'),
 (377, 'Product 377', 423.99, 'Home & Kitchen'),
 (378, 'Product 378', 21.4, 'Home & Kitchen'),
 (379, 'Product 379', 409.09, 'Electronics'),
 (380, 'Product 380', 148.11, 'Electronics'),
 (381, 'Product 381', 67.9, 'Electronics'),
 (382, 'Product 382', 351.4, 'Books'),
 (383, 'Product 383', 318.18, 'Fashion'),
 (384, 'Product 384', 439.96, 'Books'),
 (385, 'Product 385', 370.18, 'Fashion'),
 (386, 'Product 386', 403.71, 'Fashion'),
 (387, 'Product 387', 148.2, 'Home & Kitchen'),
 (388, 'Product 388', 96.95, 'Home & Kitchen'),
 (389, 'Product 389', 377.8, 'Fashion'),
 (390, 'Product 390', 405.35, 'Fashion'),
 (391, 'Product 391', 495.35, 'Books'),
 (392, 'Product 392', 212.18, 'Books'),
 (393, 'Product 393', 192.29, 'Home & Kitchen'),
 (394, 'Product 394', 390.44, 'Electronics'),
 (395, 'Product 395', 176.99, 'Fashion'),
 (396, 'Product 396', 466.07, 'Books'),
 (397, 'Product 397', 430.62, 'Home & Kitchen'),
 (398, 'Product 398', 220.21, 'Books'),
 (399, 'Product 399', 377.93, 'Fashion'),
 (400, 'Product 400', 379.73, 'Fashion'),
 (401, 'Product 401', 60.53, 'Toys'),
 (402, 'Product 402', 452.25, 'Electronics'),
 (403, 'Product 403', 257.57, 'Toys'),
 (404, 'Product 404', 414.96, 'Home & Kitchen'),
 (405, 'Product 405', 166.82, 'Books'),
 (406, 'Product 406', 448.81, 'Home & Kitchen'),
 (407, 'Product 407', 200.71, 'Fashion'),
 (408, 'Product 408', 15.31, 'Toys'),
 (409, 'Product 409', 453.64, 'Toys'),
 (410, 'Product 410', 54.73, 'Toys'),
 (411, 'Product 411', 166.46, 'Home & Kitchen'),
 (412, 'Product 412', 475.53, 'Fashion'),
 (413, 'Product 413', 475.8, 'Books'),
 (414, 'Product 414', 290.98, 'Books'),
 (415, 'Product 415', 319.6, 'Home & Kitchen'),
 (416, 'Product 416', 229.74, 'Toys'),
 (417, 'Product 417', 153.67, 'Electronics'),
 (418, 'Product 418', 171.05, 'Home & Kitchen'),
 (419, 'Product 419', 339.53, 'Home & Kitchen'),
 (420, 'Product 420', 378.66, 'Fashion'),
 (421, 'Product 421', 397.87, 'Books'),
 (422, 'Product 422', 396.91, 'Home & Kitchen'),
 (423, 'Product 423', 54.69, 'Home & Kitchen'),
 (424, 'Product 424', 252.27, 'Toys'),
 (425, 'Product 425', 38.2, 'Toys'),
 (426, 'Product 426', 279.27, 'Electronics'),
 (427, 'Product 427', 226.35, 'Fashion'),
 (428, 'Product 428', 444.98, 'Electronics'),
 (429, 'Product 429', 181.95, 'Toys'),
 (430, 'Product 430', 67.36, 'Books'),
 (431, 'Product 431', 80.07, 'Toys'),
 (432, 'Product 432', 383.14, 'Fashion'),
 (433, 'Product 433', 312.93, 'Toys'),
 (434, 'Product 434', 59.55, 'Fashion'),
 (435, 'Product 435', 51.21, 'Fashion'),
 (436, 'Product 436', 353.47, 'Fashion'),
 (437, 'Product 437', 45.65, 'Fashion'),
 (438, 'Product 438', 412.71, 'Fashion'),
 (439, 'Product 439', 356.06, 'Books'),
 (440, 'Product 440', 49.86, 'Electronics'),
 (441, 'Product 441', 51.57, 'Home & Kitchen'),
 (442, 'Product 442', 493.45, 'Electronics'),
 (443, 'Product 443', 193.39, 'Fashion'),
 (444, 'Product 444', 191.61, 'Books'),
 (445, 'Product 445', 408.27, 'Toys'),
 (446, 'Product 446', 474.15, 'Books'),
 (447, 'Product 447', 493.14, 'Fashion'),
 (448, 'Product 448', 379.16, 'Books'),
 (449, 'Product 449', 194.37, 'Books'),
 (450, 'Product 450', 50.92, 'Fashion'),
 (451, 'Product 451', 390.8, 'Books'),
 (452, 'Product 452', 283.62, 'Home & Kitchen'),
 (453, 'Product 453', 217.87, 'Home & Kitchen'),
 (454, 'Product 454', 454.11, 'Books'),
 (455, 'Product 455', 64.49, 'Toys'),
 (456, 'Product 456', 251.39, 'Fashion'),
 (457, 'Product 457', 15.56, 'Home & Kitchen'),
 (458, 'Product 458', 239.64, 'Toys'),
 (459, 'Product 459', 37.59, 'Books'),
 (460, 'Product 460', 68.22, 'Toys'),
 (461, 'Product 461', 67.59, 'Electronics'),
 (462, 'Product 462', 328.11, 'Home & Kitchen'),
 (463, 'Product 463', 375.56, 'Books'),
 (464, 'Product 464', 295.85, 'Fashion'),
 (465, 'Product 465', 481.46, 'Books'),
 (466, 'Product 466', 193.69, 'Fashion'),
 (467, 'Product 467', 150.0, 'Books'),
 (468, 'Product 468', 435.61, 'Toys'),
 (469, 'Product 469', 119.56, 'Toys'),
 (470, 'Product 470', 481.98, 'Toys'),
 (471, 'Product 471', 15.96, 'Electronics'),
 (472, 'Product 472', 485.24, 'Fashion'),
 (473, 'Product 473', 31.15, 'Toys'),

# DATA QUERY LANGUAGE (DQL)

In [ ]:
%%sql

SELECT *
FROM products;

 * sqlite:///bonga_ecommerce.db
Done.

[(1, 'Product 1', 193.52, 'Fashion'),
 (2, 'Product 2', 475.85, 'Home & Kitchen'),
 (3, 'Product 3', 368.68, 'Toys'),
 (4, 'Product 4', 303.34, 'Electronics'),
 (5, 'Product 5', 86.45, 'Toys'),
 (6, 'Product 6', 86.44, 'Electronics'),
 (7, 'Product 7', 38.46, 'Books'),
 (8, 'Product 8', 434.43, 'Electronics'),
 (9, 'Product 9', 304.55, 'Fashion'),
 (10, 'Product 10', 356.96, 'Home & Kitchen'),
 (11, 'Product 11', 20.09, 'Books'),
 (12, 'Product 12', 485.26, 'Electronics'),
 (13, 'Product 13', 417.9, 'Toys'),
 (14, 'Product 14', 114.05, 'Books'),
 (15, 'Product 15', 99.09, 'Books'),
 (16, 'Product 16', 99.87, 'Electronics'),
 (17, 'Product 17', 159.08, 'Books'),
 (18, 'Product 18', 267.13, 'Toys'),
 (19, 'Product 19', 221.65, 'Books'),
 (20, 'Product 20', 152.7, 'Toys'),
 (21, 'Product 21', 309.81, 'Electronics'),
 (22, 'Product 22', 78.35, 'Home & Kitchen'),
 (23, 'Product 23', 153.15, 'Books'),
 (24, 'Product 24', 189.52, 'Home & Kitchen'),
 (25, 'Product 25', 233.47, 'Toys'),
 (26, 'Product 26', 394.74, 'Books'),
 (27, 'Product 27', 107.84, 'Fashion'),
 (28, 'Product 28', 261.97, 'Home & Kitchen'),
 (29, 'Product 29', 300.28, 'Books'),
 (30, 'Product 30', 32.76, 'Home & Kitchen'),
 (31, 'Product 31', 307.7, 'Books'),
 (32, 'Product 32', 93.56, 'Electronics'),
 (33, 'Product 33', 41.88, 'Home & Kitchen'),
 (34, 'Product 34', 474.95, 'Fashion'),
 (35, 'Product 35', 483.16, 'Fashion'),
 (36, 'Product 36', 406.11, 'Toys'),
 (37, 'Product 37', 159.26, 'Books'),
 (38, 'Product 38', 57.86, 'Home & Kitchen'),
 (39, 'Product 39', 345.27, 'Toys'),
 (40, 'Product 40', 225.67, 'Home & Kitchen'),
 (41, 'Product 41', 69.8, 'Books'),
 (42, 'Product 42', 252.64, 'Fashion'),
 (43, 'Product 43', 26.85, 'Electronics'),
 (44, 'Product 44', 455.57, 'Fashion'),
 (45, 'Product 45', 136.8, 'Toys'),
 (46, 'Product 46', 334.64, 'Electronics'),
 (47, 'Product 47', 162.74, 'Toys'),
 (48, 'Product 48', 264.83, 'Books'),
 (49, 'Product 49', 277.89, 'Electronics'),
 (50, 'Product 50', 100.58, 'Toys'),
 (51, 'Product 51', 485.1, 'Books'),
 (52, 'Product 52', 389.82, 'Fashion'),
 (53, 'Product 53', 470.35, 'Books'),
 (54, 'Product 54', 448.47, 'Home & Kitchen'),
 (55, 'Product 55', 302.97, 'Books'),
 (56, 'Product 56', 461.72, 'Books'),
 (57, 'Product 57', 53.36, 'Home & Kitchen'),
 (58, 'Product 58', 106.03, 'Toys'),
 (59, 'Product 59', 32.16, 'Toys'),
 (60, 'Product 60', 169.41, 'Books'),
 (61, 'Product 61', 200.45, 'Home & Kitchen'),
 (62, 'Product 62', 142.96, 'Home & Kitchen'),
 (63, 'Product 63', 416.08, 'Fashion'),
 (64, 'Product 64', 184.81, 'Toys'),
 (65, 'Product 65', 147.66, 'Electronics'),
 (66, 'Product 66', 275.92, 'Toys'),
 (67, 'Product 67', 79.05, 'Toys'),
 (68, 'Product 68', 403.08, 'Fashion'),
 (69, 'Product 69', 46.53, 'Electronics'),
 (70, 'Product 70', 493.57, 'Fashion'),
 (71, 'Product 71', 388.4, 'Electronics'),
 (72, 'Product 72', 107.37, 'Books'),
 (73, 'Product 73', 12.71, 'Electronics'),
 (74, 'Product 74', 409.58, 'Fashion'),
 (75, 'Product 75', 356.36, 'Toys'),
 (76, 'Product 76', 367.21, 'Electronics'),
 (77, 'Product 77', 387.92, 'Electronics'),
 (78, 'Product 78', 46.28, 'Home & Kitchen'),
 (79, 'Product 79', 185.65, 'Toys'),
 (80, 'Product 80', 66.78, 'Books'),
 (81, 'Product 81', 432.92, 'Fashion'),
 (82, 'Product 82', 315.42, 'Books'),
 (83, 'Product 83', 172.14, 'Toys'),
 (84, 'Product 84', 41.14, 'Electronics'),
 (85, 'Product 85', 162.38, 'Electronics'),
 (86, 'Product 86', 169.34, 'Toys'),
 (87, 'Product 87', 367.51, 'Electronics'),
 (88, 'Product 88', 322.4, 'Electronics'),
 (89, 'Product 89', 444.73, 'Electronics'),
 (90, 'Product 90', 241.39, 'Fashion'),
 (91, 'Product 91', 68.6, 'Fashion'),
 (92, 'Product 92', 359.49, 'Home & Kitchen'),
 (93, 'Product 93', 382.78, 'Books'),
 (94, 'Product 94', 285.03, 'Toys'),
 (95, 'Product 95', 387.77, 'Toys'),
 (96, 'Product 96', 251.96, 'Toys'),
 (97, 'Product 97', 266.14, 'Home & Kitchen'),
 (98, 'Product 98', 219.5, 'Fashion'),
 (99, 'Product 99', 22.46, 'Home & Kitchen'),
 (100, 'Product 100', 62.87, 'Toys'),
 (101, 'Product 101', 25.4, 'Books'),
 (102, 'Product 102', 321.84, 'Electronics'),
 (103, 'Product 103', 164.03, 'Fashion'),
 (104, 'Product 104', 259.2, 'Fashion'),
 (105, 'Product 105', 454.71, 'Home & Kitchen'),
 (106, 'Product 106', 132.15, 'Fashion'),
 (107, 'Product 107', 211.09, 'Toys'),
 (108, 'Product 108', 380.22, 'Toys'),
 (109, 'Product 109', 122.11, 'Home & Kitchen'),
 (110, 'Product 110', 47.72, 'Toys'),
 (111, 'Product 111', 151.98, 'Books'),
 (112, 'Product 112', 89.0, 'Home & Kitchen'),
 (113, 'Product 113', 465.55, 'Books'),
 (114, 'Product 114', 405.98, 'Electronics'),
 (115, 'Product 115', 320.37, 'Books'),
 (116, 'Product 116', 437.02, 'Electronics'),
 (117, 'Product 117', 403.8, 'Electronics'),
 (118, 'Product 118', 101.42, 'Books'),
 (119, 'Product 119', 447.35, 'Home & Kitchen'),
 (120, 'Product 120', 274.28, 'Toys'),
 (121, 'Product 121', 405.65, 'Toys'),
 (122, 'Product 122', 449.08, 'Electronics'),
 (123, 'Product 123', 165.82, 'Electronics'),
 (124, 'Product 124', 63.93, 'Home & Kitchen'),
 (125, 'Product 125', 121.69, 'Fashion'),
 (126, 'Product 126', 219.28, 'Books'),
 (127, 'Product 127', 410.83, 'Electronics'),
 (128, 'Product 128', 431.76, 'Toys'),
 (129, 'Product 129', 13.41, 'Home & Kitchen'),
 (130, 'Product 130', 260.27, 'Books'),
 (131, 'Product 131', 214.53, 'Home & Kitchen'),
 (132, 'Product 132', 118.83, 'Books'),
 (133, 'Product 133', 68.73, 'Books'),
 (134, 'Product 134', 175.43, 'Electronics'),
 (135, 'Product 135', 472.03, 'Home & Kitchen'),
 (136, 'Product 136', 168.37, 'Home & Kitchen'),
 (137, 'Product 137', 264.21, 'Toys'),
 (138, 'Product 138', 354.48, 'Toys'),
 (139, 'Product 139', 188.18, 'Electronics'),
 (140, 'Product 140', 486.17, 'Electronics'),
 (141, 'Product 141', 481.6, 'Fashion'),
 (142, 'Product 142', 133.37, 'Toys'),
 (143, 'Product 143', 253.65, 'Books'),
 (144, 'Product 144', 157.43, 'Home & Kitchen'),
 (145, 'Product 145', 149.57, 'Electronics'),
 (146, 'Product 146', 28.07, 'Home & Kitchen'),
 (147, 'Product 147', 308.69, 'Home & Kitchen'),
 (148, 'Product 148', 256.31, 'Fashion'),
 (149, 'Product 149', 35.22, 'Toys'),
 (150, 'Product 150', 146.54, 'Electronics'),
 (151, 'Product 151', 455.05, 'Home & Kitchen'),
 (152, 'Product 152', 127.39, 'Electronics'),
 (153, 'Product 153', 81.0, 'Books'),
 (154, 'Product 154', 249.83, 'Fashion'),
 (155, 'Product 155', 492.97, 'Books'),
 (156, 'Product 156', 128.61, 'Electronics'),
 (157, 'Product 157', 339.35, 'Electronics'),
 (158, 'Product 158', 383.19, 'Toys'),
 (159, 'Product 159', 126.44, 'Home & Kitchen'),
 (160, 'Product 160', 366.83, 'Home & Kitchen'),
 (161, 'Product 161', 190.21, 'Books'),
 (162, 'Product 162', 319.83, 'Fashion'),
 (163, 'Product 163', 320.43, 'Home & Kitchen'),
 (164, 'Product 164', 272.53, 'Toys'),
 (165, 'Product 165', 54.24, 'Books'),
 (166, 'Product 166', 419.3, 'Books'),
 (167, 'Product 167', 167.18, 'Toys'),
 (168, 'Product 168', 101.39, 'Fashion'),
 (169, 'Product 169', 29.98, 'Toys'),
 (170, 'Product 170', 299.54, 'Fashion'),
 (171, 'Product 171', 342.01, 'Toys'),
 (172, 'Product 172', 18.13, 'Toys'),
 (173, 'Product 173', 260.93, 'Electronics'),
 (174, 'Product 174', 120.98, 'Books'),
 (175, 'Product 175', 326.13, 'Toys'),
 (176, 'Product 176', 95.44, 'Toys'),
 (177, 'Product 177', 348.56, 'Home & Kitchen'),
 (178, 'Product 178', 199.5, 'Books'),
 (179, 'Product 179', 469.0, 'Home & Kitchen'),
 (180, 'Product 180', 77.39, 'Books'),
 (181, 'Product 181', 177.12, 'Home & Kitchen'),
 (182, 'Product 182', 65.6, 'Toys'),
 (183, 'Product 183', 463.1, 'Toys'),
 (184, 'Product 184', 439.9, 'Electronics'),
 (185, 'Product 185', 136.39, 'Home & Kitchen'),
 (186, 'Product 186', 333.39, 'Fashion'),
 (187, 'Product 187', 410.44, 'Electronics'),
 (188, 'Product 188', 282.05, 'Home & Kitchen'),
 (189, 'Product 189', 269.53, 'Home & Kitchen'),
 (190, 'Product 190', 128.51, 'Electronics'),
 (191, 'Product 191', 55.62, 'Toys'),
 (192, 'Product 192', 449.64, 'Home & Kitchen'),
 (193, 'Product 193', 451.2, 'Toys'),
 (194, 'Product 194', 320.22, 'Electronics'),
 (195, 'Product 195', 176.12, 'Toys'),
 (196, 'Product 196', 181.11, 'Books'),
 (197, 'Product 197', 365.72, 'Fashion'),
 (198, 'Product 198', 449.58, 'Home & Kitchen'),
 (199, 'Product 199', 444.67, 'Fashion'),
 (200, 'Product 200', 392.14, 'Toys'),
 (201, 'Product 201', 324.6, 'Home & Kitchen'),
 (202, 'Product 202', 51.23, 'Toys'),
 (203, 'Product 203', 89.2, 'Books'),
 (204, 'Product 204', 450.29, 'Electronics'),
 (205, 'Product 205', 307.15, 'Home & Kitchen'),
 (206, 'Product 206', 14.51, 'Books'),
 (207, 'Product 207', 59.72, 'Books'),
 (208, 'Product 208', 335.12, 'Home & Kitchen'),
 (209, 'Product 209', 12.48, 'Toys'),
 (210, 'Product 210', 88.8, 'Books'),
 (211, 'Product 211', 278.88, 'Fashion'),
 (212, 'Product 212', 349.03, 'Books'),
 (213, 'Product 213', 329.46, 'Toys'),
 (214, 'Product 214', 119.89, 'Toys'),
 (215, 'Product 215', 358.97, 'Fashion'),
 (216, 'Product 216', 126.25, 'Books'),
 (217, 'Product 217', 169.45, 'Toys'),
 (218, 'Product 218', 375.78, 'Home & Kitchen'),
 (219, 'Product 219', 328.32, 'Electronics'),
 (220, 'Product 220', 426.12, 'Electronics'),
 (221, 'Product 221', 332.23, 'Electronics'),
 (222, 'Product 222', 288.47, 'Books'),
 (223, 'Product 223', 55.9, 'Fashion'),
 (224, 'Product 224', 190.18, 'Toys'),
 (225, 'Product 225', 139.95, 'Home & Kitchen'),
 (226, 'Product 226', 129.55, 'Home & Kitchen'),
 (227, 'Product 227', 486.78, 'Books'),
 (228, 'Product 228', 202.62, 'Electronics'),
 (229, 'Product 229', 447.1, 'Books'),
 (230, 'Product 230', 319.26, 'Fashion'),
 (231, 'Product 231', 399.46, 'Fashion'),
 (232, 'Product 232', 256.29, 'Toys'),
 (233, 'Product 233', 292.68, 'Toys'),
 (234, 'Product 234', 251.33, 'Fashion'),
 (235, 'Product 235', 105.67, 'Fashion'),
 (236, 'Product 236', 364.0, 'Fashion'),
 (237, 'Product 237', 147.58, 'Books'),
 (238, 'Product 238', 21.91, 'Fashion'),
 (239, 'Product 239', 326.28, 'Home & Kitchen'),
 (240, 'Product 240', 96.78, 'Electronics'),
 (241, 'Product 241', 470.82, 'Fashion'),
 (242, 'Product 242', 477.43, 'Electronics'),
 (243, 'Product 243', 458.28, 'Books'),
 (244, 'Product 244', 191.38, 'Electronics'),
 (245, 'Product 245', 17.57, 'Books'),
 (246, 'Product 246', 464.88, 'Home & Kitchen'),
 (247, 'Product 247', 219.81, 'Books'),
 (248, 'Product 248', 483.66, 'Books'),
 (249, 'Product 249', 482.17, 'Toys'),
 (250, 'Product 250', 427.97, 'Fashion'),
 (251, 'Product 251', 154.28, 'Fashion'),
 (252, 'Product 252', 198.7, 'Home & Kitchen'),
 (253, 'Product 253', 427.06, 'Home & Kitchen'),
 (254, 'Product 254', 165.29, 'Fashion'),
 (255, 'Product 255', 93.05, 'Toys'),
 (256, 'Product 256', 282.83, 'Fashion'),
 (257, 'Product 257', 468.72, 'Toys'),
 (258, 'Product 258', 351.05, 'Home & Kitchen'),
 (259, 'Product 259', 289.33, 'Electronics'),
 (260, 'Product 260', 57.62, 'Home & Kitchen'),
 (261, 'Product 261', 311.35, 'Home & Kitchen'),
 (262, 'Product 262', 495.13, 'Books'),
 (263, 'Product 263', 78.64, 'Books'),
 (264, 'Product 264', 263.98, 'Books'),
 (265, 'Product 265', 439.91, 'Books'),
 (266, 'Product 266', 372.98, 'Toys'),
 (267, 'Product 267', 351.54, 'Fashion'),
 (268, 'Product 268', 354.22, 'Electronics'),
 (269, 'Product 269', 186.15, 'Home & Kitchen'),
 (270, 'Product 270', 153.86, 'Toys'),
 (271, 'Product 271', 406.59, 'Electronics'),
 (272, 'Product 272', 406.96, 'Toys'),
 (273, 'Product 273', 434.87, 'Toys'),
 (274, 'Product 274', 457.49, 'Home & Kitchen'),
 (275, 'Product 275', 260.56, 'Fashion'),
 (276, 'Product 276', 255.74, 'Books'),
 (277, 'Product 277', 401.16, 'Fashion'),
 (278, 'Product 278', 328.48, 'Home & Kitchen'),
 (279, 'Product 279', 353.96, 'Home & Kitchen'),
 (280, 'Product 280', 399.94, 'Home & Kitchen'),
 (281, 'Product 281', 446.1, 'Electronics'),
 (282, 'Product 282', 175.62, 'Fashion'),
 (283, 'Product 283', 194.04, 'Fashion'),
 (284, 'Product 284', 56.05, 'Toys'),
 (285, 'Product 285', 293.36, 'Toys'),
 (286, 'Product 286', 27.61, 'Toys'),
 (287, 'Product 287', 238.14, 'Home & Kitchen'),
 (288, 'Product 288', 275.9, 'Fashion'),
 (289, 'Product 289', 150.41, 'Home & Kitchen'),
 (290, 'Product 290', 299.51, 'Electronics'),
 (291, 'Product 291', 24.95, 'Toys'),
 (292, 'Product 292', 28.3, 'Home & Kitchen'),
 (293, 'Product 293', 413.07, 'Home & Kitchen'),
 (294, 'Product 294', 186.49, 'Electronics'),
 (295, 'Product 295', 72.26, 'Books'),
 (296, 'Product 296', 265.9, 'Fashion'),
 (297, 'Product 297', 387.3, 'Books'),
 (298, 'Product 298', 115.75, 'Toys'),
 (299, 'Product 299', 315.22, 'Home & Kitchen'),
 (300, 'Product 300', 51.82, 'Electronics'),
 (301, 'Product 301', 35.32, 'Electronics'),
 (302, 'Product 302', 270.36, 'Fashion'),
 (303, 'Product 303', 274.91, 'Books'),
 (304, 'Product 304', 322.34, 'Fashion'),
 (305, 'Product 305', 365.78, 'Home & Kitchen'),
 (306, 'Product 306', 488.17, 'Fashion'),
 (307, 'Product 307', 262.99, 'Electronics'),
 (308, 'Product 308', 168.25, 'Electronics'),
 (309, 'Product 309', 399.64, 'Toys'),
 (310, 'Product 310', 142.71, 'Toys'),
 (311, 'Product 311', 225.1, 'Home & Kitchen'),
 (312, 'Product 312', 48.44, 'Books'),
 (313, 'Product 313', 22.42, 'Fashion'),
 (314, 'Product 314', 481.7, 'Home & Kitchen'),
 (315, 'Product 315', 419.63, 'Toys'),
 (316, 'Product 316', 351.03, 'Fashion'),
 (317, 'Product 317', 210.39, 'Toys'),
 (318, 'Product 318', 94.91, 'Fashion'),
 (319, 'Product 319', 86.65, 'Books'),
 (320, 'Product 320', 132.62, 'Home & Kitchen'),
 (321, 'Product 321', 279.12, 'Fashion'),
 (322, 'Product 322', 360.15, 'Electronics'),
 (323, 'Product 323', 333.5, 'Electronics'),
 (324, 'Product 324', 147.17, 'Fashion'),
 (325, 'Product 325', 477.88, 'Fashion'),
 (326, 'Product 326', 371.57, 'Fashion'),
 (327, 'Product 327', 281.63, 'Electronics'),
 (328, 'Product 328', 309.74, 'Electronics'),
 (329, 'Product 329', 215.6, 'Fashion'),
 (330, 'Product 330', 131.39, 'Toys'),
 (331, 'Product 331', 184.43, 'Toys'),
 (332, 'Product 332', 381.34, 'Books'),
 (333, 'Product 333', 17.05, 'Home & Kitchen'),
 (334, 'Product 334', 66.88, 'Toys'),
 (335, 'Product 335', 32.54, 'Electronics'),
 (336, 'Product 336', 29.96, 'Toys'),
 (337, 'Product 337', 429.18, 'Books'),
 (338, 'Product 338', 354.79, 'Books'),
 (339, 'Product 339', 242.35, 'Home & Kitchen'),
 (340, 'Product 340', 57.94, 'Toys'),
 (341, 'Product 341', 250.89, 'Electronics'),
 (342, 'Product 342', 242.0, 'Electronics'),
 (343, 'Product 343', 94.87, 'Fashion'),
 (344, 'Product 344', 222.59, 'Electronics'),
 (345, 'Product 345', 205.27, 'Home & Kitchen'),
 (346, 'Product 346', 311.77, 'Home & Kitchen'),
 (347, 'Product 347', 321.2, 'Electronics'),
 (348, 'Product 348', 32.2, 'Electronics'),
 (349, 'Product 349', 193.56, 'Fashion'),
 (350, 'Product 350', 316.67, 'Electronics'),
 (351, 'Product 351', 256.54, 'Fashion'),
 (352, 'Product 352', 429.68, 'Fashion'),
 (353, 'Product 353', 332.76, 'Electronics'),
 (354, 'Product 354', 89.84, 'Books'),
 (355, 'Product 355', 44.58, 'Books'),
 (356, 'Product 356', 324.79, 'Fashion'),
 (357, 'Product 357', 22.99, 'Electronics'),
 (358, 'Product 358', 297.03, 'Books'),
 (359, 'Product 359', 470.71, 'Electronics'),
 (360, 'Product 360', 291.98, 'Electronics'),
 (361, 'Product 361', 200.2, 'Electronics'),
 (362, 'Product 362', 325.21, 'Toys'),
 (363, 'Product 363', 234.54, 'Electronics'),
 (364, 'Product 364', 277.35, 'Toys'),
 (365, 'Product 365', 471.32, 'Fashion'),
 (366, 'Product 366', 199.19, 'Books'),
 (367, 'Product 367', 480.98, 'Books'),
 (368, 'Product 368', 453.62, 'Books'),
 (369, 'Product 369', 105.94, 'Books'),
 (370, 'Product 370', 43.99, 'Books'),
 (371, 'Product 371', 59.38, 'Books'),
 (372, 'Product 372', 18.93, 'Books'),
 (373, 'Product 373', 56.28, 'Fashion'),
 (374, 'Product 374', 344.67, 'Electronics'),
 (375, 'Product 375', 44.88, 'Home & Kitchen'),
 (376, 'Product 376', 166.3, 'Toys'),
 (377, 'Product 377', 423.99, 'Home & Kitchen'),
 (378, 'Product 378', 21.4, 'Home & Kitchen'),
 (379, 'Product 379', 409.09, 'Electronics'),
 (380, 'Product 380', 148.11, 'Electronics'),
 (381, 'Product 381', 67.9, 'Electronics'),
 (382, 'Product 382', 351.4, 'Books'),
 (383, 'Product 383', 318.18, 'Fashion'),
 (384, 'Product 384', 439.96, 'Books'),
 (385, 'Product 385', 370.18, 'Fashion'),
 (386, 'Product 386', 403.71, 'Fashion'),
 (387, 'Product 387', 148.2, 'Home & Kitchen'),
 (388, 'Product 388', 96.95, 'Home & Kitchen'),
 (389, 'Product 389', 377.8, 'Fashion'),
 (390, 'Product 390', 405.35, 'Fashion'),
 (391, 'Product 391', 495.35, 'Books'),
 (392, 'Product 392', 212.18, 'Books'),
 (393, 'Product 393', 192.29, 'Home & Kitchen'),
 (394, 'Product 394', 390.44, 'Electronics'),
 (395, 'Product 395', 176.99, 'Fashion'),
 (396, 'Product 396', 466.07, 'Books'),
 (397, 'Product 397', 430.62, 'Home & Kitchen'),
 (398, 'Product 398', 220.21, 'Books'),
 (399, 'Product 399', 377.93, 'Fashion'),
 (400, 'Product 400', 379.73, 'Fashion'),
 (401, 'Product 401', 60.53, 'Toys'),
 (402, 'Product 402', 452.25, 'Electronics'),
 (403, 'Product 403', 257.57, 'Toys'),
 (404, 'Product 404', 414.96, 'Home & Kitchen'),
 (405, 'Product 405', 166.82, 'Books'),
 (406, 'Product 406', 448.81, 'Home & Kitchen'),
 (407, 'Product 407', 200.71, 'Fashion'),
 (408, 'Product 408', 15.31, 'Toys'),
 (409, 'Product 409', 453.64, 'Toys'),
 (410, 'Product 410', 54.73, 'Toys'),
 (411, 'Product 411', 166.46, 'Home & Kitchen'),
 (412, 'Product 412', 475.53, 'Fashion'),
 (413, 'Product 413', 475.8, 'Books'),
 (414, 'Product 414', 290.98, 'Books'),
 (415, 'Product 415', 319.6, 'Home & Kitchen'),
 (416, 'Product 416', 229.74, 'Toys'),
 (417, 'Product 417', 153.67, 'Electronics'),
 (418, 'Product 418', 171.05, 'Home & Kitchen'),
 (419, 'Product 419', 339.53, 'Home & Kitchen'),
 (420, 'Product 420', 378.66, 'Fashion'),
 (421, 'Product 421', 397.87, 'Books'),
 (422, 'Product 422', 396.91, 'Home & Kitchen'),
 (423, 'Product 423', 54.69, 'Home & Kitchen'),
 (424, 'Product 424', 252.27, 'Toys'),
 (425, 'Product 425', 38.2, 'Toys'),
 (426, 'Product 426', 279.27, 'Electronics'),
 (427, 'Product 427', 226.35, 'Fashion'),
 (428, 'Product 428', 444.98, 'Electronics'),
 (429, 'Product 429', 181.95, 'Toys'),
 (430, 'Product 430', 67.36, 'Books'),
 (431, 'Product 431', 80.07, 'Toys'),
 (432, 'Product 432', 383.14, 'Fashion'),
 (433, 'Product 433', 312.93, 'Toys'),
 (434, 'Product 434', 59.55, 'Fashion'),
 (435, 'Product 435', 51.21, 'Fashion'),
 (436, 'Product 436', 353.47, 'Fashion'),
 (437, 'Product 437', 45.65, 'Fashion'),
 (438, 'Product 438', 412.71, 'Fashion'),
 (439, 'Product 439', 356.06, 'Books'),
 (440, 'Product 440', 49.86, 'Electronics'),
 (441, 'Product 441', 51.57, 'Home & Kitchen'),
 (442, 'Product 442', 493.45, 'Electronics'),
 (443, 'Product 443', 193.39, 'Fashion'),
 (444, 'Product 444', 191.61, 'Books'),
 (445, 'Product 445', 408.27, 'Toys'),
 (446, 'Product 446', 474.15, 'Books'),
 (447, 'Product 447', 493.14, 'Fashion'),
 (448, 'Product 448', 379.16, 'Books'),
 (449, 'Product 449', 194.37, 'Books'),
 (450, 'Product 450', 50.92, 'Fashion'),
 (451, 'Product 451', 390.8, 'Books'),
 (452, 'Product 452', 283.62, 'Home & Kitchen'),
 (453, 'Product 453', 217.87, 'Home & Kitchen'),
 (454, 'Product 454', 454.11, 'Books'),
 (455, 'Product 455', 64.49, 'Toys'),
 (456, 'Product 456', 251.39, 'Fashion'),
 (457, 'Product 457', 15.56, 'Home & Kitchen'),
 (458, 'Product 458', 239.64, 'Toys'),
 (459, 'Product 459', 37.59, 'Books'),
 (460, 'Product 460', 68.22, 'Toys'),
 (461, 'Product 461', 67.59, 'Electronics'),
 (462, 'Product 462', 328.11, 'Home & Kitchen'),
 (463, 'Product 463', 375.56, 'Books'),
 (464, 'Product 464', 295.85, 'Fashion'),
 (465, 'Product 465', 481.46, 'Books'),
 (466, 'Product 466', 193.69, 'Fashion'),
 (467, 'Product 467', 150.0, 'Books'),
 (468, 'Product 468', 435.61, 'Toys'),
 (469, 'Product 469', 119.56, 'Toys'),
 (470, 'Product 470', 481.98, 'Toys'),
 (471, 'Product 471', 15.96, 'Electronics'),
 (472, 'Product 472', 485.24, 'Fashion'),
 (473, 'Product 473', 31.15, 'Toys'),

In [ ]:
%%sql

SELECT *
FROM products
LIMIT 100;

 * sqlite:///bonga_ecommerce.db
Done.

[(1, 'Product 1', 193.52, 'Fashion'),
 (2, 'Product 2', 475.85, 'Home & Kitchen'),
 (3, 'Product 3', 368.68, 'Toys'),
 (4, 'Product 4', 303.34, 'Electronics'),
 (5, 'Product 5', 86.45, 'Toys'),
 (6, 'Product 6', 86.44, 'Electronics'),
 (7, 'Product 7', 38.46, 'Books'),
 (8, 'Product 8', 434.43, 'Electronics'),
 (9, 'Product 9', 304.55, 'Fashion'),
 (10, 'Product 10', 356.96, 'Home & Kitchen'),
 (11, 'Product 11', 20.09, 'Books'),
 (12, 'Product 12', 485.26, 'Electronics'),
 (13, 'Product 13', 417.9, 'Toys'),
 (14, 'Product 14', 114.05, 'Books'),
 (15, 'Product 15', 99.09, 'Books'),
 (16, 'Product 16', 99.87, 'Electronics'),
 (17, 'Product 17', 159.08, 'Books'),
 (18, 'Product 18', 267.13, 'Toys'),
 (19, 'Product 19', 221.65, 'Books'),
 (20, 'Product 20', 152.7, 'Toys'),
 (21, 'Product 21', 309.81, 'Electronics'),
 (22, 'Product 22', 78.35, 'Home & Kitchen'),
 (23, 'Product 23', 153.15, 'Books'),
 (24, 'Product 24', 189.52, 'Home & Kitchen'),
 (25, 'Product 25', 233.47, 'Toys'),
 (26, 'Product 26', 394.74, 'Books'),
 (27, 'Product 27', 107.84, 'Fashion'),
 (28, 'Product 28', 261.97, 'Home & Kitchen'),
 (29, 'Product 29', 300.28, 'Books'),
 (30, 'Product 30', 32.76, 'Home & Kitchen'),
 (31, 'Product 31', 307.7, 'Books'),
 (32, 'Product 32', 93.56, 'Electronics'),
 (33, 'Product 33', 41.88, 'Home & Kitchen'),
 (34, 'Product 34', 474.95, 'Fashion'),
 (35, 'Product 35', 483.16, 'Fashion'),
 (36, 'Product 36', 406.11, 'Toys'),
 (37, 'Product 37', 159.26, 'Books'),
 (38, 'Product 38', 57.86, 'Home & Kitchen'),
 (39, 'Product 39', 345.27, 'Toys'),
 (40, 'Product 40', 225.67, 'Home & Kitchen'),
 (41, 'Product 41', 69.8, 'Books'),
 (42, 'Product 42', 252.64, 'Fashion'),
 (43, 'Product 43', 26.85, 'Electronics'),
 (44, 'Product 44', 455.57, 'Fashion'),
 (45, 'Product 45', 136.8, 'Toys'),
 (46, 'Product 46', 334.64, 'Electronics'),
 (47, 'Product 47', 162.74, 'Toys'),
 (48, 'Product 48', 264.83, 'Books'),
 (49, 'Product 49', 277.89, 'Electronics'),
 (50, 'Product 50', 100.58, 'Toys'),
 (51, 'Product 51', 485.1, 'Books'),
 (52, 'Product 52', 389.82, 'Fashion'),
 (53, 'Product 53', 470.35, 'Books'),
 (54, 'Product 54', 448.47, 'Home & Kitchen'),
 (55, 'Product 55', 302.97, 'Books'),
 (56, 'Product 56', 461.72, 'Books'),
 (57, 'Product 57', 53.36, 'Home & Kitchen'),
 (58, 'Product 58', 106.03, 'Toys'),
 (59, 'Product 59', 32.16, 'Toys'),
 (60, 'Product 60', 169.41, 'Books'),
 (61, 'Product 61', 200.45, 'Home & Kitchen'),
 (62, 'Product 62', 142.96, 'Home & Kitchen'),
 (63, 'Product 63', 416.08, 'Fashion'),
 (64, 'Product 64', 184.81, 'Toys'),
 (65, 'Product 65', 147.66, 'Electronics'),
 (66, 'Product 66', 275.92, 'Toys'),
 (67, 'Product 67', 79.05, 'Toys'),
 (68, 'Product 68', 403.08, 'Fashion'),
 (69, 'Product 69', 46.53, 'Electronics'),
 (70, 'Product 70', 493.57, 'Fashion'),
 (71, 'Product 71', 388.4, 'Electronics'),
 (72, 'Product 72', 107.37, 'Books'),
 (73, 'Product 73', 12.71, 'Electronics'),
 (74, 'Product 74', 409.58, 'Fashion'),
 (75, 'Product 75', 356.36, 'Toys'),
 (76, 'Product 76', 367.21, 'Electronics'),
 (77, 'Product 77', 387.92, 'Electronics'),
 (78, 'Product 78', 46.28, 'Home & Kitchen'),
 (79, 'Product 79', 185.65, 'Toys'),
 (80, 'Product 80', 66.78, 'Books'),
 (81, 'Product 81', 432.92, 'Fashion'),
 (82, 'Product 82', 315.42, 'Books'),
 (83, 'Product 83', 172.14, 'Toys'),
 (84, 'Product 84', 41.14, 'Electronics'),
 (85, 'Product 85', 162.38, 'Electronics'),
 (86, 'Product 86', 169.34, 'Toys'),
 (87, 'Product 87', 367.51, 'Electronics'),
 (88, 'Product 88', 322.4, 'Electronics'),
 (89, 'Product 89', 444.73, 'Electronics'),
 (90, 'Product 90', 241.39, 'Fashion'),
 (91, 'Product 91', 68.6, 'Fashion'),
 (92, 'Product 92', 359.49, 'Home & Kitchen'),
 (93, 'Product 93', 382.78, 'Books'),
 (94, 'Product 94', 285.03, 'Toys'),
 (95, 'Product 95', 387.77, 'Toys'),
 (96, 'Product 96', 251.96, 'Toys'),
 (97, 'Product 97', 266.14, 'Home & Kitchen'),
 (98, 'Product 98', 219.5, 'Fashion'),
 (99, 'Product 99', 22.46, 'Home & Kitchen'),
 (100, 'Product 100', 62.87, 'Toys')]

In [ ]:
%%sql

SELECT *
FROM products
LIMIT 30;

 * sqlite:///bonga_ecommerce.db
Done.

[(1, 'Product 1', 193.52, 'Fashion'),
 (2, 'Product 2', 475.85, 'Home & Kitchen'),
 (3, 'Product 3', 368.68, 'Toys'),
 (4, 'Product 4', 303.34, 'Electronics'),
 (5, 'Product 5', 86.45, 'Toys'),
 (6, 'Product 6', 86.44, 'Electronics'),
 (7, 'Product 7', 38.46, 'Books'),
 (8, 'Product 8', 434.43, 'Electronics'),
 (9, 'Product 9', 304.55, 'Fashion'),
 (10, 'Product 10', 356.96, 'Home & Kitchen'),
 (11, 'Product 11', 20.09, 'Books'),
 (12, 'Product 12', 485.26, 'Electronics'),
 (13, 'Product 13', 417.9, 'Toys'),
 (14, 'Product 14', 114.05, 'Books'),
 (15, 'Product 15', 99.09, 'Books'),
 (16, 'Product 16', 99.87, 'Electronics'),
 (17, 'Product 17', 159.08, 'Books'),
 (18, 'Product 18', 267.13, 'Toys'),
 (19, 'Product 19', 221.65, 'Books'),
 (20, 'Product 20', 152.7, 'Toys'),
 (21, 'Product 21', 309.81, 'Electronics'),
 (22, 'Product 22', 78.35, 'Home & Kitchen'),
 (23, 'Product 23', 153.15, 'Books'),
 (24, 'Product 24', 189.52, 'Home & Kitchen'),
 (25, 'Product 25', 233.47, 'Toys'),
 (26, 'Product 26', 394.74, 'Books'),
 (27, 'Product 27', 107.84, 'Fashion'),
 (28, 'Product 28', 261.97, 'Home & Kitchen'),
 (29, 'Product 29', 300.28, 'Books'),
 (30, 'Product 30', 32.76, 'Home & Kitchen')]

In [ ]:
%%sql

SELECT product_id, name
FROM products
LIMIT 100;

 * sqlite:///bonga_ecommerce.db
Done.

[(1, 'Product 1'),
 (2, 'Product 2'),
 (3, 'Product 3'),
 (4, 'Product 4'),
 (5, 'Product 5'),
 (6, 'Product 6'),
 (7, 'Product 7'),
 (8, 'Product 8'),
 (9, 'Product 9'),
 (10, 'Product 10'),
 (11, 'Product 11'),
 (12, 'Product 12'),
 (13, 'Product 13'),
 (14, 'Product 14'),
 (15, 'Product 15'),
 (16, 'Product 16'),
 (17, 'Product 17'),
 (18, 'Product 18'),
 (19, 'Product 19'),
 (20, 'Product 20'),
 (21, 'Product 21'),
 (22, 'Product 22'),
 (23, 'Product 23'),
 (24, 'Product 24'),
 (25, 'Product 25'),
 (26, 'Product 26'),
 (27, 'Product 27'),
 (28, 'Product 28'),
 (29, 'Product 29'),
 (30, 'Product 30'),
 (31, 'Product 31'),
 (32, 'Product 32'),
 (33, 'Product 33'),
 (34, 'Product 34'),
 (35, 'Product 35'),
 (36, 'Product 36'),
 (37, 'Product 37'),
 (38, 'Product 38'),
 (39, 'Product 39'),
 (40, 'Product 40'),
 (41, 'Product 41'),
 (42, 'Product 42'),
 (43, 'Product 43'),
 (44, 'Product 44'),
 (45, 'Product 45'),
 (46, 'Product 46'),
 (47, 'Product 47'),
 (48, 'Product 48'),
 (49, 'Product 49'),
 (50, 'Product 50'),
 (51, 'Product 51'),
 (52, 'Product 52'),
 (53, 'Product 53'),
 (54, 'Product 54'),
 (55, 'Product 55'),
 (56, 'Product 56'),
 (57, 'Product 57'),
 (58, 'Product 58'),
 (59, 'Product 59'),
 (60, 'Product 60'),
 (61, 'Product 61'),
 (62, 'Product 62'),
 (63, 'Product 63'),
 (64, 'Product 64'),
 (65, 'Product 65'),
 (66, 'Product 66'),
 (67, 'Product 67'),
 (68, 'Product 68'),
 (69, 'Product 69'),
 (70, 'Product 70'),
 (71, 'Product 71'),
 (72, 'Product 72'),
 (73, 'Product 73'),
 (74, 'Product 74'),
 (75, 'Product 75'),
 (76, 'Product 76'),
 (77, 'Product 77'),
 (78, 'Product 78'),
 (79, 'Product 79'),
 (80, 'Product 80'),
 (81, 'Product 81'),
 (82, 'Product 82'),
 (83, 'Product 83'),
 (84, 'Product 84'),
 (85, 'Product 85'),
 (86, 'Product 86'),
 (87, 'Product 87'),
 (88, 'Product 88'),
 (89, 'Product 89'),
 (90, 'Product 90'),
 (91, 'Product 91'),
 (92, 'Product 92'),
 (93, 'Product 93'),
 (94, 'Product 94'),
 (95, 'Product 95'),
 (96, 'Product 96'),
 (97, 'Product 97'),
 (98, 'Product 98'),
 (99, 'Product 99'),
 (100, 'Product 100')]

In [ ]:
%%sql

SELECT product_id as 'ID', name as 'Product_Title'
FROM products
LIMIT 100;

 * sqlite:///bonga_ecommerce.db
Done.

[(1, 'Product 1'),
 (2, 'Product 2'),
 (3, 'Product 3'),
 (4, 'Product 4'),
 (5, 'Product 5'),
 (6, 'Product 6'),
 (7, 'Product 7'),
 (8, 'Product 8'),
 (9, 'Product 9'),
 (10, 'Product 10'),
 (11, 'Product 11'),
 (12, 'Product 12'),
 (13, 'Product 13'),
 (14, 'Product 14'),
 (15, 'Product 15'),
 (16, 'Product 16'),
 (17, 'Product 17'),
 (18, 'Product 18'),
 (19, 'Product 19'),
 (20, 'Product 20'),
 (21, 'Product 21'),
 (22, 'Product 22'),
 (23, 'Product 23'),
 (24, 'Product 24'),
 (25, 'Product 25'),
 (26, 'Product 26'),
 (27, 'Product 27'),
 (28, 'Product 28'),
 (29, 'Product 29'),
 (30, 'Product 30'),
 (31, 'Product 31'),
 (32, 'Product 32'),
 (33, 'Product 33'),
 (34, 'Product 34'),
 (35, 'Product 35'),
 (36, 'Product 36'),
 (37, 'Product 37'),
 (38, 'Product 38'),
 (39, 'Product 39'),
 (40, 'Product 40'),
 (41, 'Product 41'),
 (42, 'Product 42'),
 (43, 'Product 43'),
 (44, 'Product 44'),
 (45, 'Product 45'),
 (46, 'Product 46'),
 (47, 'Product 47'),
 (48, 'Product 48'),
 (49, 'Product 49'),
 (50, 'Product 50'),
 (51, 'Product 51'),
 (52, 'Product 52'),
 (53, 'Product 53'),
 (54, 'Product 54'),
 (55, 'Product 55'),
 (56, 'Product 56'),
 (57, 'Product 57'),
 (58, 'Product 58'),
 (59, 'Product 59'),
 (60, 'Product 60'),
 (61, 'Product 61'),
 (62, 'Product 62'),
 (63, 'Product 63'),
 (64, 'Product 64'),
 (65, 'Product 65'),
 (66, 'Product 66'),
 (67, 'Product 67'),
 (68, 'Product 68'),
 (69, 'Product 69'),
 (70, 'Product 70'),
 (71, 'Product 71'),
 (72, 'Product 72'),
 (73, 'Product 73'),
 (74, 'Product 74'),
 (75, 'Product 75'),
 (76, 'Product 76'),
 (77, 'Product 77'),
 (78, 'Product 78'),
 (79, 'Product 79'),
 (80, 'Product 80'),
 (81, 'Product 81'),
 (82, 'Product 82'),
 (83, 'Product 83'),
 (84, 'Product 84'),
 (85, 'Product 85'),
 (86, 'Product 86'),
 (87, 'Product 87'),
 (88, 'Product 88'),
 (89, 'Product 89'),
 (90, 'Product 90'),
 (91, 'Product 91'),
 (92, 'Product 92'),
 (93, 'Product 93'),
 (94, 'Product 94'),
 (95, 'Product 95'),
 (96, 'Product 96'),
 (97, 'Product 97'),
 (98, 'Product 98'),
 (99, 'Product 99'),
 (100, 'Product 100')]

# LIKE  OPERATOR

In [ ]:
%%sql

SELECT *
FROM customers
WHERE email LIKE '%@gmail.com'

 * sqlite:///bonga_ecommerce.db
Done.

[(2, 'Jane Doe', 'Customer2@gmail.com'),
 (3, 'Customer3', 'Customer3@gmail.com'),
 (6, 'Customer6', 'Customer6@gmail.com'),
 (7, 'Customer7', 'Customer7@gmail.com'),
 (8, 'Customer8', 'Customer8@gmail.com'),
 (10, 'Customer10', 'Customer10@gmail.com'),
 (14, 'Customer14', 'Customer14@gmail.com'),
 (17, 'Customer17', 'Customer17@gmail.com'),
 (18, 'Customer18', 'Customer18@gmail.com'),
 (19, 'Customer19', 'Customer19@gmail.com'),
 (20, 'Customer20', 'Customer20@gmail.com'),
 (21, 'Customer21', 'Customer21@gmail.com'),
 (24, 'Customer24', 'Customer24@gmail.com'),
 (26, 'Customer26', 'Customer26@gmail.com'),
 (32, 'Customer32', 'Customer32@gmail.com'),
 (36, 'Customer36', 'Customer36@gmail.com'),
 (37, 'Customer37', 'Customer37@gmail.com'),
 (42, 'Customer42', 'Customer42@gmail.com'),
 (43, 'Customer43', 'Customer43@gmail.com'),
 (45, 'Customer45', 'Customer45@gmail.com'),
 (46, 'Customer46', 'Customer46@gmail.com'),
 (48, 'Customer48', 'Customer48@gmail.com'),
 (53, 'Customer53', 'Customer53@gmail.com'),
 (57, 'Customer57', 'Customer57@gmail.com'),
 (59, 'Customer59', 'Customer59@gmail.com'),
 (66, 'Customer66', 'Customer66@gmail.com'),
 (68, 'Customer68', 'Customer68@gmail.com'),
 (69, 'Customer69', 'Customer69@gmail.com'),
 (71, 'Customer71', 'Customer71@gmail.com'),
 (73, 'Customer73', 'Customer73@gmail.com'),
 (74, 'Customer74', 'Customer74@gmail.com'),
 (75, 'Customer75', 'Customer75@gmail.com'),
 (81, 'Customer81', 'Customer81@gmail.com'),
 (84, 'Customer84', 'Customer84@gmail.com'),
 (90, 'Customer90', 'Customer90@gmail.com'),
 (93, 'Customer93', 'Customer93@gmail.com'),
 (96, 'Customer96', 'Customer96@gmail.com'),
 (97, 'Customer97', 'Customer97@gmail.com'),
 (104, 'Customer104', 'Customer104@gmail.com'),
 (107, 'Customer107', 'Customer107@gmail.com'),
 (108, 'Customer108', 'Customer108@gmail.com'),
 (109, 'Customer109', 'Customer109@gmail.com'),
 (113, 'Customer113', 'Customer113@gmail.com'),
 (114, 'Customer114', 'Customer114@gmail.com'),
 (118, 'Customer118', 'Customer118@gmail.com'),
 (124, 'Customer124', 'Customer124@gmail.com'),
 (126, 'Customer126', 'Customer126@gmail.com'),
 (127, 'Customer127', 'Customer127@gmail.com'),
 (138, 'Customer138', 'Customer138@gmail.com'),
 (139, 'Customer139', 'Customer139@gmail.com'),
 (142, 'Customer142', 'Customer142@gmail.com'),
 (143, 'Customer143', 'Customer143@gmail.com'),
 (144, 'Customer144', 'Customer144@gmail.com'),
 (145, 'Customer145', 'Customer145@gmail.com'),
 (147, 'Customer147', 'Customer147@gmail.com'),
 (151, 'Customer151', 'Customer151@gmail.com'),
 (159, 'Customer159', 'Customer159@gmail.com'),
 (162, 'Customer162', 'Customer162@gmail.com'),
 (168, 'Customer168', 'Customer168@gmail.com'),
 (171, 'Customer171', 'Customer171@gmail.com'),
 (173, 'Customer173', 'Customer173@gmail.com'),
 (178, 'Customer178', 'Customer178@gmail.com'),
 (180, 'Customer180', 'Customer180@gmail.com'),
 (186, 'Customer186', 'Customer186@gmail.com'),
 (187, 'Customer187', 'Customer187@gmail.com'),
 (189, 'Customer189', 'Customer189@gmail.com'),
 (192, 'Customer192', 'Customer192@gmail.com'),
 (196, 'Customer196', 'Customer196@gmail.com'),
 (197, 'Customer197', 'Customer197@gmail.com'),
 (200, 'Customer200', 'Customer200@gmail.com'),
 (201, 'Customer201', 'Customer201@gmail.com'),
 (202, 'Customer202', 'Customer202@gmail.com'),
 (204, 'Customer204', 'Customer204@gmail.com'),
 (205, 'Customer205', 'Customer205@gmail.com'),
 (208, 'Customer208', 'Customer208@gmail.com'),
 (210, 'Customer210', 'Customer210@gmail.com'),
 (211, 'Customer211', 'Customer211@gmail.com'),
 (215, 'Customer215', 'Customer215@gmail.com'),
 (220, 'Customer220', 'Customer220@gmail.com'),
 (224, 'Customer224', 'Customer224@gmail.com'),
 (234, 'Customer234', 'Customer234@gmail.com'),
 (235, 'Customer235', 'Customer235@gmail.com'),
 (236, 'Customer236', 'Customer236@gmail.com'),
 (237, 'Customer237', 'Customer237@gmail.com'),
 (239, 'Customer239', 'Customer239@gmail.com'),
 (242, 'Customer242', 'Customer242@gmail.com'),
 (244, 'Customer244', 'Customer244@gmail.com'),
 (245, 'Customer245', 'Customer245@gmail.com'),
 (246, 'Customer246', 'Customer246@gmail.com'),
 (249, 'Customer249', 'Customer249@gmail.com'),
 (250, 'Customer250', 'Customer250@gmail.com'),
 (251, 'Customer251', 'Customer251@gmail.com'),
 (252, 'Customer252', 'Customer252@gmail.com'),
 (254, 'Customer254', 'Customer254@gmail.com'),
 (256, 'Customer256', 'Customer256@gmail.com'),
 (260, 'Customer260', 'Customer260@gmail.com'),
 (262, 'Customer262', 'Customer262@gmail.com'),
 (267, 'Customer267', 'Customer267@gmail.com'),
 (270, 'Customer270', 'Customer270@gmail.com'),
 (271, 'Customer271', 'Customer271@gmail.com'),
 (272, 'Customer272', 'Customer272@gmail.com'),
 (280, 'Customer280', 'Customer280@gmail.com'),
 (284, 'Customer284', 'Customer284@gmail.com'),
 (285, 'Customer285', 'Customer285@gmail.com'),
 (289, 'Customer289', 'Customer289@gmail.com'),
 (290, 'Customer290', 'Customer290@gmail.com'),
 (291, 'Customer291', 'Customer291@gmail.com'),
 (292, 'Customer292', 'Customer292@gmail.com'),
 (295, 'Customer295', 'Customer295@gmail.com'),
 (297, 'Customer297', 'Customer297@gmail.com'),
 (300, 'Customer300', 'Customer300@gmail.com'),
 (301, 'Customer301', 'Customer301@gmail.com'),
 (304, 'Customer304', 'Customer304@gmail.com'),
 (305, 'Customer305', 'Customer305@gmail.com'),
 (308, 'Customer308', 'Customer308@gmail.com'),
 (309, 'Customer309', 'Customer309@gmail.com'),
 (310, 'Customer310', 'Customer310@gmail.com'),
 (311, 'Customer311', 'Customer311@gmail.com'),
 (315, 'Customer315', 'Customer315@gmail.com'),
 (317, 'Customer317', 'Customer317@gmail.com'),
 (318, 'Customer318', 'Customer318@gmail.com'),
 (320, 'Customer320', 'Customer320@gmail.com'),
 (332, 'Customer332', 'Customer332@gmail.com'),
 (333, 'Customer333', 'Customer333@gmail.com'),
 (335, 'Customer335', 'Customer335@gmail.com'),
 (336, 'Customer336', 'Customer336@gmail.com'),
 (340, 'Customer340', 'Customer340@gmail.com'),
 (343, 'Customer343', 'Customer343@gmail.com'),
 (344, 'Customer344', 'Customer344@gmail.com'),
 (349, 'Customer349', 'Customer349@gmail.com'),
 (350, 'Customer350', 'Customer350@gmail.com'),
 (352, 'Customer352', 'Customer352@gmail.com'),
 (353, 'Customer353', 'Customer353@gmail.com'),
 (354, 'Customer354', 'Customer354@gmail.com'),
 (356, 'Customer356', 'Customer356@gmail.com'),
 (358, 'Customer358', 'Customer358@gmail.com'),
 (360, 'Customer360', 'Customer360@gmail.com'),
 (362, 'Customer362', 'Customer362@gmail.com'),
 (365, 'Customer365', 'Customer365@gmail.com'),
 (367, 'Customer367', 'Customer367@gmail.com'),
 (375, 'Customer375', 'Customer375@gmail.com'),
 (379, 'Customer379', 'Customer379@gmail.com'),
 (382, 'Customer382', 'Customer382@gmail.com'),
 (388, 'Customer388', 'Customer388@gmail.com'),
 (389, 'Customer389', 'Customer389@gmail.com'),
 (393, 'Customer393', 'Customer393@gmail.com'),
 (394, 'Customer394', 'Customer394@gmail.com'),
 (396, 'Customer396', 'Customer396@gmail.com'),
 (399, 'Customer399', 'Customer399@gmail.com'),
 (401, 'Customer401', 'Customer401@gmail.com'),
 (402, 'Customer402', 'Customer402@gmail.com'),
 (405, 'Customer405', 'Customer405@gmail.com'),
 (413, 'Customer413', 'Customer413@gmail.com'),
 (418, 'Customer418', 'Customer418@gmail.com'),
 (419, 'Customer419', 'Customer419@gmail.com'),
 (421, 'Customer421', 'Customer421@gmail.com'),
 (422, 'Customer422', 'Customer422@gmail.com'),
 (425, 'Customer425', 'Customer425@gmail.com'),
 (429, 'Customer429', 'Customer429@gmail.com'),
 (432, 'Customer432', 'Customer432@gmail.com'),
 (439, 'Customer439', 'Customer439@gmail.com'),
 (440, 'Customer440', 'Customer440@gmail.com'),
 (444, 'Customer444', 'Customer444@gmail.com'),
 (445, 'Customer445', 'Customer445@gmail.com'),
 (447, 'Customer447', 'Customer447@gmail.com'),
 (450, 'Customer450', 'Customer450@gmail.com'),
 (457, 'Customer457', 'Customer457@gmail.com'),
 (458, 'Customer458', 'Customer458@gmail.com'),
 (459, 'Customer459', 'Customer459@gmail.com'),
 (461, 'Customer461', 'Customer461@gmail.com'),
 (463, 'Customer463', 'Customer463@gmail.com'),
 (467, 'Customer467', 'Customer467@gmail.com'),
 (469, 'Customer469', 'Customer469@gmail.com'),
 (470, 'Customer470', 'Customer470@gmail.com'),
 (473, 'Customer473', 'Customer473@gmail.com'),
 (475, 'Customer475', 'Customer475@gmail.com'),
 (477, 'Customer477', 'Customer477@gmail.com'),
 (479, 'Customer479', 'Customer479@gmail.com'),
 (485, 'Customer485', 'Customer485@gmail.com'),
 (486, 'Customer486', 'Customer486@gmail.com'),
 (487, 'Customer487', 'Customer487@gmail.com'),
 (488, 'Customer488', 'Customer488@gmail.com'),
 (490, 'Customer490', 'Customer490@gmail.com'),
 (491, 'Customer491', 'Customer491@gmail.com'),
 (497, 'Customer497', 'Customer497@gmail.com'),
 (499, 'Customer499', 'Customer499@gmail.com')]

In [ ]:
%%sql

SELECT *
FROM customers
WHERE email LIKE '@gmail.com%'

 * sqlite:///bonga_ecommerce.db
Done.

[]

In [ ]:
%%sql

SELECT *
FROM customers
WHERE email LIKE '%@gmail.com%'

 * sqlite:///bonga_ecommerce.db
Done.

[(2, 'Jane Doe', 'Customer2@gmail.com'),
 (3, 'Customer3', 'Customer3@gmail.com'),
 (6, 'Customer6', 'Customer6@gmail.com'),
 (7, 'Customer7', 'Customer7@gmail.com'),
 (8, 'Customer8', 'Customer8@gmail.com'),
 (10, 'Customer10', 'Customer10@gmail.com'),
 (14, 'Customer14', 'Customer14@gmail.com'),
 (17, 'Customer17', 'Customer17@gmail.com'),
 (18, 'Customer18', 'Customer18@gmail.com'),
 (19, 'Customer19', 'Customer19@gmail.com'),
 (20, 'Customer20', 'Customer20@gmail.com'),
 (21, 'Customer21', 'Customer21@gmail.com'),
 (24, 'Customer24', 'Customer24@gmail.com'),
 (26, 'Customer26', 'Customer26@gmail.com'),
 (32, 'Customer32', 'Customer32@gmail.com'),
 (36, 'Customer36', 'Customer36@gmail.com'),
 (37, 'Customer37', 'Customer37@gmail.com'),
 (42, 'Customer42', 'Customer42@gmail.com'),
 (43, 'Customer43', 'Customer43@gmail.com'),
 (45, 'Customer45', 'Customer45@gmail.com'),
 (46, 'Customer46', 'Customer46@gmail.com'),
 (48, 'Customer48', 'Customer48@gmail.com'),
 (53, 'Customer53', 'Customer53@gmail.com'),
 (57, 'Customer57', 'Customer57@gmail.com'),
 (59, 'Customer59', 'Customer59@gmail.com'),
 (66, 'Customer66', 'Customer66@gmail.com'),
 (68, 'Customer68', 'Customer68@gmail.com'),
 (69, 'Customer69', 'Customer69@gmail.com'),
 (71, 'Customer71', 'Customer71@gmail.com'),
 (73, 'Customer73', 'Customer73@gmail.com'),
 (74, 'Customer74', 'Customer74@gmail.com'),
 (75, 'Customer75', 'Customer75@gmail.com'),
 (81, 'Customer81', 'Customer81@gmail.com'),
 (84, 'Customer84', 'Customer84@gmail.com'),
 (90, 'Customer90', 'Customer90@gmail.com'),
 (93, 'Customer93', 'Customer93@gmail.com'),
 (96, 'Customer96', 'Customer96@gmail.com'),
 (97, 'Customer97', 'Customer97@gmail.com'),
 (104, 'Customer104', 'Customer104@gmail.com'),
 (107, 'Customer107', 'Customer107@gmail.com'),
 (108, 'Customer108', 'Customer108@gmail.com'),
 (109, 'Customer109', 'Customer109@gmail.com'),
 (113, 'Customer113', 'Customer113@gmail.com'),
 (114, 'Customer114', 'Customer114@gmail.com'),
 (118, 'Customer118', 'Customer118@gmail.com'),
 (124, 'Customer124', 'Customer124@gmail.com'),
 (126, 'Customer126', 'Customer126@gmail.com'),
 (127, 'Customer127', 'Customer127@gmail.com'),
 (138, 'Customer138', 'Customer138@gmail.com'),
 (139, 'Customer139', 'Customer139@gmail.com'),
 (142, 'Customer142', 'Customer142@gmail.com'),
 (143, 'Customer143', 'Customer143@gmail.com'),
 (144, 'Customer144', 'Customer144@gmail.com'),
 (145, 'Customer145', 'Customer145@gmail.com'),
 (147, 'Customer147', 'Customer147@gmail.com'),
 (151, 'Customer151', 'Customer151@gmail.com'),
 (159, 'Customer159', 'Customer159@gmail.com'),
 (162, 'Customer162', 'Customer162@gmail.com'),
 (168, 'Customer168', 'Customer168@gmail.com'),
 (171, 'Customer171', 'Customer171@gmail.com'),
 (173, 'Customer173', 'Customer173@gmail.com'),
 (178, 'Customer178', 'Customer178@gmail.com'),
 (180, 'Customer180', 'Customer180@gmail.com'),
 (186, 'Customer186', 'Customer186@gmail.com'),
 (187, 'Customer187', 'Customer187@gmail.com'),
 (189, 'Customer189', 'Customer189@gmail.com'),
 (192, 'Customer192', 'Customer192@gmail.com'),
 (196, 'Customer196', 'Customer196@gmail.com'),
 (197, 'Customer197', 'Customer197@gmail.com'),
 (200, 'Customer200', 'Customer200@gmail.com'),
 (201, 'Customer201', 'Customer201@gmail.com'),
 (202, 'Customer202', 'Customer202@gmail.com'),
 (204, 'Customer204', 'Customer204@gmail.com'),
 (205, 'Customer205', 'Customer205@gmail.com'),
 (208, 'Customer208', 'Customer208@gmail.com'),
 (210, 'Customer210', 'Customer210@gmail.com'),
 (211, 'Customer211', 'Customer211@gmail.com'),
 (215, 'Customer215', 'Customer215@gmail.com'),
 (220, 'Customer220', 'Customer220@gmail.com'),
 (224, 'Customer224', 'Customer224@gmail.com'),
 (234, 'Customer234', 'Customer234@gmail.com'),
 (235, 'Customer235', 'Customer235@gmail.com'),
 (236, 'Customer236', 'Customer236@gmail.com'),
 (237, 'Customer237', 'Customer237@gmail.com'),
 (239, 'Customer239', 'Customer239@gmail.com'),
 (242, 'Customer242', 'Customer242@gmail.com'),
 (244, 'Customer244', 'Customer244@gmail.com'),
 (245, 'Customer245', 'Customer245@gmail.com'),
 (246, 'Customer246', 'Customer246@gmail.com'),
 (249, 'Customer249', 'Customer249@gmail.com'),
 (250, 'Customer250', 'Customer250@gmail.com'),
 (251, 'Customer251', 'Customer251@gmail.com'),
 (252, 'Customer252', 'Customer252@gmail.com'),
 (254, 'Customer254', 'Customer254@gmail.com'),
 (256, 'Customer256', 'Customer256@gmail.com'),
 (260, 'Customer260', 'Customer260@gmail.com'),
 (262, 'Customer262', 'Customer262@gmail.com'),
 (267, 'Customer267', 'Customer267@gmail.com'),
 (270, 'Customer270', 'Customer270@gmail.com'),
 (271, 'Customer271', 'Customer271@gmail.com'),
 (272, 'Customer272', 'Customer272@gmail.com'),
 (280, 'Customer280', 'Customer280@gmail.com'),
 (284, 'Customer284', 'Customer284@gmail.com'),
 (285, 'Customer285', 'Customer285@gmail.com'),
 (289, 'Customer289', 'Customer289@gmail.com'),
 (290, 'Customer290', 'Customer290@gmail.com'),
 (291, 'Customer291', 'Customer291@gmail.com'),
 (292, 'Customer292', 'Customer292@gmail.com'),
 (295, 'Customer295', 'Customer295@gmail.com'),
 (297, 'Customer297', 'Customer297@gmail.com'),
 (300, 'Customer300', 'Customer300@gmail.com'),
 (301, 'Customer301', 'Customer301@gmail.com'),
 (304, 'Customer304', 'Customer304@gmail.com'),
 (305, 'Customer305', 'Customer305@gmail.com'),
 (308, 'Customer308', 'Customer308@gmail.com'),
 (309, 'Customer309', 'Customer309@gmail.com'),
 (310, 'Customer310', 'Customer310@gmail.com'),
 (311, 'Customer311', 'Customer311@gmail.com'),
 (315, 'Customer315', 'Customer315@gmail.com'),
 (317, 'Customer317', 'Customer317@gmail.com'),
 (318, 'Customer318', 'Customer318@gmail.com'),
 (320, 'Customer320', 'Customer320@gmail.com'),
 (332, 'Customer332', 'Customer332@gmail.com'),
 (333, 'Customer333', 'Customer333@gmail.com'),
 (335, 'Customer335', 'Customer335@gmail.com'),
 (336, 'Customer336', 'Customer336@gmail.com'),
 (340, 'Customer340', 'Customer340@gmail.com'),
 (343, 'Customer343', 'Customer343@gmail.com'),
 (344, 'Customer344', 'Customer344@gmail.com'),
 (349, 'Customer349', 'Customer349@gmail.com'),
 (350, 'Customer350', 'Customer350@gmail.com'),
 (352, 'Customer352', 'Customer352@gmail.com'),
 (353, 'Customer353', 'Customer353@gmail.com'),
 (354, 'Customer354', 'Customer354@gmail.com'),
 (356, 'Customer356', 'Customer356@gmail.com'),
 (358, 'Customer358', 'Customer358@gmail.com'),
 (360, 'Customer360', 'Customer360@gmail.com'),
 (362, 'Customer362', 'Customer362@gmail.com'),
 (365, 'Customer365', 'Customer365@gmail.com'),
 (367, 'Customer367', 'Customer367@gmail.com'),
 (375, 'Customer375', 'Customer375@gmail.com'),
 (379, 'Customer379', 'Customer379@gmail.com'),
 (382, 'Customer382', 'Customer382@gmail.com'),
 (388, 'Customer388', 'Customer388@gmail.com'),
 (389, 'Customer389', 'Customer389@gmail.com'),
 (393, 'Customer393', 'Customer393@gmail.com'),
 (394, 'Customer394', 'Customer394@gmail.com'),
 (396, 'Customer396', 'Customer396@gmail.com'),
 (399, 'Customer399', 'Customer399@gmail.com'),
 (401, 'Customer401', 'Customer401@gmail.com'),
 (402, 'Customer402', 'Customer402@gmail.com'),
 (405, 'Customer405', 'Customer405@gmail.com'),
 (413, 'Customer413', 'Customer413@gmail.com'),
 (418, 'Customer418', 'Customer418@gmail.com'),
 (419, 'Customer419', 'Customer419@gmail.com'),
 (421, 'Customer421', 'Customer421@gmail.com'),
 (422, 'Customer422', 'Customer422@gmail.com'),
 (425, 'Customer425', 'Customer425@gmail.com'),
 (429, 'Customer429', 'Customer429@gmail.com'),
 (432, 'Customer432', 'Customer432@gmail.com'),
 (439, 'Customer439', 'Customer439@gmail.com'),
 (440, 'Customer440', 'Customer440@gmail.com'),
 (444, 'Customer444', 'Customer444@gmail.com'),
 (445, 'Customer445', 'Customer445@gmail.com'),
 (447, 'Customer447', 'Customer447@gmail.com'),
 (450, 'Customer450', 'Customer450@gmail.com'),
 (457, 'Customer457', 'Customer457@gmail.com'),
 (458, 'Customer458', 'Customer458@gmail.com'),
 (459, 'Customer459', 'Customer459@gmail.com'),
 (461, 'Customer461', 'Customer461@gmail.com'),
 (463, 'Customer463', 'Customer463@gmail.com'),
 (467, 'Customer467', 'Customer467@gmail.com'),
 (469, 'Customer469', 'Customer469@gmail.com'),
 (470, 'Customer470', 'Customer470@gmail.com'),
 (473, 'Customer473', 'Customer473@gmail.com'),
 (475, 'Customer475', 'Customer475@gmail.com'),
 (477, 'Customer477', 'Customer477@gmail.com'),
 (479, 'Customer479', 'Customer479@gmail.com'),
 (485, 'Customer485', 'Customer485@gmail.com'),
 (486, 'Customer486', 'Customer486@gmail.com'),
 (487, 'Customer487', 'Customer487@gmail.com'),
 (488, 'Customer488', 'Customer488@gmail.com'),
 (490, 'Customer490', 'Customer490@gmail.com'),
 (491, 'Customer491', 'Customer491@gmail.com'),
 (497, 'Customer497', 'Customer497@gmail.com'),
 (499, 'Customer499', 'Customer499@gmail.com')]

In [ ]:
%%sql

SELECT *
FROM products
WHERE name LIKE '%laptop%'

 * sqlite:///bonga_ecommerce.db
Done.

[(None, 'New laptop', 399.99, 'Electronics')]

In [ ]:
%%sql

INSERT INTO products (name, price, category) VALUES ('New gadget', 299.99, 'Electronics')

 * sqlite:///bonga_ecommerce.db
1 rows affected.

[]

In [ ]:
%%sql

SELECT *
FROM products
WHERE name LIKE '%gadget%'

 * sqlite:///bonga_ecommerce.db
Done.

[(None, 'New gadget', 299.99, 'Electronics')]

# BETWEEN